
@{
    ViewBag.Title = "about";
}

@{ var meta_sitesec = "GCLabs"; }
@{ var meta_sitename = "GC녹십자의료재단"; }
@{ var meta_title = "재단소개"; }
@{ var meta_Site_image = "http://121.140.143.35:4060/assets/images/gclabs-logo.png"; }
@{ var meta_description = "고객의 행복과 건강을 책임지는 GC의료재단을 소개합니다."; }
@{ var meta_page_url = "http://121.140.143.35:4060/gclabs/detail"; }
@{ var meta_keywords = "재단소개"; }
@{ var meta_twitter_site = ""; }

@section meta {
    <title>@meta_title</title>
    <meta name="description" content="@meta_description" />
    <meta name="keywords" content="@meta_keywords" />
    <meta property="og:title" content="@meta_title" />
    <meta property="og:type" content="웹 사이트" />
    <meta property="og:description" content="@meta_description" />
    <meta property="og:image" content="@meta_Site_image" />
    <meta property="og:url" content="@meta_page_url" />
    <meta property="og:site_name" content="@meta_sitename" />
    <meta name="twitter:card" content="요약" />
    <meta name="twitter:site" content="@meta_twitter_site" />
    <meta name="twitter:title" content="@meta_title" />
    <meta name="twitter:description" content="@meta_description" />
    <meta name="ms.sitename" content="@meta_sitename" />
    <meta name="ms.sitesec" content="@meta_sitesec" />
}
@section script {

    <script type="text/javascript" src="../../assets/lib/jquery-2.2.4.min.js"></script>
    <!-- Live List Layout -->
    <script type="text/javascript" src="../../assets/lib/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="../../assets/lib/slick.min.js"></script>
    <script type="text/javascript" src="../../assets/js/app.js"></script>


}
<div id="container" class="container gclabs">
    <div class="contents-wrap">
        <div class="contents-inner">

            <div class="breadcrumb">
                <span><a href="#">홈</a></span>

                <span class="current">재단소개</span>
            </div>

            <div class="page-title">
                <h2 class="title">재단소개</h2>
                <p class="text">고객의 행복과 건강을 책임지는 <br class='mobile'>GC녹십자의료재단을 소개합니다.</p>
            </div>

            <div class="about-wrap">
                <div class="contents-section">
                    <h3 class="title-logo gclabs"><span class="hidden">GC녹십자의료재단</span></h3>
                    <div class="about-gclabs-wrap">
                        <ul class="about-gclabs">
                            <li class="about-01">
                                <strong class="text"><em>1</em>st</strong>
                                <span class="desc">국내 최고 임상검사 전문의료기관</span>
                            </li>
                            <li class="about-02">
                                <strong class="text"><em>43</em></strong>
                                <span class="desc">약 43여명의 전문 의료진</span>
                            </li>
                            <li class="about-03">
                                <strong class="text"><em>40</em></strong>
                                <span class="desc">1982년 설립이후 40여년의 역사</span>
                            </li>
                            <li class="about-04">
                                <strong class="text"><em>5,000</em></strong>
                                <span class="desc">약 5,000여 항목 검사 수행</span>
                            </li>
                            <li class="about-05">
                                <strong class="text"><em>3,300</em></strong>
                                <span class="desc">3,300개의 의료기관에 서비스 제공</span>
                            </li>
                            <li class="about-06">
                                <strong class="text"><em>2,500</em>/hour</strong>
                                <span class="desc">최첨단 임상검사 전자동화 시스템을 통한 신속한 검사수행</span>
                            </li>
                            <li class="about-07">
                                <strong class="text"><em>80</em>million</strong>
                                <span class="desc">연간 8,000만건의 검사수행</span>
                            </li>
                            <li class="about-08">
                                <strong class="text"><em>50</em></strong>
                                <span class="desc">전국 네트워크 : <br>3개 검사센터와 50여개의 사무소</span>
                            </li>
                            <li class="about-09">
                                <strong class="text"><em>1</em>st</strong>
                                <span class="desc">국제적 수준의 검사시스템</span>
                            </li>
                        </ul>
                    </div>
                    <div class="text-area">
                        <span class="head">GC녹십자의료재단은 약 800여 명의 임상검사 전문 의료인들로 구성되어 진단검사의학적 검사와 병리학적 검사를 모두 수행하고 있습니다.</span>
                        <p class="text">
                            일반검사부터 분자유전검사, 특수 생화학 검사 등의 특수검사에 이르기까지 약 5,000여 항목의 검사를 수행합니다. <br>특히 세계 유수의 임상검사관련 전문기관들과 협력관계를 맺고 혁신적인 신기술을 끊임없이 연구하여 임상검사에 적용하고 있습니다.<br><br>
                            또한 첨단 장비를 도입하고, 우수한 인재를 양성하여 각 임상검사분야의 첨단 특수검사를 중점적으로 연구개발하고 있습니다.
                        </p>
                    </div>
                </div>
                <div class="contents-section">
                    <h3 class="title-logo gcimed"><span class="hidden">GC녹십자아이메드</span></h3>
                    <div class="about-gcimed-wrap">
                        <div class="slider-wrap about">
                            <div class="sliders">
                                <div class="slick-slide">
                                    <img src="../../../assets/images/img-about-gcimed-01-pc.png" class="pc tablet">
                                    <img src="../../../assets/images/img-about-gcimed-01-mo.png" class="mobile">
                                </div>
                                <div class="slick-slide">
                                    <img src="../../../assets/images/img-about-gcimed-02-pc.png" class="pc tablet">
                                    <img src="../../../assets/images/img-about-gcimed-02-mo.png" class="mobile">
                                </div>
                                <div class="slick-slide">
                                    <img src="../../../assets/images/img-about-gcimed-03-pc.png" class="pc tablet">
                                    <img src="../../../assets/images/img-about-gcimed-03-mo.png" class="mobile">
                                </div>
                                <div class="slick-slide">
                                    <img src="../../../assets/images/img-about-gcimed-04-pc.png" class="pc tablet">
                                    <img src="../../../assets/images/img-about-gcimed-04-mo.png" class="mobile">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-area">
                        <span class="head">GC녹십자아이메드는 첨단 의료 IT시스템과 효율적인 건강관리 프로그램을 개발하여 맞춤형 정밀 건강검진을 실현하고 있습니다.</span>
                        <p class="text">
                            GC녹십자의료재단은 맞춤형 건강검진 서비스를 제공하는 건강검진기관 GC녹십자아이메드와 함께 건강검진과 검사 서비스를 제공하고 있습니다. <br>
                            GC녹십자의료재단은 GC녹십자아이메드에서 수행하는 혈액/소변종합검진을 관장하여 질병의 진단 및 추적 관찰을 할  수 있는 혈액검사 및 결과분석 서비스를 제공하고 있습니다.<br><br>
                            또한, 개인의 질병을 사전에 예측하고 더 나아가 맞춤형 건강관리 솔루션까지 제공하는 새로운 건강검진 패러다임을 선도하고 있습니다.<br>
                            <!-- 나이, 성별, 질병의 종류 및 단계에 상관없이 인간 중심으로 약물, 수술에 의존하지 않고 생활습관의 변화, 음식조절9Food Therapy), 개인에 적합한 영양치료, 자세교정 등을 통합치료하는 통합진료를 제공하고 있습니다. -->
                        </p><br><br>

                        <div class="btn-group">

                            <a href="https://www.gcimed.com" target="_blank" class="btn btn-arrow">
                                <span>GC녹십자아이메드 홈페이지  →</span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
