@{
    ViewBag.Title = "global";
}
@{ var meta_sitesec = "GCLabs"; }
@{ var meta_sitename = "GC녹십자의료재단"; }
@{ var meta_title = "해외사업"; }
@{ var meta_Site_image = "http://121.140.143.35:4060/assets/images/gclabs-logo.png"; }
@{ var meta_description = "GDN의 창단 멤버로 다양한 활동에 참여하고 있습니다."; }
@{ var meta_page_url = "http://121.140.143.35:4060/gclabs/detail"; }
@{ var meta_keywords = "재단소개, 해외사업"; }
@{ var meta_twitter_site = ""; }
@section meta {
    <title>@meta_title</title>
    <meta name="description" content="@meta_description" />
    <meta name="keywords" content="@meta_keywords" />
    <meta property="og:title" content="@meta_title" />
    <meta property="og:type" content="웹 사이트" />
    <meta property="og:description" content="@meta_description" />
    <meta property="og:image" content="@meta_Site_image" />
    <meta property="og:url" content="@meta_page_url" />
    <meta property="og:site_name" content="@meta_sitename" />
    <meta name="twitter:card" content="요약" />
    <meta name="twitter:site" content="@meta_twitter_site" />
    <meta name="twitter:title" content="@meta_title" />
    <meta name="twitter:description" content="@meta_description" />
    <meta name="ms.sitename" content="@meta_sitename" />
    <meta name="ms.sitesec" content="@meta_sitesec" />
}
@section script {
    <script type="text/javascript" src="../../assets/lib/jquery-2.2.4.min.js"></script>
    <!-- Live List Layout -->
    <script type="text/javascript" src="../../assets/lib/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="../../assets/lib/slick.min.js"></script>
    <script type="text/javascript" src="../../assets/js/app.js"></script>
}
    <div id="container" class="container gclabs">
        <div class="contents-wrap">
            <div class="contents-inner">

                <div class="breadcrumb">
                    <span><a href="#">홈</a></span>


                    <span><a href="#">재단소개</a></span>


                    <span class="current">해외사업</span>
                </div>

                <div class="page-title">
                    <h2 class="title">해외사업</h2>
                    <p class="text">GDN의 창단 멤버로 다양한 활동에<br class='mobile'> 참여하고 있습니다.</p>
                </div>

                <div class="global-wrap">
                    <div class="text-wrap">
                        <p class="title"><strong><span class="green">G</span>lobal <span class="gray">D</span>iagnostics <span class="gray">N</span>etwork(GDN)</strong></p>
                        <p class="text">전 세계 인구의 65% 이상을 포괄하는<br class="mobile"> 강력한 글로벌 플랫폼 보유</p>
                        <p class="text">글로벌 진단검사 네트워크 중 가장 크고 강력한 GDN의<br class="mobile"> 창단 멤버로 다양한 활동에 참여하고 있습니다.</p>
                    </div>
                    <div class="global-img-area">
                        <div class="img-area">

                            <img src="../../../assets/images/img-global-pc.png" class="pc tablet" alt="">
                            <img src="../../../assets/images/img-global-mo.png" class="mobile" alt="">


                        </div>
                        <ul class="hidden">
                            <li>GDN Strategic Member Area </li>
                            <li>GDN Associate Area</li>
                            <li>Presently Non-Covered Area</li>
                        </ul>
                        <span class="detail-view-mo">
                            <button type="button" class="btn-view-mo"><span>자세히보기</span></button>
                        </span>
                    </div>
                    <div class="gdn-area">
                        <ul class="lists">
                            <li class="item item01">
                                <div class="icon">
                                    <i class="icon01"></i><span class="txt"><strong>NO.1</strong>GDN</span>
                                </div>
                                <p class="text">글로벌 NO.1<br>의료 네트워크</p>
                            </li>
                            <li class="item item02">
                                <div class="icon">
                                    <i class="icon02"></i><span class="txt"><strong>10개</strong>기관</span>
                                </div>
                                <p class="text">전세계 메이저<br>10개기관</p>
                            </li>
                            <li class="item item03">
                                <div class="icon">
                                    <i class="icon03"></i><span class="txt"><strong>75</strong>개국</span>
                                </div>
                                <p class="text">세계 인구의<br>65%를 차지하는 75개국</p>
                            </li>
                            <li class="item item04">
                                <div class="icon">
                                    <i class="icon04"></i><span class="txt"><strong>3억</strong> 명</span>
                                </div>
                                <p class="text">연간 환자<br>3억 명</p>
                            </li>
                            <li class="item item05">
                                <div class="icon">
                                    <i class="icon05"></i><span class="txt"><strong>90%</strong>이상</span>
                                </div>
                                <p class="text">90% 이상의<br>글로벌 의약품 매출</p>
                            </li>
                            <li class="item item06">
                                <div class="icon">
                                    <i class="icon06"></i><span class="txt"><strong>30,000</strong>곳</span>
                                </div>
                                <p class="text">30,000곳 이상의<br>채혈소 위치</p>
                            </li>
                            <li class="item item07">
                                <div class="icon">
                                    <i class="icon07"></i><span class="txt"><strong>5백만</strong> 건</span>
                                </div>
                                <p class="text">하루 5백만 건<br>검사 수행</p>
                            </li>
                            <li class="item item08">
                                <div class="icon">
                                    <i class="icon08"></i><span class="txt"><strong>20억</strong> 건</span>
                                </div>
                                <p class="text">연간 20억건<br>검사 수행</p>
                            </li>
                        </ul>
                    </div>
                    <div class="section">

                        <div class="title-wrap">
                            <h3 class="title-h3">주요 핵심 과제</h3>
                            <div class="text-box">
                                <ul class="list-style dot">
                                    <li class="">
                                        동반 진단을 위한 글로벌 플랫폼
                                    </li>

                                    <li class="">
                                        전염병 연구 및 반응에 대한 빠른 대처를 위해 향후 발생 할 수 있는 병원균에 대한 대비망 형성
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="section corporation-sect">
                        <div class="title-wrap">
                            <h3 class="title-h3">참여 기업</h3>
                        </div>
                        <div class="corporation-list">
                            <ul class="lists">

                                <li class="item">
                                    <a href="https://gclabs.co.kr/eng" target="_blank">
                                        <span class="img"><img src="../../../assets/images/logo-g-gclabs.png" alt="" class="grayscale"></span>
                                        <span class="text">한국  GC녹십자의료재단</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="https://www.questdiagnostics.com/" target="_blank">
                                        <span class="img"><img src="../../../assets/images/logo-quest.png" alt="" class="grayscale"></span>
                                        <span class="text">미국  Quest Diagnostics</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="https://dasa.com.br/" target="_blank">
                                        <span class="img"><img src="../../../assets/images/logo-dasa.png" alt="" class="grayscale"></span>
                                        <span class="text">브라질  Dasa</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="https://www.lifelabs.com/" target="_blank">
                                        <span class="img"><img src="../../../assets/images/logo-lifelabs.png" alt="" class="grayscale"></span>
                                        <span class="text">캐나다  Life Labs</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="https://www.synlab.com/" target="_blank">
                                        <span class="img"><img src="../../../assets/images/logo-synlab.png" alt="" class="grayscale"></span>
                                        <span class="text">독일 Synlab</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="https://alborgdx.com/en/home/" target="_blank">
                                        <span class="img"><img src="../../../assets/images/logo-al-borg.png" alt="" class="grayscale"></span>
                                        <span class="text">사우디아라비아  Al Borg Medical Laboratories</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="https://strandls.com" target="_blank">
                                        <span class="img"><img src="../../../assets/images/logo-strandlife.png" alt="" class="grayscale"></span>
                                        <span class="text">인도  Strand Life Sciences</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="https://en.kingmed.com.cn/" target="_blank">
                                        <span class="img"><img src="../../../assets/images/logo-kingmed.png" alt="" class="grayscale"></span>
                                        <span class="text">중국 KingMed Diagnostics</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="https://www.healius.com.au/" target="_blank">
                                        <span class="img"><img src="../../../assets/images/logo-healius.png" alt="" class="grayscale"></span>
                                        <span class="text">호주  Healius</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="https://www.medience.co.jp/english/" target="_blank">
                                        <span class="img"><img src="../../../assets/images/logo-lsi.png" alt="" class="grayscale"></span>
                                        <span class="text">일본  LSI Medience</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="section business-sect">
                        <div class="title-wrap">
                            <h3 class="title-h3">사업영역</h3>
                        </div>
                        <h4 class="title-h4">진단 서비스</h4>
                        <div class="gray-box img-box">

                            <div class="info">
                                <p class="title">진단 검사 서비스 Flow</p>
                                <p class="desc">GC녹십자의료재단의 우수한 검진검체 진단 노하우를 현지 센터에 적용하여 지역 내 가장 Advanced된 서비스를 제공합니다.</p>
                            </div>
                            <ul class="lists">

                                <li>

                                    <p class="img">
                                        <img src="../../../assets/images/icon-co-01.png" alt="">
                                    </p>


                                    <p class="text">Local<br> Partner Lab</p>


                                </li>

                                <li>

                                    <p class="img">
                                        <img src="../../../assets/images/icon-co-02.png" alt="">
                                    </p>


                                    <p class="text">Sample<br>Collection</p>


                                </li>

                                <li>

                                    <p class="img">
                                        <img src="../../../assets/images/icon-co-03.png" alt="">
                                    </p>


                                    <p class="text">Sample<br>Packaging</p>


                                </li>

                                <li>

                                    <p class="img">
                                        <img src="../../../assets/images/icon-co-04.png" alt="">
                                    </p>


                                    <p class="text">International <br> Air Transportations</p>


                                </li>

                                <li>

                                    <p class="img">
                                        <img src="../../../assets/images/icon-co-05.png" alt="">
                                    </p>


                                    <p class="text">Registration<br>Analysis</p>


                                </li>

                                <li>

                                    <p class="img">
                                        <img src="../../../assets/images/icon-co-06.png" alt="">
                                    </p>


                                    <p class="text">Result<br>Report</p>


                                </li>

                            </ul>
                        </div>
                        <div class="board-wrap global-service">

                            <div class="board-list">
                                <div class="list-wrap">
                                    <ul class="lists global">
                                        <li class="item ">


                                            <a href="#n" class="box" style="cursor:default">




                                                <div class="thumbnail">
                                                    <img src="../../../assets/images/img-global-0101.png" alt="">


                                                </div>




                                                <div class="contents">



                                                    <strong class="title">진단 검사 의학센터 </strong>





                                                    <div class="content">
                                                        <ul class="list-style dot">

                                                            <li>국내 최다 항목의 Specific IgE 검사</li>

                                                            <li>TLA(임상검사 전자동화) 시스템 도입</li>

                                                            <li>국내 최대규모 최첨단 탠덤 질량분석기 보유</li>

                                                            <li>신 기술을 이용한 유전자 분석</li>

                                                        </ul>
                                                    </div>

















                                                </div>



                                            </a>



                                        </li>
                                        <li class="item ">


                                            <a href="#n" class="box" style="cursor:default">




                                                <div class="thumbnail">
                                                    <img src="../../../assets/images/img-global-0102.png" alt="">


                                                </div>




                                                <div class="contents">



                                                    <strong class="title">병리검사센터</strong>





                                                    <div class="content">
                                                        <ul class="list-style dot">

                                                            <li>국내 최대 면역조직화학염색 항체보유</li>

                                                            <li>TAI를 활용한 암 진단 알고리즘 개발</li>

                                                        </ul>
                                                    </div>

















                                                </div>



                                            </a>



                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <h4 class="title-h4">컨설팅 서비스</h4>
                            <p class="dot">초기 설립 단계에서 최적의 장비, 검사 IT System, 인력 배치를 통해 원활한 Workflow가 이루어 질 수 있도록합니다. 또한 GC녹십자의료재단의 인력을 현장에 배치하여 전체 Work flow의 각 단계를 관리합니다. </p>
                            <div class="board-list">
                                <div class="list-wrap">
                                    <ul class="lists global">
                                        <li class="item ">


                                            <a href="#n" class="box" style="cursor:default">




                                                <div class="thumbnail">
                                                    <img src="../../../assets/images/img-global-0201.png" alt="">


                                                </div>




                                                <div class="contents">



                                                    <strong class="title">검사실 장비 setting 및 인증 작업</strong>



                                                    <p class="content">검사실 설립과 병행하여 효율적 검사실 장비 구입 및 배치 등이 중요한 바, 이에 대한 노하우가 풍부한 GC녹십자의료 재단이 검사실 설립 형태에 따른 최적의 Guideline을 제시함</p>



















                                                </div>



                                            </a>



                                        </li>
                                        <li class="item ">


                                            <a href="#n" class="box" style="cursor:default">




                                                <div class="thumbnail">
                                                    <img src="../../../assets/images/img-global-0202.png" alt="">


                                                </div>




                                                <div class="contents">



                                                    <strong class="title">시스템(IT) 셋업</strong>



                                                    <p class="content">Globally advance된 LIS(Lab Information System)를 Embed시켜 검사자와 의뢰환자 모두에게 효율적이고 안정된 system 제공 가능</p>



















                                                </div>



                                            </a>



                                        </li>
                                        <li class="item ">


                                            <a href="#n" class="box" style="cursor:default">




                                                <div class="thumbnail">
                                                    <img src="../../../assets/images/img-global-0203.png" alt="">


                                                </div>




                                                <div class="contents">



                                                    <strong class="title">Operation Workflow</strong>



                                                    <p class="content">규모에 맞는 인력배치 및 운영안에 대한 설계 및 실제 운영 Monitoring을 진행하여 최적화된 Operation Svc.를 제공함</p>



















                                                </div>



                                            </a>



                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <h4 class="title-h4">학술 정보제공</h4>
                            <p class="dot">검사실 설립 이후에도, 계속된 초청 교육 및 현지 세미나 지원 등을 통해 Quality 우수성을 유지할 수 있도록 Curriculum을 제공합니다.</p>
                            <div class="board-list">
                                <div class="list-wrap">
                                    <ul class="lists global">
                                        <li class="item ">
                                            <a href="#n" class="box" style="cursor:default">
                                                <div class="thumbnail">
                                                    <img src="../../../assets/images/img-global-0301.png" alt="">
                                                </div>
                                                <div class="contents">
                                                    <strong class="title">Training</strong>
                                                    <p class="content">본사 초청 Training 진행</p>
                                                    <div class="content">
                                                        <ul class="list-style dot">
                                                            <li>신규 검진 검체 Test 항목 추가</li>
                                                            <li>신규 장비 도입</li>
                                                            <li>신규 의료 인력 채용 시 본사 초청 교육  진행</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="item ">
                                            <a href="#n" class="box" style="cursor:default">
                                                <div class="thumbnail">
                                                    <img src="../../../assets/images/img-global-0302.png" alt="">
                                                </div>
                                                <div class="contents">
                                                    <strong class="title">Conference/Seminar</strong>
                                                    <p class="content">현지 의사 대상 Seminar 진행 시 강연 support</p>
                                                    <div class="content">
                                                        <ul class="list-style dot">
                                                            <li>정기/비정기 학술 Seminar를 개최하여 해당 검사실 시설의 우수성 홍보 : 발표 지원, 마케팅 머티리얼 제공</li>
                                                            <li>본사 작성 머티리얼들의 현지화 및 번역 자료 제공</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>