
@{
    ViewBag.Title = "greeting";
}

@{ var meta_sitesec = "GCLabs"; }
@{ var meta_sitename = "GC녹십자의료재단"; }
@{ var meta_title = "인사말"; }
@{ var meta_Site_image = "http://121.140.143.35:4060/assets/images/gclabs-logo.png"; }
@{ var meta_description = "GC녹십자의료재단을 찾아 주시는 여러분께 감사드립니다."; }
@{ var meta_page_url = "http://121.140.143.35:4060/gclabs/detail"; }
@{ var meta_keywords = "재단소개, 인사말"; }
@{ var meta_twitter_site = ""; }

@section meta {
    <title>@meta_title</title>
    <meta name="description" content="@meta_description" />
    <meta name="keywords" content="@meta_keywords" />
    <meta property="og:title" content="@meta_title" />
    <meta property="og:type" content="웹 사이트" />
    <meta property="og:description" content="@meta_description" />
    <meta property="og:image" content="@meta_Site_image" />
    <meta property="og:url" content="@meta_page_url" />
    <meta property="og:site_name" content="@meta_sitename" />
    <meta name="twitter:card" content="요약" />
    <meta name="twitter:site" content="@meta_twitter_site" />
    <meta name="twitter:title" content="@meta_title" />
    <meta name="twitter:description" content="@meta_description" />
    <meta name="ms.sitename" content="@meta_sitename" />
    <meta name="ms.sitesec" content="@meta_sitesec" />
}

@section script {
    <script type="text/javascript" src="../../assets/lib/jquery-2.2.4.min.js"></script>
    <!-- Live List Layout -->
    <script type="text/javascript" src="../../assets/lib/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="../../assets/lib/slick.min.js"></script>
    <script type="text/javascript" src="../../assets/js/app.js"></script>
}

    <div id="container" class="container gclabs">
        <div class="contents-wrap">
            <div class="contents-inner">

                <div class="breadcrumb">
                    <span><a href="#">홈</a></span>


                    <span><a href="#">재단소개</a></span>


                    <span class="current">인사말</span>
                </div>

                <div class="page-title">
                    <h2 class="title">인사말</h2>
                    <p class="text">GC녹십자의료재단을 찾아 주시는 여러분께 감사드립니다.</p>
                </div>

                <div class="greeting-wrap">
                    <div class="sub-visual">

                        <img src="../../../assets/images/visual-greeting-pc.png" class="sub-visual-pc" alt="최상의 진료, 최선의 노력 세계로 뻗어 나가는 글로벌 의료 GC Labs가 앞장서겠습니다.">
                        <img src="../../../assets/images/visual-greeting-mo.png" class="sub-visual-mo" alt="최상의 진료, 최선의 노력 세계로 뻗어 나가는 글로벌 의료 GC Labs가 앞장서겠습니다.">


                    </div>

                    <div class="text-wrap">
                        <p class="text"><strong>안녕하십니까 GC녹십자의료재단 이사장 이은희 입니다.</strong></p>
                        <p class="text">원칙을 중시하되 변화를 두려워하지 않는 도전정신, 미래를 향한 열정을 바탕으로 글로벌 임상검사기관으로 비상하고 있는 GC녹십자의료재단은 1982년부터 지금까지, 40여 년간 축적해 온 독자적 노하우로 국제적 수준의 진단검사의학적 검사와 병리학적 검사를 수행해 오고 있습니다.</p>
                        <p class="text">약 800여명의 임상검사 전문 의료인들로 구성된 GC녹십자의료재단은 일반검사부터 분자유전검사, 특수 생화학 검사 등의 특수검사에 이르기까지 약 5,000여 항목의 검사를 수행하고 있습니다. 특히, 세계 유수의 임상검사관련 전문기관들과 협력관계를 맺는 개방적 혁신방법으로 꾸준히 신기술을 도입, 적용하고 있습니다. 또한 첨단 장비를 지속 도입하고, 우수한 인재를 적극 양성하여 각 임상검사분야의 첨단 특수검사를 중점적으로 연구 개발하고 있습니다.</p>
                        <p class="text">GC녹십자의료재단은 지난 40여 년간 축적해 온 역량을 바탕으로 의료현장에서 열과 성을 다하고 계신 의료진들이 최적의 진료와 치료를 진행할 수 있도록 최선의 노력을 기울이고자 합니다. GC녹십자의료재단의 발전에 든든한 힘이 되어 주신 여러분들의 끊임없는 믿음과 지원에 감사드리며, 앞으로도 아낌없는 조언과 격려를 부탁 드립니다. <br>감사합니다.</p>
                        <div class="sign-area">
                            <p class="text">GC녹십자의료재단 이사장</span><br>이은희 <span class="">M.D., Ph.D., MBA</span></p>
                            <p class="text"></p><!-- <span class="im"><img src="../../../assets/images/director_sign.png" alt="이은희 M.D., Ph.D., MBA"></span> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>