
@{
    ViewBag.Title = "value";
}

@{ var meta_sitesec = "GCLabs"; }
@{ var meta_sitename = "GC녹십자의료재단"; }
@{ var meta_title = "핵심가치"; }
@{ var meta_Site_image = "http://121.140.143.35:4060/assets/images/gclabs-logo.png"; }
@{ var meta_description = "30년 이상의 역사, 그리고 새로운 도전 GC녹십자의료재단"; }
@{ var meta_page_url = "http://121.140.143.35:4060/gclabs/detail"; }
@{ var meta_keywords = "경영이념, 핵심가치"; }
@{ var meta_twitter_site = ""; }

@{
    var list_count = 1;
}

@section meta {
    <title>@meta_title</title>
    <meta name="description" content="@meta_description" />
    <meta name="keywords" content="@meta_keywords" />
    <meta property="og:title" content="@meta_title" />
    <meta property="og:type" content="웹 사이트" />
    <meta property="og:description" content="@meta_description" />
    <meta property="og:image" content="@meta_Site_image" />
    <meta property="og:url" content="@meta_page_url" />
    <meta property="og:site_name" content="@meta_sitename" />
    <meta name="twitter:card" content="요약" />
    <meta name="twitter:site" content="@meta_twitter_site" />
    <meta name="twitter:title" content="@meta_title" />
    <meta name="twitter:description" content="@meta_description" />
    <meta name="ms.sitename" content="@meta_sitename" />
    <meta name="ms.sitesec" content="@meta_sitesec" />
}

@section script {
    <script type="text/javascript" src="../../assets/lib/jquery-2.2.4.min.js"></script>
    <!-- Live List Layout -->
    <script type="text/javascript" src="../../assets/lib/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="../../assets/lib/slick.min.js"></script>
    <script type="text/javascript" src="../../assets/js/app.js"></script>
}

    <div id="container" class="container gclabs">
        <div class="contents-wrap">
            <div class="contents-inner">

                <div class="breadcrumb">
                    <span><a href="#">홈</a></span>


                    <span><a href="#">경영이념</a></span>


                    <span class="current">핵심가치</span>
                </div>

                <div class="page-title">
                    <h2 class="title">핵심가치</h2>
                    <p class="text">40년 이상의 역사, 그리고 새로운 도전 GC녹십자의료재단 </p>
                </div>

                <div class="value-wrap">

                    <div class="value-area">
                        <div class="img-area">

                            <img src="../../../assets/images/text-core-value-pc.png" class="pc tablet" alt="GC Labs Key value">
                            <img src="../../../assets/images/text-core-value.png" class="mobile" alt="GC Labs Key value">


                        </div>
                        <h3 class="hidden">GC Labs Key value</h3>
                        <ul class="lists">
                            <li class="item1">
                                <div class="icon">
                                    <img src="../../../assets/images/icon-core-value-01.png" alt="">
                                </div>
                                <strong class="title">존중ㆍ배려</strong>
                                <p class="text">
                                    <strong>모든것들에 대해 높이고 중히 여기며<br class="br"> 아끼고 살펴주는 마음</strong>
                                    <span>
                                        생명에 대한 외경, 고객 종업원에 대한 관심과 정성, 존중.<br>
                                        모든 이해 관계자들에 대한 배려는
                                        <em>GC Labs의 정신</em>
                                    </span>
                                </p>
                            </li>
                            <li class="item2">
                                <div class="icon">
                                    <img src="../../../assets/images/icon-core-value-02.png" alt="">
                                </div>
                                <strong class="title">정도ㆍ투명</strong>
                                <p class="text">
                                    <strong>누가 뭐래도 바른길을 가며, 흐리지 않고<br class="br"> 속까지 환히 트여 밝히는 마음</strong>
                                    <span>기본과 원칙에 충실하고, 바른 길이 아니면 가지 않으며, 목전의 이익보다 정도의 정의를 존중하는  <em>GC Labs의 올바름</em></span>
                                </p>
                            </li>
                            <li class="item3">
                                <div class="icon">
                                    <img src="../../../assets/images/icon-core-value-03.png" alt="">
                                </div>
                                <strong class="title">소통ㆍ협력</strong>
                                <p class="text">
                                    <strong>상대와의 생각이 막히지 않고 원활히 통하며<br class="br"> 어려움도 힘을 합하여 돕는 마음</strong>
                                    <span>열린 마음으로 상호소통, 협력하면서  전체 파이를 확대해 나가는 <em>GC Labs의 공동체 형성 의식</em></span>
                                </p>
                            </li>
                            <li class="item4">
                                <div class="icon">
                                    <img src="../../../assets/images/icon-core-value-04.png" alt="">
                                </div>
                                <strong class="title">열정ㆍ도전</strong>
                                <p class="text">
                                    <strong>도전정신을 가지고 맡은일에 열렬한 <br class="br">애정을 가지고 열중하는 마음</strong>
                                    <span>주인의식과 책임감을 가지고 능동적으로 가치를 창출하며, 변화를 주도하면서 앞으로 나아가려는 <em>GC Labs의 DNA</em></span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>