@using HALLA_PM.Models;
@using HALLA_PM.Core;
@using HALLA_PM.Util;
@{
    ViewBag.Title = "Write";
    Layout = "~/Views/Shared/_LayoutSiteMng.cshtml";

    List<OrgCompany> list = Model.orgList;
    Search search = ViewBag.Search;
}

<div id="container">
    <div class="location">
        <span class="home"><i class="fa fa-home"></i></span>
        <span>관리자 관리</span>
        <strong>관리자 권한관리</strong>
    </div>

    <form name="frmMain" id="frmMain" method="post">
        <input type="hidden" name="AuthUserKey" id="AuthUserKey" value="" />
        <input type="hidden" name="PageIndex" value="@(search.PageIndex)" />
        <input type="hidden" name="message" value="등록" />
        <div class="con_box search">
            <h3 class="mt0">관리자 권한관리</h3>
            <div class="bg_gray">
                <i class="fa fa-info-circle" aria-hidden="true"></i> 구성원 검색 시 이름, 사번은 자동으로 입력됩니다.<br />
                <i class="fa fa-info-circle" aria-hidden="true"></i> 조직관리 및 메뉴는 한 명이 여러 개를 관리할 수 있습니다.
            </div>
        </div>
        <!--// con_box -->

        <div class="con_box">
            <table class="tbl th_ver ta_left">
                <caption></caption>
                <colgroup>
                    <col width="15%" />
                    <col width="/" />
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">이름</th>
                        <td>
                            <input type="text" name="AuthUserKorName" id="AuthUserKorName" style="width:40%;" readonly />
                            <button class="btn small full_gray" type="button" onclick="javascript: MYAPP.layerControl.layerShow($('#mem_search_layer'));">구성원 검색</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">사번</th>
                        <td>
                            <input type="text" name="AuthEmpNo" id="AuthEmpNo" style="width:40%;" readonly />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">회사명</th>
                        <td>
                            <input type="text" name="CompKorName" id="CompKorName" style="width:40%;" readonly value="" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">직위</th>
                        <td>
                            <input type="text" name="LevelKorName" id="LevelKorName" style="width:40%;" readonly value="" />
                        </td>
                    </tr>
                    <tr>
                        <th>마스터권한</th>
                        <td>
                            @{
                                foreach (var item in Define.AUTH_LEVEL)
                                {
                                    <div class="style_radio">
                                        <label>
                                            <input type="radio" name="AuthLevel" value="@item.Key"><i></i>
                                            <strong>@item.Value</strong>
                                        </label>
                                    </div>
                                }
                            }
                                        <!--
                        <div class="style_radio">
                            <label>
                                <input type="radio" name="radio1" checked><i></i>
                                <strong>최종 관리자</strong>
                            </label>
                        </div>
                        <div class="style_radio">
                            <label>
                                <input type="radio" name="radio1"><i></i>
                                <strong>중간 관리자</strong>
                            </label>
                        </div>
                        <div class="style_radio">
                            <label>
                                <input type="radio" name="radio1"><i></i>
                                <strong>실적 담당자</strong>
                            </label>
                        </div>
                        -->
                        </td>
                    </tr>
                    <tr>
                        <th>공시권한</th>
                        <td>
                            <div class="style_radio">
                                <label>
                                    <input type="radio" name="IsDisclosure" value="Y" checked><i></i>
                                    <strong>사용</strong>
                                </label>
                            </div>
                            <div class="style_radio">
                                <label>
                                    <input type="radio" name="IsDisclosure" value="N"><i></i>
                                    <strong>미사용</strong>
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>사용여부</th>
                        <td>
                            <div class="style_radio">
                                <label>
                                    <input type="radio" name="IsUse" value="Y" checked><i></i>
                                    <strong>사용</strong>
                                </label>
                            </div>
                            <div class="style_radio">
                                <label>
                                    <input type="radio" name="IsUse" value="N"><i></i>
                                    <strong>미사용</strong>
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>조직권한</th>
                        <td>
                            <div class="style_check bl"><label><input type="checkbox" name="OrgCompanySeqAll" value=""><i></i> <strong>전체 선택</strong></label></div>
                            @foreach (var item in list)
                            {
                                <div class="style_check bl"><label><input type="checkbox" name="OrgCompanySeq" value="@item.Seq"><i></i> <strong>@item.UnionName > @item.CompanyName</strong></label></div>
                            }
                            <!--
            <div class="style_check bl"><label><input type="checkbox" name="" value=""><i></i> <strong>지주부문 > 한라홀딩스</strong></label></div>
            <div class="style_check bl"><label><input type="checkbox" name="" value=""><i></i> <strong>지주부문 > JJ한라</strong></label></div>
            <div class="style_check bl"><label><input type="checkbox" name="" value=""><i></i> <strong>자동차부문 > 만도</strong></label></div>
            <div class="style_check bl"><label><input type="checkbox" name="" value=""><i></i> <strong>자동차부문 > 만도헬라</strong></label></div>
            <div class="style_check bl"><label><input type="checkbox" name="" value=""><i></i> <strong>자동차부문 > 만도브로제</strong></label></div>
            <div class="style_check bl"><label><input type="checkbox" name="" value=""><i></i> <strong>건설부문 > ㈜한라</strong></label></div>
            -->
                        </td>
                    </tr>
                    <!--
    <tr>
        <th>메뉴권한</th>
        <td>
            <div class="style_check bl"><label><input type="checkbox" name="" value=""><i></i> <strong>전체 선택</strong></label></div>
            <div class="style_check bl"><label><input type="checkbox" name="" value=""><i></i> <strong>관리자 관리 > 조직관리</strong></label></div>
            <div class="style_check bl"><label><input type="checkbox" name="" value=""><i></i> <strong>관리자 관리 > 관리자 권한관리</strong></label></div>
            <div class="style_check bl"><label><input type="checkbox" name="" value=""><i></i> <strong>관리자 관리 > …</strong></label></div>
            <div class="style_check bl"><label><input type="checkbox" name="" value=""><i></i> <strong>일정관리 > 등록일정계획</strong></label></div>
            <div class="style_check bl"><label><input type="checkbox" name="" value=""><i></i> <strong>계획관리 > 손익월별계획</strong></label></div>
        </td>
    </tr>
        -->
                </tbody>
            </table>
            <!--// tbl th_ver -->


            <div class="btn_area align_left_right">
                <button class="btn full_green left" type="button" onclick="onList();">목록</button>
                <button class="btn full_green" type="button" onclick="onWrite();">등록</button>
            </div><!--//btn_area-->
        </div>
        <!--// con_box -->


        <div id="mem_search_layer" class="input_layer search">
            <div class="layer_in">
                <h4>구성원 검색</h4>
                <div class="layer_des">
                    <div class="search_box">
                        <span class="name"><label for="Userkorname">이름</label></span><input type="text" name="Userkorname" id="Userkorname" style="width:60%;" />
                        <button class="btn small full_gray" type="button" onclick="onSearch();">검색</button>
                    </div><!--//search_box-->

                    <div class="search_result_box">
                        <!--<p style="display:;">검색결과가 없습니다.</p>-->
                         
                        <table>
                            <caption></caption>
                            <colgroup>
                                <col width="15%" />
                                <col width="15%" />
                                <col width="/" />
                            </colgroup>
                            <tbody id="searchList">
                                <!--
                                <tr>
                                    <td colspan="3" style="text-align:center;">검색결과가 없습니다.</td>
                                </tr>
                                <tr>
                                    <td>0000000</td>
                                    <td>김한라</td>
                                    <td>한라홀딩스</td>
                                </tr>
                                -->
                            </tbody>
                        </table>
                    </div><!--//search_result_box-->
                </div><!--//layer_des-->
                <a href="javascript:;" onclick="javascript: MYAPP.layerControl.layerHide($('#mem_search_layer')); return false;" class="btn_layer_close"></a>
            </div>
        </div>
        <!--//mem_search_layer-->
    </form>
</div><!--//container-->
<script type="text/javascript">
    $(function () {
        $("#frmMain").validate({
            rules: {
                AuthUserKorName: {
                    required: true,
                },
                AuthEmpNo: {
                    required: true,
                },                
                AuthLevel: {
                    required: true,
                },
                OrgCompanySeq: {
                    required: true,
                },
            },
            messages: {
                AuthUserKorName: {
                    required: "관리자이름을 선택하세요.",
                },
                AuthEmpNo: {
                    required: "관리자사번을 선택하세요.",
                },
                AuthLevel: {
                    required: "관리자권한을 선택하세요.",
                },
                OrgCompanySeq: {
                    required: "조직권한을 선택하세요.",
                },
            }, errorPlacement: function (error, element) {
                // do nothing
            },
            invalidHandler: function (form, validator) {
                var errors = validator.numberOfInvalids();
                if (errors) {
                    alert(validator.errorList[0].message);
                    validator.errorList[0].element.focus();
                }
            }
        });

        $("input:checkbox[name=OrgCompanySeqAll]").click(function (e) {
            if ($("input:checkbox[name=OrgCompanySeqAll]").is(":checked")) {
                $("input:checkbox[name=OrgCompanySeq]").prop("checked", true);
            }
            else {
                $("input:checkbox[name=OrgCompanySeq]").prop("checked", false);
            }
        });

        $("input:checkbox[name=OrgCompanySeq]").click(function (e) {
            var leng = $("input:checkbox[name=OrgCompanySeq]:checked").length;
            if (leng == 0) {
                $("input:checkbox[name=OrgCompanySeqAll]").prop("checked", false);
            }
        });

        $("#Userkorname").keydown(function (event) {
            if (event.keyCode == 13) {
                onSearch();
            }
        });
    });

    function onList() {
        var f = document.frmMain;
        f.action = "List";
        f.submit();
    }

    function onWrite() {
        var f = document.frmMain;

        if ($(f).valid()) {

            if (confirm("등록하시겠습니까?")) {
                f.action = "Write_Action";
                f.submit();
            }
        }
    }

    // $("input[name=Userkorname]).val();
    var loading = "";
    function onSearch() {
        $("#searchList").html("");

        if (loading != "loading") {
            loading = "loading";
            $.ajax({
                url: "Insa_Search_Ajax",
                type: "post",
                data: { Userkorname: $("#Userkorname").val() },
                dataType: "json",
                success: function (res) {
                    var html = "";
                    if (res.success == true) {
                        res.list.forEach(function (v, i) {
                            html += "<tr>";
                            html += "<td>" + v.empNo + "</td>";
                            html += "<td><a href='javascript:;' onclick='onRegist(\"" + v.userKey + "\", \"" + v.empNo + "\", \"" + v.userKorName + "\", \"" + v.CompKorName + "\", \"" + v.levelKorName + "\");'>" + v.userKorName + "</a></td>";
                            html += "<td>" + v.CompKorName + "</td>";
                            html += "<td>" + v.Deptkorname + "</td>";
                            html += "<td>" + v.levelKorName + "</td>";
                            html += "</tr>";
                        });
                    }
                    else {
                        html = "<tr><td colspan='3' style='text-align:center;'>검색결과가 없습니다.</td></tr>";
                    }
                    $("#searchList").html(html);
                    loading = "";
                },
                error: function (res, status, err) {
                    console.log("Err");
                    console.log(err);
                    alert("오류가 발생하였습니다.\n관리자에게 문의바랍니다.");
                    loading = "";
                }
            });
        }
        else {
            alert("잠시만 기다려주세요.\n검색중입니다.");
        }
    }

    function onRegist(userKey, empNo, userKorName, compKorName, levelKorName) {
        $("#AuthUserKey").val(userKey);
        $("#AuthEmpNo").val(empNo);
        $("#AuthUserKorName").val(userKorName);
        $("#CompKorName").val(compKorName);
        $("#LevelKorName").val(levelKorName);
        MYAPP.layerControl.layerHide($('#mem_search_layer'));
    }
</script>
