@using GCRL.Modules;

@{
    ViewBag.Title = "privacy";
}

@{ var meta_sitesec = "GCLabs"; }
@{ var meta_sitename = "GC녹십자의료재단"; }
@{ var meta_title = "Privacy policy"; }
@{ var meta_Site_image = "http://121.140.143.35:4060/assets/images/gclabs-logo.png"; }
@{ var meta_description = "GC녹십자의료재단의 신규검사 및 학술자료를 안내해 드립니다."; }
@{ var meta_page_url = "http://121.140.143.35:4060/eng/forms"; }
@{ var meta_keywords = "home, Privacy policy"; }
@{ var meta_twitter_site = ""; }


@section meta {
    <title>@meta_title</title>
    <meta name="description" content="@meta_description" />
    <meta name="keywords" content="@meta_keywords" />
    <meta property="og:title" content="@meta_title" />
    <meta property="og:type" content="웹 사이트" />
    <meta property="og:description" content="@meta_description" />
    <meta property="og:image" content="@meta_Site_image" />
    <meta property="og:url" content="@meta_page_url" />
    <meta property="og:site_name" content="@meta_sitename" />
    <meta name="twitter:card" content="요약" />
    <meta name="twitter:site" content="@meta_twitter_site" />
    <meta name="twitter:title" content="@meta_title" />
    <meta name="twitter:description" content="@meta_description" />
    <meta name="ms.sitename" content="@meta_sitename" />
    <meta name="ms.sitesec" content="@meta_sitesec" />
}
@section script {
    <script type="text/javascript" src="~/assets/lib/jquery-2.2.4.min.js"></script>
    <!-- Live List Layout -->
    <script type="text/javascript" src="~/assets/lib/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="~/assets/lib/slick.min.js"></script>
    <script type="text/javascript" src="~/assets/js/app.js"></script>


}
<div id="container" class="container terms">
    <div class="contents-wrap">
        <div class="contents-inner">

            <div class="breadcrumb">
                <span><a href="#">HOME</a></span>

                <span class="current">Privacy policy</span>
            </div>

            <div class="page-title">
                <h2 class="title">Privacy policy</h2>
                <p class="text">GC녹십자의료재단의 약관을 안내해 드립니다.</p>
            </div>

            <div class="terms-area">
                <!-- <div class="terms-search">
                    <div class="selectbox-wrap">
                        <div class="selectbox">
                            <a href="#n" class="select"><span>이전 개인정보처리방침 보기</span></a>
                            <ul class="lists">

                                <li>2017.01.01 ~ 2017.12.31</li>

                                <li>2011.09.30 ~ 2016.12.31</li>

                            </ul>
                        </div>
                    </div>
                </div> -->
                <div class="terms-cont">
                    <p class="text">
                        GC Labs (“the Company”), the Company’s goods, and the Company’s website (www.gclabs.co.kr/eng) observe the clauses concerning the protection of personal information of the laws such as the Act on Promotion of Information and Communications Network Utilization and Information Protection, etc. and the Personal Information Protection Act that the providers of information and communications services must observe. The Company also does what it can to protect the information of users (both members and non-members) of the Company’s services (“users”) and goods under these guidelines.


                    </p>
                    <h4>These guidelines contain the following contents.</h4>

                    <ul class="list-style ">

                        <li class="">1. Collected Items of Personal Information and Method of Collection</li>
                        <li class="">2. Purpose of Collection and Use of Personal Information</li>
                        <li class="">3. Provision of Personal Information to Third Parties</li>
                        <li class="">4. Period of Storage and Use of Personal Information</li>
                        <li class="">5. Method and Procedure of Destruction of Personal Information</li>
                        <li class="">6. Separate Management of Personal Information in Dormant Accounts</li>
                        <li class="">7. Rights of Users and Legal Agents & Method of Exercising Such Rights</li>
                        <li class="">8. User Obligations</li>
                        <li class="">9. Matters Concerning Installation, Operation, and Rejection of Automated Personal Information Collection System</li>
                        <li class="">10. Technical/Administrative Measures for Protection of Personal Information</li>
                        <li class="">11. Contact of Personal Information Manager and Personnel in Charge</li>

                    </ul>




                    <h3>1. Collected Items of Personal Information and Method of Collection</h3>
                    <p>
                        The Company only collects and uses essential personal information stated in the following for purposes related to the supply of goods or provision of more efficient consultation to customers.

                    </p>
                    <h4>A. Collected Items of Personal Information</h4>

                    <ul class="list-style ">

                        <li class="">
                            Required Information: personal name, name of business, department, position, email address, phone number, etc.
                        </li>

                        <li class="">
                            Automatically Collected Information: App activity data via Firebase Analytics, app crash reporting Data via Firebase Crashlytics
                        </li>

                    </ul>




                    <h4>B. Method of Collection</h4>
                    <p>
                        The Company collects personal information through the following.


                    </p>

                    <ul class="list-style dot">

                        <li class="">
                            Website/email/phone/fax

                        </li>

                        <li class="">
                            When using the product, information is collected during execution or use
                        </li>

                    </ul>




                    <h3>2. Purpose of Collection and Use of Personal Information</h3>
                    <!-- <p>재단은 수집한 개인정보를 다음의 목적을 위하여 활용하며,. 수집한 모든 정보는 하기 목적에 필요한 용도 이외로는 사용되지 않으며 이용목적이 변경될 시에는 사전 동의를 구할 것입니다.</p> -->

                    <h4>A. Management of users</h4>
                    <p>
                        Identification of individual users, prevention of dishonest/unauthorized use of the Company’s services, preservation of records for arbitration of disputes, technical support, delivery of notices, ascertainment of a user’s intention for membership withdrawal



                    </p>

                    <h4>B. Use of relevant materials for improvement of goods</h4>
                    <p>
                        User’s experience associated with improvement of goods and development of new goods, error reporting analysis, improvement of the functions of goods, and analysis of statistical materials concerning the frequency of a user’s access to the Company’s services or use of the Company’s goods


                    </p>



                    </p>
                    <h4>C. Use in marketing and ads (optional)</h4>
                    <p>
                        Supply of goods based on information on demographics, ascertainment of the effectiveness of goods, provision of promotional information, and provision of opportunities for participation



                    </p>

                    <h3>3. Provision of Personal Information to Third Parties</h3>
                    <h4>
                        A. The Company uses users’ personal information within the extent stated in the foregoing 2. Purpose of Collection and Use of Personal Information. The Company does not use users’ personal information or provide it to third parties outside the said extent without obtaining their prior consent. The following cases are exceptions to what is stated in the foregoing sentence.

                    </h4>



                    </p>


                    <p>Third party providers: Google Inc.</p>

                    <ul class="list-style dot">

                        <li class="">
                            To improve service quality, the company uses Firebase Analytics and Firebase Crashlytics, which are mobile application analysis services provided by “Google Inc.”, and sends log information, cookies, error reports, etc., to “Google Inc.” server

                        </li>

                    </ul>

                    <ul class="list-style ">

                        <li>Where users consent in advance to the Company’s provision of their personal information to a third party</li>

                        <li>Where a law enforcement agency or supervisory institution asks for provision of personal information for investigation under the law</li>

                        <li>Where there is a request for personal information in a procedure stipulated by the law</li>

                        <li>Where personal information is provided in way that cannot identify specific individuals purposes of compilation of statistics, academic research, market survey, etc.</li>

                    </ul>



                    <h4>
                        B. The Company may provide users’ personal information to a third party by following the adequate procedures and obtaining the prior consent from the user.
                    </h4>
                    <ul class="list-style ">

                        <li class=""> </li>

                    </ul>




                    <h3>4. Period of Storage and Use of Personal Information</h3>
                    <p>The Company destroys stored personal information once the purpose of storage has been attained. However, the Company keeps the following information for a stated reason and for the stated period.</p>
                    <h4>A. Continuing to keep information per the law</h4>
                    <p>
                        Where the Company is required to keep users’ personal information under the Act on the Consumer Protection in the Electronic Commerce Transactions, etc., Commercial Act, etc., the Company does it for the period stated in the law as follows.


                    </p>

                    <p>Records related to contracts or membership withdrawal</p>
                    <ul class="list-style dot ">
                        <li class="">
                            Basis for retainment: Act on the Consumer Protection in the Electronic Commerce Transactions, etc.
                        </li>
                        <li class="">
                            Period of retainment: 5 years
                        </li>
                    </ul>
                    <p>Records on consumer complaints or handling of disputes</p>
                    <ul class="list-style dot ">
                        <li class="">
                            Basis for retainment: Act on the Consumer Protection in the Electronic Commerce Transactions, etc.
                        </li>
                        <li class="">
                            Period of retainment: 5 years
                        </li>
                    </ul>

                    <p>Records on consumer complaints or handling of disputes</p>
                    <ul class="list-style dot ">
                        <li class="">Basis for retainment: Act on the Consumer Protection in the Electronic Commerce Transactions, etc.</li>
                        <li class="">Period of retainment: 3 years</li>
                    </ul>

                    <p>Login records</p>
                    <ul class="list-style dot ">
                        <li class="">Basis for retainment: Protection of Communications Secrets Act</li>
                        <li class="">Period of retainment: 3 months</li>
                    </ul>

                    <p>Information collected through Firebase Analytics, Firebase Crashlytics</p>
                    <ul class="list-style dot ">
                        <li class="">Period of retainment: When membership is withdrawn or when the provision of third-party information is terminated</li>
                    </ul>



                    <h3>5. Process of Destroying Personal Information</h3>
                    <p>The Company destroys stored personal information in the following process.</p>

                    <h4>A. In principle, all personal information of users is destroyed once the purpose of collection and use has been attained.</h4>
                    <h4>B. In the case where personal information has to be stored according to laws apart from the abovementioned, notwithstanding the fact that the period of storage has expired and the purpose of processing has been attained, the relevant personal information will be transferred and saved to a separate database (DB) or system, and destroyed after a certain period.</h4>
                    <h4>C. Process of destruction:</h4>
                    <ul class="list-style  ">
                        <li class="">All personal information saved as hardcopy, such as printed matter, is destroyed by using a paper shredder or undergoing incineration process.</li>
                        <li class="">All personal information saved as softcopy, such as electronic files, is destroyed in a process where the data cannot be retrieved and the like.</li>
                    </ul>



                    <h3>6. Separate Management of Personal Information in Dormant Accounts</h3>
                    <p>The Company manages the following information of users who fail to use or connect with the Company’s services for a whole year by separating it from the information of others.</p>

                    <h4>A. Personal information collected and managed at the time of membership subscription and revised/managed user information</h4>
                    <h4>B. Information created in the process of the user’s use of the Company’s services such as login information, and details on their use of the Company’s services</h4>



                    <h3>7. Separate Management of Personal Information in Dormant Accounts</h3>
                    <h4>A. Users or their legal agent may ask the Company’s Personal Information Manager or personnel in charge for access to/revision of/deletion of their personal information in writing, by email, or by phone.</h4>

                    <h4>B. Where the user or their legal agent submitted a request for correction of an error in their personal information, the Company will stop using or providing the personal information until it is corrected. Where erroneous personal information has been provided to third parties, the Company provides them with information on the correction immediately.</h4>

                    <h4>C. Regarding personal information that the relevant user has asked us to cancel or delete, the Company handles the information per the foregoing 5. Period of Storage and Use of Personal Information and makes sure that such information is not subject to access or use for any other purpose.</h4>



                    <h3>8. User Obligations</h3>
                    <p>Users are obligated to protect their own personal information. The Company is not responsible for the result of a problem that has occurred due to the disclosure of their personal information due to user carelessness or an internet problem.</p>

                    <h4>A. Users must always update their personal information. Users are responsible for the result of a problem occurring due to their provision of inaccurate information.</h4>

                    <h4>B. Membership subscription or a transaction of goods through the dishonest use of another person’s personal information, such as their resident registration number, is strictly prohibited and may be punished under the Resident Registration Act.</h4>

                    <h4>C. Users are responsible to keep secret their ID and password and should not transfer/lend them to a third party. Users should change their password periodically in compliance with the Company’s Personal Information Protection Policy.</h4>

                    <h4>D. Users should log out and close the web browser program after using the Company’s service.</h4>

                    <h4>E. Users must observe laws related to personal information, such as the Act on Promotion of Information and Communications Network Utilization and Information Protection, etc., Personal Information Protection Act, Resident Registration Act, etc.</h4>





                    <h3>9. Matters Concerning Installation, Operation, and Rejection of Automated Personal</h3>
                    <h4>A. What are cookies?</h4>

                    <ul class="list-style dot">

                        <li class="">
                            Cookies are small text files sent to the user’s browser by the server used to operate the website and stored on the hard drive of the user’s computer. Subsequently, when a user visits the website, the website server reads the contents stored on the user’s hard drive to maintain the user’s preferences and provide customized services.


                        </li>

                        <li class="">
                            Cookies are stored in the hard drive of a user’s computer. The user’s computer identifies cookies, but not the users themselves. The user may accept no/all cookies or ask us to send a notice whenever cookies are stored.


                        </li>
                    </ul>

                    <h4>B. Purpose of using cookies</h4>

                    <ul class="list-style dot">

                        <li class="">
                            The use of cookies allows us to engage in targeted marketing and provide customized services to users based on an analysis of the frequency of their connection, the number of hours they spend visiting the Company’s website, and their propensity and interests.




                        </li>
                    </ul>

                    <h4>C. Rejection of installation/operation of cookies by a user</h4>

                    <ul class="list-style dot">

                        <li class="">
                            The user may accept no/all cookies or ask us to send a notice whenever cookies are stored. They may reject the installation of cookies, but such rejection may lead to difficulties in using the Company’s services.




                        </li>
                    </ul>



                    <h3>10. Technical/Administrative Measures for Protection of Personal Information</h3>
                    <p>In handling the personal information of users, the Company takes the following technical/administrative measures lest the personal information be lost, stolen, disclosed, forged, or damaged.</p>

                    <h4>A. Measures against hacking, etc.</h4>

                    <ul class="list-style dot">

                        <li class="">
                            The Company does what it can to prevent users’ personal information from being disclosed or damaged through hacking or viruses. To prevent damage to personal information, the Company backs up materials regularly. The Company uses updated vaccine programs to prevent users’ personal information or materials from being disclosed or damaged. The Company uses encoding in network communications for the safe transmission of personal information. The Company uses an intrusion prevention system to block any unauthorized access from outside. The Company strives to be equipped with all technical devices available for system security.

                        </li>

                    </ul>

                    <h4>B. Handling of the personal information by a minimum number of employees and relevant education</h4>

                    <ul class="list-style dot">

                        <li class="">
                            A minimum number of employees handle personal information, and the Company stresses the importance of observing these guidelines to employees at educational sessions held from regularly. Employees handover/takeover the duties of handling personal information under tight security. The Company deals with the responsibility for mishaps related to personal information very strictly.


                        </li>
                    </ul>

                    <h4>C. Operation of organization dedicated to the protection of personal information</h4>

                    <ul class="list-style dot">

                        <li class="">
                            The Company has newly hired employees submit a security-related affidavit as part of efforts to prevent the disclosure of important information. The team in charge of personal information protection sees that these guidelines are duly observed and is ready to take corrective steps when a security-related problem is identified. However, the Company is not responsible for the result of a problem that has occurred due to the disclosure of a user’s personal information (e.g. ID, password, etc.) due to user carelessness or an internet problem.


                        </li>
                    </ul>





                    <h3>11. Contact of Personal Information Manager and Personnel in Charge</h3>
                    <p>The Company operates a department that is in charge of the protection of personal information, along with Personal Information Manager. They handle complaints and matters related to personal information. Users may contact the Personal Information Manager or the personnel in charge stated in the following for inquiries about their personal information.</p>


                    <h4>GC Labs</h4>

                    <ul class="list-style dot">

                        <li class="">
                            <a href='#n' class='link-text'>☎: +82-31-280-9908</a>
                        </li>

                        <li class="">
                            <a href='#n' class='link-text'>E-mail: gclabsob@gclabs.co.kr</a>
                        </li>

                    </ul>



                    <!-- <p>The Company operates a department that is in charge of the protection of personal information, along with Personal Information Manager. They handle complaints and matters related to personal information. Users may contact the Personal Information Manager or the personnel in charge stated in the following for inquiries about their personal information.<br><br></p>
                    -->

                    <ul class="list-style dot">

                        <li class="">
                            Personal Information Infringement Reporting Center<br>(https://privacy.kisa.or.kr/ ☎: 118)
                        </li>

                        <li class="">
                            Cybercrime Investigation Center of the Supreme Prosecutors’ Office<br>(http://www.spo.go.kr/ ☎: 1301)
                        </li>

                        <li class="">
                            Cyber Bureau of the National Police Agency<br>(http://cyberbureau.police.go.kr/ ☎: 182)
                        </li>

                    </ul>

                </div>
            </div>

        </div>
    </div>
</div>
