
@{
    ViewBag.Title = "virtuals";
}

@{ var meta_sitesec = "GCLabs"; }
@{ var meta_sitename = "GC녹십자의료재단"; }
@{ var meta_title = "Virtual Lab Tour"; }
@{ var meta_Site_image = "http://121.140.143.35:4060/assets/images/gclabs-logo.png"; }
@{ var meta_description = "Welcome to GC Labs Virtual Lab Tour"; }
@{ var meta_page_url = "http://121.140.143.35:4060/eng/clients"; }
@{ var meta_keywords = "CONTACT, Virtual Lab Tour"; }
@{ var meta_twitter_site = ""; }


@section meta {
    <title>@meta_title</title>
    <meta name="description" content="@meta_description" />
    <meta name="keywords" content="@meta_keywords" />
    <meta property="og:title" content="@meta_title" />
    <meta property="og:type" content="웹 사이트" />
    <meta property="og:description" content="@meta_description" />
    <meta property="og:image" content="@meta_Site_image" />
    <meta property="og:url" content="@meta_page_url" />
    <meta property="og:site_name" content="@meta_sitename" />
    <meta name="twitter:card" content="요약" />
    <meta name="twitter:site" content="@meta_twitter_site" />
    <meta name="twitter:title" content="@meta_title" />
    <meta name="twitter:description" content="@meta_description" />
    <meta name="ms.sitename" content="@meta_sitename" />
    <meta name="ms.sitesec" content="@meta_sitesec" />
}
@section script {

    <script type="text/javascript" src="../../assets/lib/jquery-2.2.4.min.js"></script>
    <!-- Live List Layout -->
    <script type="text/javascript" src="../../assets/lib/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="../../assets/lib/slick.min.js"></script>
    <script type="text/javascript" src="../../assets/js/app.js"></script>


}
<div id="container" class="container gclabs">
<div class="contents-wrap">
    <div class="contents-inner">

        <div class="breadcrumb">
            <span><a href="#">Home</a></span>


            <span><a href="#">CONTACT</a></span>

            <span class="current">Virtual Lab Tour</span>

        </div>

        <div class="page-title">
            <h2 class="title">Virtual Lab Tour</h2>
            <p class="text">Welcome to GC Labs Virtual Lab Tour</p>
        </div>



        <div class="global-wrap">
            <div class="section">
                <div class="title-wrap2">
                    <h3 class="title-h3">Welcome to GC Labs Virtual Lab Tour</h3>
                </div>
                <p class="text-info2">The purpose of this tour is to show you the facility of GC Labs in real-time through live stream.</p>
                <ul class="list-style dot">
                    <li class="">
                        The tour will be held every Wednesday <strong>4~5pm(KST).</strong>

                    </li>
                    <li class="">
                        If the above time zone is not suitable to you, please send us an email at
                        <strong><a href="mailto:gclabsob@gclabs.co.kr">gclabsob@gclabs.co.kr</a></strong>



                    </li>
                    <li class="pt30">
                        For application, please click on the icon <a href="https://answer.moaform.com/answers/Mq9dr4" target="_blank"><img src="../../../assets/images/lab_tour.png"></a>
                    </li>
                </ul>
            </div>
            <div class="section">
                <div class="title-wrap2">
                    <h3 class="title-h3">How to Join the Virtual Lab Tour</h3>
                </div>
                <div class="tabs-wrap">
                    <ul class="tabs  wide type2 ">
                        <li class="tab active">
                            <a href="#n"><span>Step 1</span></a><!-- 1 -->
                        </li>
                        <li class="tab ">
                            <a href="#n"><span>Step 2</span></a>
                        </li>
                        <li class="tab ">
                            <a href="#n"><span>Step 3</span></a>
                        </li>
                        <li class="tab ">
                            <a href="#n"><span>Step 4</span></a>
                        </li>
                        <li class="tab ">
                            <a href="#n"><span>Step 5</span></a>
                        </li>
                        <li class="tab ">
                            <a href="#n"><span>Step 6</span></a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content ">
                    <div class="section-tab  active">
                        <!-- 1 -->
                        <div class="section">
                            <div class=" location-wrap">
                                <!-- Central Laboratory -->
                                <div class="location-map2">
                                    <div class="map-wrap">
                                        <img src="../../../assets/images/how_screen_1.png" alt="">
                                        <div class="map-info">
                                            <span class="name"><em>Step 1</em></span>
                                            <p>
                                                Go to the service page through the link below. The browser must be Chrome.<br>
                                                <a href="https://remote.virnect.com/home" target="_blank" tabindex="0">https://remote.virnect.com/home</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- 1 -->

                    <div class="section-tab  ">
                        <!-- 2 -->
                        <div class="section">
                            <div class=" location-wrap">
                                <!-- Central Laboratory -->
                                <div class="location-map2">
                                    <div class="map-wrap">
                                        <img src="../../../assets/images/how_screen_2.png" alt="">
                                        <div class="map-info">
                                            <span class="name"><em>Step 2</em></span>
                                            <p>
                                                Change the language and log-in with the your account (will be provided individually).
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- 2 -->


                    <div class="section-tab  ">
                        <!-- 3 -->
                        <div class="section">
                            <div class=" location-wrap">
                                <!-- Central Laboratory -->
                                <div class="location-map2">
                                    <div class="map-wrap">
                                        <img src="../../../assets/images/how_screen_3.png" alt="">
                                        <div class="map-info">
                                            <span class="name"><em>Step 3</em></span>
                                            <p>
                                                Click ‘Remote Collabo’ tab.<br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- 3 -->

                    <div class="section-tab  ">
                        <!-- 1 -->
                        <div class="section">
                            <div class=" location-wrap">
                                <!-- Central Laboratory -->
                                <div class="location-map2">
                                    <div class="map-wrap">
                                        <img src="../../../assets/images/how_screen_4.png" alt="">
                                        <div class="map-info">
                                            <span class="name"><em>Step 4</em></span>
                                            <p>
                                                Click ‘Participate’ to join the meeting.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- 1 -->

                    <div class="section-tab  ">
                        <!-- 5 -->
                        <div class="section">
                            <div class=" location-wrap">
                                <!-- Central Laboratory -->
                                <div class="location-map2">
                                    <div class="map-wrap">
                                        <img src="../../../assets/images/how_screen_5.png" alt="">
                                        <div class="map-info">
                                            <span class="name"><em>Step 5</em></span>
                                            <p>
                                                Click ‘Livestream’ tab.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- 5 -->


                    <div class="section-tab  ">
                        <!-- 6 -->
                        <div class="section">
                            <div class=" location-wrap">
                                <!-- Central Laboratory -->
                                <div class="location-map2">
                                    <div class="map-wrap">
                                        <img src="../../../assets/images/how_screen_6.png" alt="">
                                        <div class="map-info">
                                            <span class="name"><em>Step 6</em></span>
                                            <p>
                                                Enjoy the Virtual lab tour.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- 6 -->

                </div>







            </div>
            <div class="section">
                <div class="title-wrap2">
                    <h3 class="title-h3">Virtual Lap Tour UI Information</h3>
                </div>
                <div class="section-item section2">


                    <div class="ui-tutorial">
                        <div class="screen ">
                            <img src="../../../assets/images/ui_base.jpg" alt="">
                        </div>

                        <div class="scroll-table2">
                            <div class="table-wrap section border-left">
                                <div class="table-inner">
                                    <table class="table tb-sm2">


                                        <colgroup>

                                            <col class="" width="30%">

                                            <col class="" width="70%">

                                        </colgroup>


                                        <thead>

                                        </thead>
                                        <tbody>
                                            <tr class=""><td class="">	① Livestream tab </td><td class="">	see live video meeting	</td></tr>
                                            <tr class=""><td class="">	② Collaboard tab </td><td class="">	see any shared  documents	</td></tr>
                                            <tr class=""><td class="">	③ Tools </td><td class="">	Activate 2D Pointing function  and select color </td></tr>
                                            <tr class=""><td class="">	④ Message </td><td class="">	CHAT &amp; document sharing	</td></tr>
                                            <tr class=""><td class="">	⑤ Options </td><td class="">	(From the left) Camera on/off, MIC on/off, Speaker on/off, Alarm message	</td></tr>
                                            <tr class=""><td class="">	⑥ Exit Button </td><td class="">	exit meeting	</td></tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- 22.4.4  모바일 화면 깨짐
                        <div class="tooltip_trigger trigger1"></div>
                        <div class="tooltip tip1" style="display: block;">
                            <div class="tip_inner">
                                <strong>Livestream tab</strong><br>
                                <span>see live video meeting</span>
                            </div>
                        </div>

                        <div class="tooltip_trigger trigger2"></div>
                        <div class="tooltip tip2" style="display: block;">
                            <div class="tip_inner">
                                <strong>Collaboard tab</strong><br>
                                <span>see any shared <br> documents</span>
                            </div>
                        </div>

                        <div class="tooltip_trigger trigger3"></div>
                        <div class="tooltip tip3" style="display: block;">
                            <div class="tip_inner">
                                <strong>Tools</strong><br>
                                <span>Activate 2D Pointing function  and select color</span>
                            </div>
                        </div>

                        <div class="tooltip_trigger trigger4"></div>
                        <div class="tooltip tip4" style="display: block;">
                            <div class="tip_inner">
                                <strong>Message</strong><br>
                                <span>CHAT &amp; document sharing</span>
                            </div>
                        </div>

                        <div class="tooltip_trigger trigger5"></div>
                        <div class="tooltip tip5" style="display: block;">
                            <div class="tip_inner">
                                <strong>Options</strong><br>

                            </div>
                        </div>

                        <div class="tooltip_trigger trigger6"></div>
                        <div class="tooltip tip6" style="display: block;">
                            <div class="tip_inner">
                                <strong>Exit Button</strong><br>
                                <span>exit meeting</span>
                            </div>
                        </div>

                        -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
	</div>