@{
    ViewBag.Title = "irb";
}
@{ var meta_sitesec = "GCLabs"; }
@{ var meta_sitename = "GC녹십자의료재단"; }
@{ var meta_title = "IRB"; }
@{ var meta_Site_image = "http://121.140.143.35:4060/assets/images/gclabs-logo.png"; }
@{ var meta_description = "GC녹십자의료재단 임상연구심의위원회를 소개합니다."; }
@{ var meta_page_url = "http://121.140.143.35:4060/research/detail"; }
@{ var meta_keywords = "연구개발, IRB"; }
@{ var meta_twitter_site = ""; }

@section meta {
    <title>@meta_title</title>
    <meta name="description" content="@meta_description" />
    <meta name="keywords" content="@meta_keywords" />
    <meta property="og:title" content="@meta_title" />
    <meta property="og:type" content="웹 사이트" />
    <meta property="og:description" content="@meta_description" />
    <meta property="og:image" content="@meta_Site_image" />
    <meta property="og:url" content="@meta_page_url" />
    <meta property="og:site_name" content="@meta_sitename" />
    <meta name="twitter:card" content="요약" />
    <meta name="twitter:site" content="@meta_twitter_site" />
    <meta name="twitter:title" content="@meta_title" />
    <meta name="twitter:description" content="@meta_description" />
    <meta name="ms.sitename" content="@meta_sitename" />
    <meta name="ms.sitesec" content="@meta_sitesec" />
}
@section script {
    <script type="text/javascript" src="../../assets/lib/jquery-2.2.4.min.js"></script>
    <!-- Live List Layout -->
    <script type="text/javascript" src="../../assets/lib/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="../../assets/lib/slick.min.js"></script>
    <script type="text/javascript" src="../../assets/js/app.js"></script>
}
    <div id="container" class="container research">
        <div class="contents-wrap">
            <div class="contents-inner">

                <div class="breadcrumb">
                    <span><a href="#">홈</a></span>


                    <span><a href="#">연구개발</a></span>


                    <span class="current">IRB</span>
                </div>

                <div class="page-title">
                    <h2 class="title">IRB</h2>
                    <p class="text">GC녹십자의료재단 <br class='mobile'>임상연구심의위원회를 소개합니다.</p>
                </div>

                <div class="banner-wrap">
                    <div class="banner-inner">
                        <div class="image-area">
                            <img src="../../../assets/images/banner-irb-pc.png" class="pc tablet" alt="">
                            <img src="../../../assets/images/banner-irb-mo.png" class="mobile" alt="">
                        </div>
                        <div class="text-area">

                            <span class="title">임상연구심의위원회</span>
                            <p class="desc">Institutional Review Board, IRB</p>
                        </div>
                    </div>
                </div>

                <div class="info-box">
                    <p class="text">
                        IRB는 연구의 과학적ㆍ윤리적 타당성을 심의하여 연구 대상자의 권리, 안전, 복지를 보호하기 위해 설치된 자율적ㆍ독립적 심의기구입니다.<br>
                        IRB는 생명윤리 및 안전에 관한 법률, 체외진단의료기기법, 의료기기법 등 관련 법규들을 준수하여 인간대상연구, 인체유래물연구, 체외진단의료기기 임상적 성능시험 심사위원회를 운영하고 있습니다.
                    </p>
                </div>

                <div class="irb-wrap">
                    <div class="contents-section">
                        <div class="title-wrap">
                            <h3 class="title-h3">IRB의 권한과 의무</h3>
                        </div>
                        <p class="text-info">IRB는 연구계획 및 승인된 연구에 대해 다음 각 호의 권한과 의무를 가집니다.</p>
                        <ol class="list-style">
                            <li>
                                <p class="text-info">1) IRB는 외부 기관 또는 연구자로부터 심의 요청된 연구에 대하여 다음의 사항을 심의한다.</p>

                                <ul class="list-style dot">



                                    <li class="">
                                        연구계획서의 윤리적ㆍ과학적 타당성

                                    </li>

                                    <li class="">
                                        연구대상자 등으로부터 적법한 절차에 따라 동의를 받았는지 여부

                                    </li>

                                    <li class="">
                                        연구대상자 등의 안전에 관한 사항

                                    </li>

                                    <li class="">
                                        연구대상자 등의 개인정보보호 대책

                                    </li>

                                    <li class="">
                                        그밖에 생명윤리 및 안전에 관해 필요한 사항
                                    </li>


                                </ul>



                            </li>
                            <li>2) IRB는 연구계획의 검토를 위해 연구자에게 추가적인 정보 제공을 요구 하거나 회의 참석을 요청 할 수 있다.</li>
                            <li>3) IRB는 필요한 경우 위원회에서 승인된 연구과제의 수행 중 진행과정 및 결과에 대하여 조사ㆍ감독한다.</li>
                            <li>4) IRB는 해당 연구의 연구대상자에게 미치는 위험 정도에 따라 연구책임자에게 적절한 주기로 보고하도록 하고 이를 지속심의 한다. 지속심의 주기는 최대 1년을 넘길 수 없다.</li>
                            <li>5) IRB는 승인된 연구의 수행과정에서 연구대상자 등을 적절하게 보호할 수 있어야 한다.</li>
                            <li>6) IRB는 수행 중인 연구에 대한 조사ㆍ감독 중 예기하지 않았던 중대한 위험 또는 중대한 관련 법률의 위반 등 생명윤리 및 안전에 중대한 위협이 있다고 판단되는 경우, 심의를 거쳐 해당 연구에 대한 제한ㆍ중지 혹은 보류를 결정할 수 있다.</li>
                            <li>
                                <p class="text-info">7) 그 밖에 생명윤리 및 안전을 위한 다음 각 목의 활동을 한다.</p>

                                <ul class="list-style dot">

                                    <li class="">
                                        해당 기관의 연구자 및 종사자 교육
                                    </li>

                                    <li class="">
                                        취약한 연구대상자 등의 보호 대책 수립
                                    </li>

                                    <li class="">
                                        연구자를 위한 윤리지침 마련
                                    </li>

                                </ul>



                            </li>
                            <li>8) IRB는 그 밖에 보건복지부장관이 정한 고시에 따른 업무를 수행하여 해당 사항에 대한 적절한 조치를 취할 수 있다.</li>
                        </ol>
                    </div>

                    <div class="contents-section">
                        <div class="title-wrap">
                            <h3 class="title-h3">심의절차</h3>
                        </div>
                        <div class="gradient-box">
                            <img src="../../../assets/images/img-irb.png" class="pc tablet" alt="서류제출 - 행정적 검토 및 접수 / 심의면제(심의면제 확인 - 연구시작, 심의필요 - 서류제출) - 심의 구분 및 위원배정 - 정규심의(승인, 시정승인, 보완, 반려) / 신속심의(승인, 시정승인, 정규심의 회부) - 연구시작 - 변경보고/중간보고/미준수 사례보고/이상반응보고 - 종료보고/결과보고">
                            <ul class="irb-process mobile">
                                <li>서류제출</li>
                                <li>행정적 검토 및 접수</li>
                                <li>심의 구분 및 위원배정</li>
                                <li>연구시작</li>
                                <li>변경보고/중간보고/미준수사례보고/<br>체외진단의료기기 이상반응보고/예상하지 못한 문제보고</li>
                                <li>종료보고/결과보고</li>
                            </ul>
                            <a href="../../../assets/images/img-irb-detail.png" target="_blank" class="btn-detail-view mobile"><span>자세히보기</span></a>
                        </div>
                    </div>

                    <div class="contents-section">
                        <div class="title-wrap">
                            <h3 class="title-h3">심의 일정 및 공지사항</h3>
                        </div>
                        <!-- <p class="text-info">자세한 일정은 eIRB 사이트에서 확인 가능합니다.</p> -->

                        <ul class="list-style dot">

                            <li class="">
                                정규심의 : 매월 둘째·넷째 주 화요일 (정규심의 일정은 공휴일 또는 원내 일정상 조정될 수 있음)
                            </li>

                            <li class="">
                                신속심의 : 수시 개최 (심의 면제 포함)
                            </li>

                            <li class="">
                                심의제출서류/연구자윤리지침/심의비/교육안내 등 자세한 내용은 eIRB 홈페이지(http://eirb.gcrl.co.kr)에서 확인 가능합니다.
                            </li>
                        </ul>



                    </div>

                    <div class="contents-section">
                        <div class="title-wrap">
                            <h3 class="title-h3">접수 문의</h3>
                        </div>

                        <ul class="list-style dot">

                            <li class="">
                                Tel : 031-260-9688,9236 / 031-280-9920
                            </li>

                            <li class="">
                                Email : irb@gclabs.co.kr
                            </li>
                    </div>

                </div>
            </div>
        </div>
    </div>