@using HALLA_PM.Models;
@using HALLA_PM.Util;
@using HALLA_PM.Core;
@{
    ViewBag.Title = "Write";
    Layout = "~/Views/Shared/_LayoutSiteMng.cshtml";
    PlanYearInvest planYearInvest = Model.planYearInvest;
    OrgCompany orgCompanyName = Model.orgCompanyName;
    List<OrgBusiness> orgBusinessList = Model.orgBusinessList;
    List<PmInvestBusiness> lastYearBusinessPm = Model.lastYearBusinessPm;
    List<PlanYearInvestBusiness> lastYearBusinessPn = Model.lastYearBusinessPn;
    List<PlanYearInvestBusiness> thisYearBusinessPn = Model.thisYearBusinessPn;

    int thisYear = Convert.ToInt32(planYearInvest.YearInvestYear);
    int lastYear = thisYear + 4;
    Search search = ViewBag.Search;
}

<div id="container">
    <div class="location">
        <span class="home"><i class="fa fa-home"></i></span>
        <span>사업계획</span>
        <strong>중기투자인원계획</strong>
    </div>

    <form name="frmMain" id="frmMain" method="post" enctype="multipart/form-data">
        <input type="hidden" name="message" value="" />
        <input type="hidden" name="Seq" value="@planYearInvest.Seq" />
        <input type="hidden" name="OrgCompanySeq" value="@planYearInvest.OrgCompanySeq" />
        <input type="hidden" name="RegistStatus" value="@planYearInvest.RegistStatus" />
        <input type="hidden" name="afterRegistStatus" value="" />
        <input type="hidden" name="PageIndex" value="@(search.PageIndex)" />
        <input type="hidden" name="searchCpySeq" value="@(search.searchCpySeq)" />
        <input type="hidden" name="searchYear" value="@(search.searchYear)" />

        <div class="con_box search">
            <h3 class="mt0">중기투자인원계획 등록</h3>
            <div class="bg_gray">
                <i class="fa fa-info-circle" aria-hidden="true"></i> 정규직 : 임원, 고문/자문(상근), 사무직(국내/FSE/현채인), 기능직, 별정직<br />
                <i class="fa fa-info-circle" aria-hidden="true"></i> 비정규직 및 기타 : 계약직, 파견직, 도급직, 고문/자문(비상근)  / (단, 만도의 경우 도급직 제외함)
            </div>
        </div>
        <!--// con_box -->

        <div class="con_box">
            <table class="tbl th_ver ta_left">
                <caption></caption>
                <colgroup>
                    <col width="15%" />
                    <col width="/" />
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">등록연도</th>
                        <td>@(planYearInvest.YearInvestYear)</td>
                    </tr>
                    @*상단 공통*@
                    @{
                        TopFrame Top = new TopFrame();
                        Top.RegistStatus = planYearInvest.RegistStatus;
                        Top.UnionName = orgCompanyName.UnionName;
                        Top.CompanyName = orgCompanyName.CompanyName;
                    }
                    @Html.Partial("~/Views/Shared/_LayoutMngTopFrame.cshtml", Top)
                </tbody>

            </table>
            <!--// tbl th_ver -->
            @foreach (var item in orgBusinessList)
            {
                var qlastYearBusinessPm = lastYearBusinessPm.Where(w => w.OrgBusinessSeq == item.Seq);
                var qlastYearBusinessPn = lastYearBusinessPn.Where(w => w.OrgBusinessSeq == item.Seq);
                var qthisYearBusinessPn = thisYearBusinessPn.Where(w => w.OrgBusinessSeq == item.Seq);

                <h3>@item.BusinessName</h3>
                <p class="caption"><span>(단위 : 억원, 명)</span></p>
                <table class="tbl th_hor" border="0" cellpadding="0" cellspacing="0">
                    <caption></caption>
                    <colgroup>
                        <col width="10%" />
                        <col width="/" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col" rowspan="2"></th>
                            <th scope="col" colspan="4">@(Convert.ToInt32(planYearInvest.YearInvestYear) - 1)년 중기계획</th>
                            <th scope="col" colspan="4">@(planYearInvest.YearInvestYear)년 중기계획</th>
                            <th scope="col" colspan="4">차이</th>
                        </tr>
                        <tr>
                            <th scope="col">투자</th>
                            <th scope="col">인원</th>
                            <th scope="col">국내인원</th>
                            <th scope="col">해외인원</th>
                            <th scope="col">투자</th>
                            <th scope="col">인원</th>
                            <th scope="col">국내인원</th>
                            <th scope="col">해외인원</th>
                            <th scope="col">투자</th>
                            <th scope="col">인원</th>
                            <th scope="col">국내인원</th>
                            <th scope="col">해외인원</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = thisYear - 1; i <= lastYear; i++)
                        {
                            var LastBusinessPm = qlastYearBusinessPm.FirstOrDefault();
                            var LastBusinessPn = qlastYearBusinessPn.Where(w => w.YearlyYear == i.ToString()).FirstOrDefault();
                            var ThisBusinessPn = qthisYearBusinessPn.Where(w => w.YearlyYear == i.ToString()).FirstOrDefault();
                            var ThisBusinessPnL = qthisYearBusinessPn.Where(w => w.YearlyYear == (i - 1).ToString()).FirstOrDefault();

                            if (LastBusinessPm == null) { LastBusinessPm = new PmInvestBusiness(); }
                            if (LastBusinessPn == null) { LastBusinessPn = new PlanYearInvestBusiness(); }
                            if (ThisBusinessPn == null) { ThisBusinessPn = new PlanYearInvestBusiness(); }
                            if (ThisBusinessPnL == null) { ThisBusinessPnL = new PlanYearInvestBusiness(); }
                            if (i == thisYear - 1)
                            {
                                <tr>
                                    <th scope="row">@i</th>
                                    <td>@(WebUtil.NCommaRound(LastBusinessPn.Investment, 2))</td>
                                    <td>@(WebUtil.NCommaRound(LastBusinessPn.Personnel, 2))</td>
                                    <td>@(WebUtil.NCommaRound(LastBusinessPn.DomesticPersonnel, 2))</td>
                                    <td>@(WebUtil.NCommaRound(LastBusinessPn.OverseasPersonnel, 2))</td>
                                    <td>@(WebUtil.NCommaRound(LastBusinessPm.Investment, 2))</td>
                                    <td>@(WebUtil.NCommaRound(LastBusinessPm.Personnel, 2))</td>
                                    <td>@(WebUtil.NCommaRound(LastBusinessPm.DomesticPersonnel, 2))</td>
                                    <td>@(WebUtil.NCommaRound(LastBusinessPm.OverseasPersonnel, 2))</td>
                                    <td class="bg_blue">0.00</td>
                                    <td class="bg_blue">0.00</td>
                                    <td class="bg_blue">0.00</td>
                                    <td class="bg_blue">0.00</td>
                                </tr>
                            }
                            else if (i == thisYear)
                            {
                                <tr>
                                    <th scope="row">@i
                                        <input type="hidden" name="PlanYearInvestBusinessSeq" value="@ThisBusinessPn.Seq" />
                                    </th>
                                    <td>@(WebUtil.NCommaRound(LastBusinessPn.Investment, 2))</td>
                                    <td>@(WebUtil.NCommaRound(LastBusinessPn.Personnel, 2))</td>
                                    <td>@(WebUtil.NCommaRound(LastBusinessPn.DomesticPersonnel, 2))</td>
                                    <td>@(WebUtil.NCommaRound(LastBusinessPn.OverseasPersonnel, 2))</td>
                                    <td><input type="text" name="Investment" value="@ThisBusinessPn.Investment" /></td>
                                    <td><input type="text" name="Personnel" value="@ThisBusinessPn.Personnel" /></td>
                                    <td><input type="text" name="DomesticPersonnel" value="@ThisBusinessPn.DomesticPersonnel" /></td>
                                    <td><input type="text" name="OverseasPersonnel" value="@ThisBusinessPn.OverseasPersonnel" /></td>
                                    <td class="bg_blue">@(WebUtil.NCommaRound(ThisBusinessPn.Investment - (LastBusinessPm.Investment), 2))</td>
                                    <td class="bg_blue">@(WebUtil.NCommaRound(ThisBusinessPn.Personnel - (LastBusinessPm.Personnel), 2))</td>
                                    <td class="bg_blue">@(WebUtil.NCommaRound(ThisBusinessPn.DomesticPersonnel - (LastBusinessPm.DomesticPersonnel), 2))</td>
                                    <td class="bg_blue">@(WebUtil.NCommaRound(ThisBusinessPn.OverseasPersonnel - (LastBusinessPm.OverseasPersonnel), 2))</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th scope="row">@i
                                        <input type="hidden" name="PlanYearInvestBusinessSeq" value="@ThisBusinessPn.Seq" />
                                    </th>
                                    <td>@(WebUtil.NCommaRound(LastBusinessPn.Investment, 2))</td>
                                    <td>@(WebUtil.NCommaRound(LastBusinessPn.Personnel, 2))</td>
                                    <td>@(WebUtil.NCommaRound(LastBusinessPn.DomesticPersonnel, 2))</td>
                                    <td>@(WebUtil.NCommaRound(LastBusinessPn.OverseasPersonnel, 2))</td>
                                    <td><input type="text" name="Investment" value="@ThisBusinessPn.Investment" /></td>
                                    <td><input type="text" name="Personnel" value="@ThisBusinessPn.Personnel" /></td>
                                    <td><input type="text" name="DomesticPersonnel" value="@ThisBusinessPn.DomesticPersonnel" /></td>
                                    <td><input type="text" name="OverseasPersonnel" value="@ThisBusinessPn.OverseasPersonnel" /></td>
                                    <td class="bg_blue">@(WebUtil.NCommaRound(ThisBusinessPn.Investment - ThisBusinessPnL.Investment, 2))</td>
                                    <td class="bg_blue">@(WebUtil.NCommaRound(ThisBusinessPn.Personnel - ThisBusinessPnL.Personnel, 2))</td>
                                    <td class="bg_blue">@(WebUtil.NCommaRound(ThisBusinessPn.DomesticPersonnel - ThisBusinessPnL.DomesticPersonnel, 2))</td>
                                    <td class="bg_blue">@(WebUtil.NCommaRound(ThisBusinessPn.OverseasPersonnel - ThisBusinessPnL.OverseasPersonnel, 2))</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            <!--//tbl th_ver-->
            }

            <div class="btn_area align_left_right">
                <button class="btn full_green left" type="button" onclick="onList();">목록</button>
                <button class="btn full_green" type="button" onclick="onReset();">초기화</button>
                <button class="btn full_green" type="button" onclick="onCalculationAction();">계산하기</button>
            </div><!--//btn_area-->
            @*
            <h3>중기 투자, 인원 요약</h3>
            <table class="tbl th_hor" border="0" cellpadding="0" cellspacing="0">
                <caption></caption>
                <colgroup>
                    <col width="10%" />
                    <col width="/" />
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col" rowspan="2"></th>
                        <th scope="col" colspan="4">2017년</th>
                        <th scope="col" colspan="4">2018년</th>
                        <th scope="col" colspan="4">차이</th>
                    </tr>
                    <tr>
                        <th scope="col">투자</th>
                        <th scope="col">인원</th>
                        <th scope="col">국내인원</th>
                        <th scope="col">해외인원</th>
                        <th scope="col">투자</th>
                        <th scope="col">인원</th>
                        <th scope="col">국내인원</th>
                        <th scope="col">해외인원</th>
                        <th scope="col">투자</th>
                        <th scope="col">인원</th>
                        <th scope="col">국내인원</th>
                        <th scope="col">해외인원</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">2017년</th>
                        <td>232</td>
                        <td>8</td>
                        <td>232</td>
                        <td>8</td>
                        <td>232</td>
                        <td>8</td>
                        <td>232</td>
                        <td>8</td>
                        <td>232</td>
                        <td>8</td>
                        <td>232</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <th scope="row">2018년</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td class="bg_blue">49</td>
                        <td class="bg_blue">-36</td>
                        <td class="bg_blue">49</td>
                        <td class="bg_blue">-36</td>
                    </tr>
                    <tr>
                        <th scope="row">2019년</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td class="bg_blue">49</td>
                        <td class="bg_blue">-36</td>
                        <td class="bg_blue">49</td>
                        <td class="bg_blue">-36</td>
                    </tr>
                    <tr>
                        <th scope="row">2022년</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td><input type="text" name="" /></td>
                        <td class="bg_blue">49</td>
                        <td class="bg_blue">-36</td>
                        <td class="bg_blue">49</td>
                        <td class="bg_blue">-36</td>
                    </tr>
                </tbody>
            </table>
            <!--//tbl th_ver-->

            <div class="btn_area align_left_right">
                <button class="btn full_green left">목록</button>
                <button class="btn full_green">저장하기</button>
            </div><!--//btn_area-->
        </div>
        <!--// con_box -->
        *@
    </form>

</div><!--//container-->
<script>
    function onCalculationAction() {
        var f = document.frmMain;

        // 값확인
        if (!onCheckMultipleNameDoubleValues("Investment", "투자" + "@Message.MSG_001")) return false;
        if (!onCheckMultipleNameDoubleValues("Personnel", "인원" + "@Message.MSG_001")) return false;
        if (!onCheckMultipleNameDoubleValues("DomesticPersonnel", "국내인원" + "@Message.MSG_001")) return false;
        if (!onCheckMultipleNameDoubleValues("OverseasPersonnel", "해외인원" + "@Message.MSG_001")) return false;

        if (confirm("@Message.MSG_002_Q")) {
            f.message.value = "@Message.MSG_002_A";
            f.action = "Calculation_Action";
            f.submit();
        }
    }

    function onReset() {
        var f = document.frmMain;
        if (confirm("@Message.MSG_003_Q")) {
            f.message.value = "@Message.MSG_003_A";
            f.action = "Write";
            f.submit();
        }
    }

    function onList() {
        var f = document.frmMain;
        f.action = "List";
        f.submit();
    }

    function onDownExcel() {
        var f = document.frmMain;
        f.action = "Excel_Down2";
        f.submit();
    }

    function onRegistStatusChange(afterRegistStatus) {

        var f = document.frmMain;
        f.afterRegistStatus.value = afterRegistStatus;

        var confirmMessage = "";
        if (afterRegistStatus == "@(Define.REGIST_STATUS.GetKey("승인대기"))") {
            confirmMessage = "@Message.MSG_008_Q";
            f.message.value = "@Message.MSG_008_A";
        }
        else if (afterRegistStatus == "@(Define.REGIST_STATUS.GetKey("1차승인"))") {
            confirmMessage = "@Message.MSG_004_Q";
            f.message.value = "@Message.MSG_004_A";
        }
        else if (afterRegistStatus == "@(Define.REGIST_STATUS.GetKey("1차반려"))") {
            confirmMessage = "@Message.MSG_005_Q";
            f.message.value = "@Message.MSG_005_A";
        }
        else if (afterRegistStatus == "@(Define.REGIST_STATUS.GetKey("최종승인"))") {
            confirmMessage = "@Message.MSG_004_Q";
            f.message.value = "@Message.MSG_004_A";
        }
        else if (afterRegistStatus == "@(Define.REGIST_STATUS.GetKey("2차반려"))") {
            confirmMessage = "@Message.MSG_005_Q";
            f.message.value = "@Message.MSG_005_A";
        }

        if (confirm(confirmMessage)) {
            f.action = "Regist_Status_Change";
            f.submit();
        }
    }

    function onUploadExcel() {
        var f = document.frmMain;

        var excelFilePath = $("#ExcelFile").val();
        var fileLen = excelFilePath.length;
        var lastDot = excelFilePath.lastIndexOf('.');
        var excelFileExt = excelFilePath.substring(lastDot + 1, fileLen).toLowerCase();
        var orgCpyName = "@(orgCompanyName.CompanyName)";
        var excelFileName = excelFilePath.substring(excelFilePath.lastIndexOf('\\') + 1, fileLen).toLowerCase();

        if (excelFileExt == "") {
            alert('업로드할 파일을 첨부하세요.');
            return;
        }

        if (excelFileExt != "xlsx") {
            alert('엑셀 파일만 업로드 가능합니다.');
            $("#ExcelFile").val('');
            return;
        }

        if (excelFileName.indexOf('중기투자인원계획') < 0 || excelFileName.indexOf(orgCpyName.toLowerCase()) < 0) {
            alert('' + orgCpyName + ' - [중기투자인원계획] 파일이 아닙니다. \n파일을 확인해주세요');
            return;
        }
        var formData = new FormData($("#frmMain")[0]);

        $.ajax({
            type: "post",
            //url: "Excel_Upload",
            url: "Excel_Upload2",
            data: formData,
            processData: false,
            contentType: false,
            success: function (res) {
                if (res.success) {
                    alert('업로드되었습니다.');
                    f.action = "Write";
                    f.submit();
                }
                else {
                    $("#ExcelFile").val('');
                    alert(res.resultMsg);
                }
            },
            error: function (request, status, error) {
                alert("code:" + request.status + "\n" + "[" + request.responseText + "]");
            }
        });

    }
</script>

