
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var mainList = ViewData["mainList"] as List<ArticleEntity>;

    var menu = ViewData["_Menu"] as Dictionary<string, CategoryEntity>;
    var topmenu = ViewData["_TopMenu"] as List<CategoryEntity>;
}

@section scripts{
<script>
    $(function () {
        $("#btSearch").click(function () {
            var search = {
                StartDate: $("#period").val(),
                DateType: $("#period").val()?"REG_DATE":"",
                SortType: $("[name='SortType']:checked").val(),
                Carousel: $("[name='Carousel']:checked").val(),
                Hot: $("[name='Hot']:checked").val(),

                Area: $("#ddlArea").val(),
                Word: $("#tbWord").val()
            };

            $.post("MainArticleSearch", { search: search}, function (html) {
                $("#pList tbody").html($(html).find("tbody").html());
            },'html')
        });

        $("#tbWord").keydown(function (e) {
            if (e.keyCode == 13) {
                $("#btSearch").click();
            }
        });

        $("#pList").on("click", ".add", function (e) {
            e.preventDefault();

            var tr = $(this).parents("tr:first");
            if ($("#pMainList tr[data-id='" + tr.data("id") + "']").length > 0) {
                alert('이미 추가한 항목입니다.');
                return;
            }
            $.post("MainArticleItem", { type: "Hot", id: tr.data("id") }, function (html) {
                $("#pMainList tbody").append(html);
            },'html');
            
        });

        $("#pMainList").on("click", ".alink_del", function () {

            $(this).parents("tr:first").remove();
        });

        $("#btSave").click(function () {
            var trs = $("#pMainList tbody tr");
            if (trs.length != 5) {
                alert('반드시 5개 항목을 입력해야 합니다.');
                return;
            }

            var locate = {}
            var list = [];
            var valid = true;
            trs.each(function () {
                var val = $(this).find("#locate").val();
                if (locate[val]) {
                    valid = false;
                    alert('중복된 위치가 있습니다.');
                    return false;
                }
                locate[val] = "Y";
                list.push({ ArticleID: $(this).data("id"), SectionID: $(this).data("section"), SectionCode: val  });
            });

            if (!valid) return;

            if (confirm('저장하시겠습니까?')) {

                $.post("MainArticleSave", { list: JSON.stringify(list) }, function () {
                    location.reload();
                });
            }
        });

        function bindHistory(page) {
            $.post("MainArticleHistory", { pageNumber: page}, function (html) {
                $("#pop_set").html(html);
            }, 'html')
        }

        $("#pop_set").on("click", "[data-page]", function (e) {
            e.preventDefault();

            bindHistory($(this).data("page"));
        });

        $(".btn_set").click(function () {
            bindHistory(1);
        });

        if (location.href.indexOf("#pop_set") > 0) {
            bindHistory(1);
        }

        $(".modal-close").click(function () {
            $("#pop_set").html('');
        });
    });
</script>
}


<div class="con_area">
    <div class="ta01">
        <div class="main_title">인기 컨텐츠 관리</div>
        <div class="table_set">
            <!--인풋그룹-->
            <div class="input_group">
                <div class="sel_category">
                    <select id="period" name="StartDate" class="w150">
                        <option value="">기간전체</option>
                        <option value="@DateTime.Now.AddDays(-7*1).ToDate()">1주내</option>
                        <option value="@DateTime.Now.AddDays(-7*2).ToDate()">2주내</option>
                        <option value="@DateTime.Now.AddDays(-7*3).ToDate()">3주내</option>
                        <option value="@DateTime.Now.AddDays(-7*4).ToDate()">4주내</option>
                        <option value="@DateTime.Now.AddDays(-7*8).ToDate()">8주내</option>
                    </select>
                </div>
                @Html.Partial("MainSearch")
            </div>
            <div class="input_group01">
                <ul class="op_list">
                    <li><label><input type="radio" class="mgr10" name="SortType" value="ViewCount"/>조회수 높은 순</label></li>
                    <li><label><input type="radio" class="mgr10" name="SortType" value="LikeCount"/>Like 높은 순</label></li>
                    <li><label><input type="checkbox" class="mgr10" name="Carousel" value="Y"/>현 메인 Carousel 컨텐츠 제외</label></li>
                    <li><label><input type="checkbox" class="mgr10" name="Hot" value="Y"/>이전 인기 컨텐츠 제외 </label></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="ta01 mgt30">
        <div class="main_title">검색 결과</div>
        <div class="table_set">
            <!--테이블-->
            <table id="pList" class="ta_carousel">
                <colgroup><col><col><col><col><col><col></colgroup>
                <thead>
                    <tr>
                        <th>카테고리</th>
                        <th>제목</th>
                        <th>등록일</th>
                        <th>조회수</th>
                        <th>Like</th>
                        <th>댓글수</th>
                        <th class="non">설정</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <div class="ta01 mgt30">
        <div class="main_title">인기 컨텐츠 적용</div>
        <div class="table_set">
            <!--테이블 정보-->
            <table class="ta_info">
                <tr>
                    <td>좌좌상</td>
                    <td>좌우상</td>
                    <td rowspan="2">우측</td>
                </tr>
                <tr>
                    <td>좌좌하</td>
                    <td>좌우하</td>
                </tr>
            </table>

            <!--테이블-->
            <table id="pMainList" class="ta_carousel mgt10">
                <colgroup><col><col><col><col><col><col></colgroup>
                <thead>
                    <tr>
                        <th>카테고리</th>
                        <th>제목</th>
                        <th>설정일</th>
                        <th>등록일</th>
                        <th>조회수</th>
                        <th>Like</th>
                        <th>댓글수</th>
                        <th>위치</th>
                        <th class="non">삭제</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in mainList)
                    {
                        Html.RenderPartial("MainHotApply", item);
                    }
                </tbody>
            </table>

            <div class="al_right"><input type="submit" id="btSave" value="저장" class="mgt10" /></div>
        </div>
    </div>
</div>


<!-- Start : 설정이력 -->
<div id="pop_set" class="modal-window">
</div>

