@using HALLA_PM.Models;
@using HALLA_PM.Util;
@using HALLA_PM.Core;

@{
    ViewBag.Title = "DisclosureIndex";


    Search search = ViewBag.search;
    //DashBoard

    List<GroupMain> groupMainDisclosure = Model.groupMainDisclosure;
    List<RegistYearList> registYearPm = Model.registYearPm;
    List<DisclosureDetail> groupMainDisMenu = Model.groupMainDisMenu;
    List<DisclosureData> groupMainDisData = Model.groupMainDisData;

    var y = registYearPm
        .GroupBy(g => g.RegistYear)
        .Select(cl => new RegistYearList
        {
            RegistYear = cl.First().RegistYear
        })
        .ToList();

    if (string.IsNullOrWhiteSpace(search.year))
    {
        search.year = y.Last().RegistYear;
    }

    var m = registYearPm.Where(w => w.RegistYear == search.year).ToList();

    if (string.IsNullOrWhiteSpace(search.mm))
    {
        search.mm = m.First().RegistMonth;
    }

    decimal month = Convert.ToDecimal(search.mm);

    //var year = SessionManager.GetMemberSession().planYear.First().RegistYear;
    CommentList commentList = new CommentList();
    commentList.CommentYear = search.year;
    commentList.CommentMonth = search.mm;
    commentList.AttachTableName = "GROUP";
    commentList.AttachTableSeq = 0;
    commentList.UserKey = SessionManager.GetMemberSession().insaUserV.userKey;
    commentList.EmpNo = SessionManager.GetMemberSession().insaUserV.empNo;
    commentList.UserKorName = SessionManager.GetMemberSession().insaUserV.userKorName;
    commentList.CompKorName = SessionManager.GetMemberSession().insaDeptV == null ? "소속검색안됨" : SessionManager.GetMemberSession().insaDeptV.Compkorname;
    commentList.DeptKorName = SessionManager.GetMemberSession().insaDeptV == null ? "소속검색안됨" : SessionManager.GetMemberSession().insaDeptV.Deptkorname;
    commentList.CompanyName = "그룹";

}

<section class="group_wrap">
    <div class="top_wrap">
        <h2>그룹메인</h2>
    </div><!--//top_wrap-->

    <form name="frmForm" method="post">
        <div class="top_wrap">
            <div class="style_select">
                <label class="">
                    <span>@(search.year)년</span>
                    <select name="year" id="year" onchange="onChangeDate();">
                        @foreach (var item in y)
                        {
                            <option value="@item.RegistYear" @(search.year == item.RegistYear ? " selected" : "")>@(item.RegistYear)년</option>
                        }
                    </select>
                </label>
            </div>

            <div class="style_select">
                <label class="">
                    <span>@(Convert.ToInt32(search.mm))월</span>
                    <select name="mm" id="mm" onchange="onChangeDate();">
                        @foreach (var item in m)
                        {
                            <option value="@item.RegistMonth" @(search.mm == item.RegistMonth ? " selected" : "")>@(Convert.ToInt32(item.RegistMonth))월</option>
                        }
                    </select>
                </label>
            </div>
        </div><!--//top_wrap-->
    </form>


    <!--S: KPI 종합-->
    <div class="graph_box">

        <div class="box">
            <div class="graph">

                <div class="tbl_scroll_wrap" id="kpiTable" style="padding-left: 230px;">
                    <div class="tbl_box"  style="width: 230px;">
                        <table class="tbl th_hor tblfix">

                            <thead>
                                <tr>
                                   
                                        <th scope="col" colspan="2" class="row3">구분</th>
                                    
                                    @*<th colspan="2" class="row2"  width="100px;">세부항목</th>*@
                                </tr>
                            </thead>
                            <tbody>
                               @if(groupMainDisData != null)
                               {

                                    foreach (var item in groupMainDisData)
                                    {
                                        <tr>
                                            <th style="width: 190px;" scope="row">@item.DisName</th>
                                            <th style="width: 140px;" scope="row">@item.DetailName</th>
                                        </tr>
                                    }
                               }

                                </tbody>
                            </table><!--tbl-->
                    </div><!--//tbl_box-->

                 <div class="tbl_scroll">
                        <div class="tbl_add">
                            <table class="tbl th_hor">
                                <thead>

                                    <tr>
                                        @{
                                            List<GroupMain> GroupUnion = groupMainDisclosure.GroupBy(g => g.unionName)
                                                .Select(cl => new GroupMain
                                                {
                                                    unionName = cl.First().unionName,
                                                    unionSeq = cl.Count()
                                                }).ToList();

                                            foreach (var item in GroupUnion)
                                            {
                                                @*<th colspan="@(item.unionSeq)" class="ld">@(item.unionName)</th>*@
                                                <th colspan="@(item.unionSeq *2)" class="ld">@(item.unionName)</th>

                                            }
                                        }

                                    </tr>
                                    <tr>

                                        @{
                                            List<GroupMain> GroupCompany = groupMainDisclosure.GroupBy(g => g.companyName)
                                               .Select(cl => new GroupMain
                                               {
                                                   unionName = cl.First().unionName,
                                                   companyName = cl.First().companyName,

                                               }).ToList();
                                            string beforeUnion = "";

                                            foreach (var item in GroupCompany)
                                            {
                                                if (beforeUnion != item.unionName)
                                                {
                                                    <th class="ld" colspan="2" style="width: 50px;">@(item.companyName)</th>
                                                    beforeUnion = item.unionName;

                                                }
                                                else
                                                {
                                                    <th colspan="2" style="width: 50px;">@(item.companyName)</th>
                                                }
                                            }
                                        }

                                    </tr>
                                    <tr style="width: 50px;">
                                        @{


                                            foreach (var item in GroupCompany)
                                            {
                                                if (beforeUnion != item.unionName)
                                                {
                                                    <th class="ld">공시항목 (대상유무)</th>
                                                    <th>금액(백만원)</th>

                                                    beforeUnion = item.unionName;

                                                }
                                                else
                                                {
                                                    <th>공시항목 (대상유무)</th>
                                                    <th>금액(백만원)</th>
                                                }
                                                

                                            }
                                        }

                                    </tr>
                                </thead>
                                <tbody>



                                    @if(groupMainDisData !=null){

                                        foreach (var item in groupMainDisData)
                                        {
                                    <tr>
                                        <td style="width: 300px;" class="ld">@item.T11_01 @(@item.T11_02 != "" ? "(" + @item.T11_02 + ")" : "" )</td>
                                        <td>@(@item.T11_03 == "0" ? "" : string.Format("{0:n0}", Convert.ToInt32(@item.T11_03)) ) </td>
                                                                                                                                                              
                                        <td style="width: 300px;">@item.T12_01 @(@item.T12_02 != "" ? "(" + @item.T12_02 + ")" : "" )</td>                    
                                        <td>@(@item.T12_03 == "0" ? "" : string.Format("{0:n0}", Convert.ToInt32(@item.T12_03)) ) </td>
                                                                                                                                                              
                                        <td style="width: 300px;">@item.T13_01 @(@item.T13_02 != "" ? "(" + @item.T13_02 + ")" : "" )</td>                    
                                        <td>@(@item.T13_03 == "0" ? "" : string.Format("{0:n0}", Convert.ToInt32(@item.T13_03)) ) </td>
                                                                                                                                                              
                                        <td style="width: 300px;">@item.T14_01 @(@item.T14_02 != "" ? "(" + @item.T14_02 + ")" : "" )</td>                    
                                        <td>@(@item.T14_03 == "0" ? "" : string.Format("{0:n0}", Convert.ToInt32(@item.T14_03)) ) </td>
                                                                                                                                                              
                                        <td style="width: 300px;">@item.T15_01 @(@item.T15_02 != "" ? "(" + @item.T15_02 + ")" : "" )</td>                    
                                        <td>@(@item.T15_03 == "0" ? "" : string.Format("{0:n0}", Convert.ToInt32(@item.T15_03)) ) </td>
                                                                                                                                                              
                                        <td style="width: 300px;">@item.T16_01 @(@item.T16_02 != "" ? "(" + @item.T16_02 + ")" : "" )</td>                  
                                        <td>@(@item.T16_03 == "0" ? "" : string.Format("{0:n0}", Convert.ToInt32(@item.T16_03)) ) </td>

                                        <td style="width: 300px;">@item.T17_01 @(@item.T17_02 != "" ? "(" + @item.T17_02 + ")" : "" )</td>
                                        <td>@(@item.T17_03 == "0" ? "" : string.Format("{0:n0}", Convert.ToInt32(@item.T17_03)) ) </td>

                                        <td style="width: 300px;">@item.T18_01 @(@item.T18_02 != "" ? "(" + @item.T18_02 + ")" : "" )</td>
                                        <td>@(@item.T18_03 == "0" ? "" : string.Format("{0:n0}", Convert.ToInt32(@item.T18_03)) )</td>
                                        <td style="width: 300px;" class="ld">@item.T19_01 @(@item.T19_02 != "" ? "(" + @item.T19_02 + ")" : "" )</td>

                                        <td>@(@item.T19_03 == "0" ? "" : string.Format("{0:n0}", Convert.ToInt32(@item.T19_03)) )</td>
                                    </tr>
                                        }
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div><!--//graph-->
        </div><!--//box-->

    </div><!--//graph_box-->




</section><!--//group_wrap-->
<script>
    $(function () {
        /*셀렉트박스 스타일*/
        MYAPP.form.styleSelect($(".style_select select"));
        /*테이블 스크롤 세팅*/
        MYAPP.table.setScroll($("#container .tbl_scroll"));
    })



    function onChangeDate() {
        var f = document.frmForm;
        f.action = "/Dis/DisclosureIndex";
        f.submit();
    }

    function funItemLink(seq,item) {
        var f = document.frmForm;
        f.action = "/Dis/DisCompany?Seq=" + seq + "#" + item ;
        f.target="_blank";
        f.submit();
        f.target="";
    }
</script>
@Html.Partial("~/Views/Shared/PartialReply.cshtml", commentList)
