@{
    /**/

    var article = ViewData["article"] as ArticleEntity;
    var attach = ViewData["attach"] as List<FileEntity>;
    var like = ViewData["like"] as ArticleLikeEntity;
    var commentList = ViewData["commentList"] as List<CommentEntity>;
    var commentFiles = ViewData["commentFiles"] as List<FileEntity>;

    var menu = ViewData["_Menu"] as Dictionary<string, CategoryEntity>;
    var topmenu = ViewData["_TopMenu"] as List<CategoryEntity>;

    var search = ViewData["search"] as SearchModel;
}

@section scripts{
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script>
        Kakao.init('67ae58ebaf08a49bc4e4d1f10b0ab6e7');

            Kakao.Link.createDefaultButton({
                container: '#btShare',
                objectType: 'feed',
                content: {
                    title: '@article.Title',
                    description: '@article.Summary',
                    imageUrl: 'http://dc.rd.com/HallaTube/inc/images/contents/default.jpg',
                    link: {
                        //mobileWebUrl: 'http://dc.rd.com/HallaTube/Article/Read?id=0001WMMS51NX',
                        webUrl: 'http://@Config.Domain/HallaTube/Article/Read?id=' + $.queryURL("id")
                    }
                },
                buttons: [
                    {
                        title: '웹으로 보기',
                        link: {
                            //mobileWebUrl: 'http://dc.rd.com/HallaTube/Article/Read?id=0001WMMS51NX',
                            webUrl: 'http://@Config.Domain/HallaTube/Article/Read?id=' + $.queryURL("id")
                        }
                    },
                    //{
                    //    title: '앱으로 보기',
                    //    link: {
                    //        mobileWebUrl: 'https://developers.kakao.com',
                    //        webUrl: 'https://developers.kakao.com'
                    //    }
                    //}
                ]
            });
    </script>

    <script type="text/javascript">
        var G_UploadID;

        function fn_addFile() {
            var files = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(attach));

            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                DEXT5UPLOAD.AddUploadedFile(file.FileID, file.FileNm, file.Path, file.Size, '', G_UploadID);
            }
            // DEXT5UPLOAD.AddUploadedFile('3', 'dext5_logo.png', 'http://www.dext5.com/page/images/dext5_logo.png', '2232', '', G_UploadID);
        }

        // 생성완료 이벤트
        function DEXT5UPLOAD_OnCreationComplete(uploadID) {
            G_UploadID = uploadID;

            fn_addFile();
        }

        // 취소 이벤트
        function DEXT5UPLOAD_UploadingCancel(uploadID, uploadedFileListObj) {
            G_UploadID = uploadID;

        }
    </script>


    <script>
        $(function () {

            function getCookie(name) {
                var nameOfCookie = name + "=";
                var x = 0;
                while (x <= document.cookie.length) {
                    var y = (x + nameOfCookie.length);
                    if (document.cookie.substring(x, y) == nameOfCookie) {
                        if ((endOfCookie = document.cookie.indexOf(";", y)) == -1)
                            endOfCookie = document.cookie.length;
                        return unescape(document.cookie.substring(y, endOfCookie));
                    }
                    x = document.cookie.indexOf(" ", x) + 1;
                    if (x == 0)
                        break;
                }
                return "";
            }
           
            var val = getCookie("EP_USER_KEY");

            if (val == "" || val == null) {
                    
                alert('연결된 사용자 계정이 존재하지 않습니다. 관리자에게 문의 바랍니다');
                location.href = "https://ep.halla.com";
            }


            $(document).on("click", "#btLike", function (e) {
                e.preventDefault();
                var s = $(this);

                if (s.hasClass("like")) {
                    $.post('Like', { id: $.queryURL("id") }, function (data) {
                        s.replaceWith(data);
                    });
                }
                else {
                    $.post('CancelLike', { id: $.queryURL("id") }, function (data) {
                        s.replaceWith(data);
                    });
                }
            });

            $(document).on("click", "[data-page]", function (e) {
                e.preventDefault();

                $("#hPageNumber").val($(this).data("page"));
                $("form").submit();
            });


            $(".comment_wrap").on("click", ".btn_register", function () {
                var wrap = $(this).parents(".comment_area");
                var editor = wrap.find(".comment_body");

                var entity = {};
                entity.CommentID = wrap.data("id");
                entity.GroupID = wrap.data("group");
                entity.ArticleID = $.queryURL("id");
                entity.Body = editor.html();
                if (editor.find("img").length == 0 && $.trim(editor.text()).length == 0) {
                    alert(_text("msgInputField", { Name: "댓글" }));
                    return;
                }
                entity.IsSecret = wrap.find(".btn_secret").hasClass("") ? "Y" : "";

                var formData = new FormData();
                $.each(wrap.find("input[type='file']")[0].files, function (i, file) {
                    formData.append('uploadfile', file);
                });

                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: _config.AppPath + "FileReceiver?type=Image",
                    contentType: false,
                    processData: false,
                    data: formData,
                    dataType: 'json',
                    success: function (files) {
                        var delFiles = [];
                        wrap.find(".attached_wrap .delete").each(function () {
                            delFiles.push($(this).data("id"));
                        });

                        $.post('CommentSave', { entity: entity, files: JSON.stringify(files), delFiles: JSON.stringify(delFiles) }, function (result) {
                            var group = $('<li></li>').append(result);
                            if (wrap.data("id") || wrap.data("group")) {
                                wrap.parents("li:first").replaceWith(group);
                                RemoveCommentArea();
                            }
                            else {
                                editor.html('<div><br></div>');
                                wrap.find(".btn_upload").val('');
                                wrap.find(".btn_upload").change();

                                $(".comment_list").append(group);
                            }

                            var count = parseInt($("#pCommentCount").text());
                            $("#pCommentCount").text(count + 1);
                        }, 'html');
                    },
                    error: function (e) {
                        alert("fail");
                    }
                });
            });

            $(".comment_wrap").on("click", ".btn_del", function () {
                RemoveCommentArea();

                if (confirm(_text("confirmConfirm", { Name: "삭제" }))) {
                    var inner = $(this).parents(".inner:first");

                    $.post('CommentDelete', { id: inner.data("id") }, function () {
                        inner.parents("li:first").remove();

                        var count = parseInt($("#pCommentCount").text());
                        $("#pCommentCount").text(count - 1);
                    });
                }
            });

            $(".comment_wrap").on("click", ".btn_modify", function () {
                RemoveCommentArea();

                var inner = $(this).parents(".inner:first");
                $.post('CommentWrite', { id: inner.data("id") }, function (result) {
                    inner.parent().append(result);
                    $(result).find(".comment_body").focus();
                }, 'html');
            });

            function RemoveCommentArea() {
                var area = $(".comment_area.current");
                if (area.data("id")) {//수정
                    $(".comment_area.current").remove();
                }
                else {//답글
                    $(".comment_area.current").parents("li:first").remove();
                }
            }

            $(".comment_wrap").on("click", ".btn_cancel", function () {
                RemoveCommentArea();
            });

            $(".comment_wrap").on("click", ".btn_del_file", function () {
                $(this).parent().addClass('delete');
                $(this).parent().hide();
            });

            $(".comment_wrap").on("click", ".btn_comment", function () {
                RemoveCommentArea();

                var inner = $(this).parents(".inner:first");
                $.post('CommentWrite', { group: inner.data("group") }, function (result) {
                    var group = $('<li></li>').append(result).addClass("reply_comment");
                    $(".inner[data-group='" + inner.data("group") + "']:last").parents("li:first").after(group);
                    group.find(".comment_body").focus();

                }, 'html');
            });

            function controlselectHandler(evt) {
                evt.preventDefault();
            }
            document.body.addEventListener('mscontrolselect', controlselectHandler);

            $(".btn_imoticon").click(function () {
                var idx = $(this).data('index');
                var wrap = $(this).parents(".comment_area");
                var editor = wrap.find(".comment_body");
                //saveCaret(editor);

                var selection = window.getSelection();
                if (selection.containsNode === undefined) {
                    selection.containsNode = function (target) {

                        return (selection.anchorNode == target || $.contains(target, selection.anchorNode)) > 0
                            && (selection.focusNode == target || $.contains(target, selection.focusNode));
                    }
                }
                if (selection.rangeCount == 0 || !selection.containsNode(editor[0], true)) {
                    selection.removeAllRanges();

                    let range = document.createRange();
                    range.setEndBefore(editor.find('div:last')[0]);
                    range.collapse(false);
                    selection.addRange(range);
                }
                var icon = $('<img src="' + _config.AppPath + 'inc/images/btn/btn_imoticon' + idx + '.png"> ')[0];
                selection.deleteFromDocument();
                selection.getRangeAt(0).insertNode(icon);
                var range = selection.getRangeAt(0);
                range.setEndAfter(icon);
                range.collapse(false);
                //$("#caret").after();
                //restoreCaret(editor);

            });


            $(".attached_wrap .btn_layer_open").click(function (e) {
                var html = $('<img style="max-width:1270px;"/>').attr("src", $(this).data("path"));
                $("#pop_video_player").html(html);
            });
        });
    </script>
    <script>
        $(function () {
            $("#btDelete").click(function () {

                if (confirm(_text("confirmConfirm", { Name: "삭제" }))) {
                    $.post('Delete', { id: $.queryURL("id") }, function () {

                        location.href = "List?CategoryCode=@article.CategoryCode";
                    });
                }
            });
        });
    </script>
}

<div class="contents">
    <form method="get" action="#pCommentList">
        <input type="hidden" name="id" value="@article.ArticleID" />
        <input type="hidden" name="PageNumber" id="hPageNumber" />
    </form>
    <div class="sub_tit_wrap">
        <a href="#none;" class="btn_flat type_gray">@Text["목록보기"]</a>
        @Html.Partial("Nav")
    </div>

    <div class="headline">
        <h2 class="tit">@article.Title</h2>
    </div>

    <div class="con_wrap">
        <div class="ex_con_wrap">
            <div class="news_view">
                <div class="con_area">
                    <p style="color:#556670;">
                        @Html.Raw(article.Body)
                    </p>
                </div>
                <div class="con_area" style="margin-top:30px;">
                    <script type="text/javascript" src="~/Component/dext5upload/js/dext5upload.js"></script>
                    <script type="text/javascript">

                        // 해당 config 이외의 설정도 가능합니다. (www.dext5.com > 개발센터 참조)
                        //DEXT5UPLOAD.config.InitXml = 'dext5upload.config.xml';
                        //DEXT5UPLOAD.config.SkinName = 'pink';
                        DEXT5UPLOAD.config.Width = '900px';
                        //DEXT5UPLOAD.config.Height = '500px';
                        //DEXT5UPLOAD.config.MaxTotalFileSize = '20GB';
                        //DEXT5UPLOAD.config.MaxOneFileSize = '20KB';
                        //DEXT5UPLOAD.config.MaxTotalFileCount = '9';
                        //DEXT5UPLOAD.config.MultiFileSelect = false;
                        //DEXT5UPLOAD.config.ExtensionAllowOrLimit = '0';
                        //DEXT5UPLOAD.config.ExtensionArr = 'png';
                        //DEXT5UPLOAD.config.FolderNameRule = "/uploadfolder";
                        //DEXT5UPLOAD.config.Mode = 'view'; // edit, view
                        //DEXT5UPLOAD.config.ButtonBarEdit = "add,send,remove,remove_all";
                        //DEXT5UPLOAD.config.ButtonBarView = "open,download,download_all";
                        //DEXT5UPLOAD.config.Lang = "en-us"; // ko-kr, en-us, ja-jp, zh-cn, zh-tw
                        //DEXT5UPLOAD.config.UploadHolder = "uploadHoder_PlaceHolder";
                        //DEXT5UPLOAD.config.IgnoreSameUploadName = "1";

                        DEXT5UPLOAD.config.Mode = 'view'; // edit, view
                        //DEXT5UPLOAD.config.Runtimes = ''; // 웹표준모드 : html5, 플러그인모드(IE전용) : ieplugin, version이하 플러그인(IE전용) : versionieplugin

                        // 다운로드 진행창을 부모창에 띄우기 위한 설정.
                        // 업로드를 iframe 형태로 띄우는 경우 사이즈가 작아서 전송창이 가려질 때 설정하면 유용합니다.
                        //DEXT5UPLOAD.config.DialogWindow = parent.window;

                        var upload = new Dext5Upload("dext5upload");

                    </script>
                </div>
                <div class="article_wrap">
                    <div class="top_info_wrap">
                        <ul>
                            <li id="pViewCount" class="view">@article.ViewCount</li>
                            @Html.Partial("ArticleLike")
                            <li class="share" style="cursor:pointer;" id="btShare">@article.ShareCount</li>
                        </ul>
                        <p class="date">@article.RegDate.TimeZone16(User.TimeZones)</p>
                    </div>

                    <div class="comment_wrap">
                        <p class="tit comment">댓글 (<span id="pCommentCount">@article.CommentCount</span>개)</p>
                        @Html.Partial("CommentWrite", new CommentEntity())

                        <ul id="pCommentList" class="comment_list">
                            @foreach (var comment in commentList)
                            {
                                bool reply = comment.CommentLevel > 0;
                                <li>
                                    @Html.Partial("CommentItem", comment)
                                </li>
                            }
                        </ul>

                        <!-- paging -->
                        @Html.Partial("PageNavigator", search)
                        <!-- //paging -->
                    </div>

                </div>

                <div class="btn_wrap">
                    <div class="btn_group" style="float:right">
                        @if (User.UserId != article.RegID || User.UserType == AuthType.ADMIN)
                        {
                        <a href="Write?id=@article.ArticleID" id="btModify" class="btn_flat type_blue">@Text["수정"]</a>
                        <a href="#none;" id="btDelete" class="btn_flat type_gray">@Text["삭제"]</a>
                        }
                    </div>
                    <div style="clear:both;"></div>
                </div>

            </div>
        </div>

        @Html.Partial("ArticleNewList")
    </div>
</div>