@model PagedList.IPagedList<GCRL.Areas.test.Models.itemModel>

@using GCRL.Modules;
@using PagedList.Mvc;
@{
    ViewBag.Title = "list";
}

@{ var meta_sitesec = "GCLabs"; }
@{ var meta_sitename = "GC녹십자의료재단"; }
@{ var meta_title = "Search for Test Items"; }
@{ var meta_Site_image = "http://121.140.143.35:4060/assets/images/gclabs-logo.png"; }
@{ var meta_description = "Our state-of-the-art system ensures rapid and accurate testing."; }
@{ var meta_page_url = "http://121.140.143.35:4060/eng/testlists"; }
@{ var meta_keywords = " test, Search for Test Items"; }
@{ var meta_twitter_site = ""; }


@section meta {
    <title>@meta_title</title>
    <meta name="description" content="@meta_description" />
    <meta name="keywords" content="@meta_keywords" />
    <meta property="og:title" content="@meta_title" />
    <meta property="og:type" content="웹 사이트" />
    <meta property="og:description" content="@meta_description" />
    <meta property="og:image" content="@meta_Site_image" />
    <meta property="og:url" content="@meta_page_url" />
    <meta property="og:site_name" content="@meta_sitename" />
    <meta name="twitter:card" content="요약" />
    <meta name="twitter:site" content="@meta_twitter_site" />
    <meta name="twitter:title" content="@meta_title" />
    <meta name="twitter:description" content="@meta_description" />
    <meta name="ms.sitename" content="@meta_sitename" />
    <meta name="ms.sitesec" content="@meta_sitesec" />
}
@section script {

    <script type="text/javascript" src="../../assets/lib/jquery-2.2.4.min.js"></script>
    <!-- Live List Layout -->
    <script type="text/javascript" src="../../assets/lib/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="../../assets/lib/slick.min.js"></script>
    <script type="text/javascript" src="../../assets/js/app.js"></script>

       
        <script>
        var onoff;
        var fieldVal = '@ViewBag.field';
        var initialVal = '@ViewBag.initial';

        $(document).ready(function () {
            onoff = '@Html.Raw(ViewBag.onoff)';
            if (onoff == 'on') {
                $($('.search-detail').find('button')).click();
            }
            $(window).on('load resize', function () {
                if ($(window).width() > 800) {
                    $('.pg_pc').css('display', 'block');
                    $('.pg_mb').css('display', 'none');
                } else {
                    $('.pg_pc').css('display', 'none');
                    $('.pg_mb').css('display', 'block');
                }
            });
        });
        function enterkey() {
            if (window.event.keyCode == 13) {

                // 엔터키가 눌렸을 때 실행하는 반응
                onInitSearch();
            }
        }
        function onInitSearch() {
            var searchType = 'all';
       
            onoff = $('.search-detail').find('button')[0].className == 'btn btn-filter' ? 'off' : 'on';
            var param = '@Url.Action("list")' + '?'
                + '&initial=' + initialVal
                + '&field=' + fieldVal
                + '&searchType=' + searchType
                + '&searchText=' + $('#search').val()
                + '&onoff=' + onoff;

            location.href = param;
        }
    
        function onFieldSearch(field, initial, thisObj, area) {
            
            var searchType = 'all';
            onoff = $('.search-detail').find('button')[0].className == 'btn btn-filter' ? 'off' : 'on';
            fieldVal = (area == 'f' ? field : fieldVal);
            initialVal = (area == 'f' ? initialVal : initial);
            if (area == 'f') {
                $($('#field').find('.all')).attr('class', '');
            }
            else {
                $($('.type2').find('.all')).attr('class', '');
            }
            $(thisObj)[0].className = "all";

            var param = '@Url.Action("list")' + '?'
                + '&initial=' + initial
                + '&field=' + field
                + '&searchType=' + searchType
                + '&searchText=' + $('#search').val()
                + '&onoff=' + onoff;

            location.href = param;
        }

      

        function view(code) {
            location.href = '@Url.Action("view")' + '?' + 'code=' + code;
        }

        function fnCssCheck() {
            onoff = $('.search-detail').find('button')[0].className == 'btn btn-filter' ? 'on' : 'off';
        }
        </script>
    
}
<div id="container" class="container test-information">
    <div class="contents-wrap test-index">
        <div class="contents-inner">


            <div class="breadcrumb">
                <span><a href="#">HOME</a></span>


                <span><a href="#">Test </a></span>


                <span class="current">Test Lists</span>
            </div>

            <div class="page-title">
                <h2 class="title">Test Lists</h2>
                <p class="text">Our state-of-the-art system ensures rapid and accurate testing.</p>
            </div>

            <div class="board-wrap">

                <div class="board-list-head">


                    <div class="search-wrap">
                        <form action="">
                            <div class="search-area">
                                <span class="search-box">

                                    <input type="text" class="inp-search" name="search" id="search" title="Enter your search keyword." value="@ViewBag.searchText" placeholder="Enter your search keyword." onkeyup="enterkey();">
                                </span>
                                <span class="search-btn">
                                    <button type="button" class="search-go" onclick="onInitSearch();"></button>
                                </span>
                            </div>
                        </form>

                        <div class="search-detail">
                            <button class="btn btn-filter" onclick="fnCssCheck();"><span>Filter</span></button>
                        </div>

                    </div>

                    <div class="total-count">Total <span>@ViewBag.head</span></div>

                </div>


                <div class="search-filter-box">

                    <div class="search-detail">
                        <p class="tit">Field</p>
                        <div class="btn-detail" id="field">
                            @{
                                if (ViewBag.field == "")
                                {
                                    <input type="button" class="all" value="All" onclick="onFieldSearch('', '@ViewBag.initial', this,'f');" />
                                }
                                else
                                {
                                    <input type="button" class="" value="All" onclick="onFieldSearch('', '@ViewBag.initial', this,'f');" />
                                }

                                var commlist = Functions.GetCommList_V2("item_cd_en", "");

                                for (int i = 0; i < commlist.Count; i++)
                                {
                                    if (ViewBag.field == commlist[i].CODE)
                                    {
                                        <input type="button" class="all" value="@commlist[i].NAME" onclick="onFieldSearch('@commlist[i].CODE', '@ViewBag.initial', this,'f');">
                                    }
                                    else
                                    {
                                        <input type="button" class="" value="@commlist[i].NAME" onclick="onFieldSearch('@commlist[i].CODE', '@ViewBag.initial', this,'f');">
                                    }
                                }
                            }
                        </div>
                    </div>


                    <div class="search-detail">
                        <p class="tit">Initial</p>
                        <div class="btn-detail type2">
                            @{
                                if (ViewBag.initial == "")
                                {
                                    <input type="button" class="all" value="All" onclick="onFieldSearch('@ViewBag.field', '', this);">
                                }
                                else
                                {
                                    <input type="button" class="" value="All" onclick="onFieldSearch('@ViewBag.field', '', this);">
                                }

                                for (int i = 65; i <= 92; i++)
                                {
                                    var val = string.Concat((char)i);

                                    if (i == 91)
                                    {
                                        val = "123";
                                    }
                                    if (i == 92)
                                    {
                                        val = "ETC";
                                    }

                                    if (ViewBag.initial == val)
                                    {
                                        <input type="button" class="all" value="@val" onclick="onFieldSearch('@ViewBag.field', '@val', this);">
                                    }
                                    else
                                    {
                                        <input type="button" class="" value="@val" onclick="onFieldSearch('@ViewBag.field', '@val', this);">
                                    }
                                }
                            }
                        </div>
                    </div>

                </div>




                <div class="table-wrap">
                    <div class="table-inner">
                        <table class="table tb-default grid-ty2">
                            <colgroup>

                                <col class="" width="7%">

                                <col class="" width="15%">

                                <col class="" width="*">

                                <col class="" width="15%">

                                <col class="" width="15%">

                            </colgroup>
                            <thead>

                                <tr>
                                    <th class="">No</th>
                                    <th class="">GC Labs Code</th>
                                    @*<th class="">분류번호</th>
                            <th class="">보험코드</th>*@
                                    <th class="">Test Item</th>
                                    <th class="">Test Schedule</th>
                                    <th class="">Analytical Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr onclick="view('@item.itemCode');" style="cursor:pointer;">
                                        <td class="sm-none">@item.no</td>
                                        <td class="sm-inline">@item.itemCode</td>

                                        <td class="sm-block left2">@item.itemName</td>
                                        <td class="sm-none">@item.day </td>
                                        <td class="sm-none">@item.during</td>

                                    </tr>

                                }
                                @if (@ViewBag.head == 0)
                                {
                                    <tr class="">
                                        <td colspan="5">
                                            Sorry, no results found.
                                        </td>
                                    </tr>
                                }
                            </tbody>


                        </table>
                    </div>
                </div>
                <div class="test_noti">
                    * Price Inquiry: gclabsob@gclabs.co.kr
                </div>
                <div class="paging-wrap">
                    <div class="paging">
                        <div class="pg_pc">
                            @Html.PagingBoardPager2(Model, pageNo => Url.Action("list", new
                            {
                                pageNo,
                                pageSize = ViewBag.pageSize,
                                initial = ViewBag.initial,
                                field = ViewBag.field,
                                searchType = ViewBag.searchType,
                                searchText = ViewBag.searchText
                            }),
                                new PagedListRenderOptions
                                {
                                    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                    DisplayLinkToLastPage = PagedListDisplayMode.Never,
                                    MaximumPageNumbersToDisplay = 10,
                                    LinkToNextPageFormat = "Next",
                                    LinkToPreviousPageFormat = "Prev"
                                })
                        </div>

                        <div class="pg_mb">
                            @Html.PagingBoardPager2_M(Model, pageNo => Url.Action("list", new
                           {
                               pageNo,
                               pageSize = ViewBag.pageSize,
                               initial = ViewBag.initial,
                               field = ViewBag.field,
                               searchType = ViewBag.searchType,
                               searchText = ViewBag.searchText
                           }))
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>