
@{
    ViewBag.Title = "consulting";
}

@{ var meta_sitesec = "GCLabs"; }
@{ var meta_sitename = "GC녹십자의료재단"; }
@{ var meta_title = "Consulting"; }
@{ var meta_Site_image = "http://121.140.143.35:4060/assets/images/gclabs-logo.png"; }
@{ var meta_description = "Provision of smooth workflow from base of construction, set-up of technology & IT system, manpower assignment"; }
@{ var meta_page_url = "http://121.140.143.35:4060/eng/business"; }
@{ var meta_keywords = "BUSINESS, Consulting"; }
@{ var meta_twitter_site = ""; }


@section meta {
    <title>@meta_title</title>
    <meta name="description" content="@meta_description" />
    <meta name="keywords" content="@meta_keywords" />
    <meta property="og:title" content="@meta_title" />
    <meta property="og:type" content="웹 사이트" />
    <meta property="og:description" content="@meta_description" />
    <meta property="og:image" content="@meta_Site_image" />
    <meta property="og:url" content="@meta_page_url" />
    <meta property="og:site_name" content="@meta_sitename" />
    <meta name="twitter:card" content="요약" />
    <meta name="twitter:site" content="@meta_twitter_site" />
    <meta name="twitter:title" content="@meta_title" />
    <meta name="twitter:description" content="@meta_description" />
    <meta name="ms.sitename" content="@meta_sitename" />
    <meta name="ms.sitesec" content="@meta_sitesec" />
}
@section script {

    <script type="text/javascript" src="../../assets/lib/jquery-2.2.4.min.js"></script>
    <!-- Live List Layout -->
    <script type="text/javascript" src="../../assets/lib/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="../../assets/lib/slick.min.js"></script>
    <script type="text/javascript" src="../../assets/js/app.js"></script>


}
<div id="container" class="container gclabs">
    <div class="contents-wrap">
        <div class="contents-inner">

            <div class="breadcrumb">
                <span><a href="#">Home</a></span>


                <span><a href="#">BUSINESS</a></span>
                <!-- <span><a href="#">Business Areas</a></span> -->

                <span class="current">Consulting</span>
            </div>

            <div class="page-title">
                <h2 class="title">Consulting</h2>
                <p class="text">Provision of smooth workflow from base of construction, set-up of technology & IT system, manpower assignment</p>
            </div>

            <div class="consulting-wrap">

                <div class="section">
                    <div class="text-wrap">
                        <p class="text">Each stage of entire work flow will be managed by assigning GC Labs’ manpower on site</p>
                        <p class="text2"></p>
                    </div>
                    <ul class="region-info jeju">
                        <li class="info1">
                            <div class="box">
                                <i class="icon"></i>
                                <strong>Test equipment setting <br>& accreditation</strong>
                            </div>
                        </li>
                        <li class="info2">
                            <div class="box">
                                <i class="icon"></i>
                                <strong>System ( IT )  <br>Setting</strong>
                            </div>
                        </li>
                        <li class="info3">
                            <div class="box">
                                <i class="icon"></i>
                                <strong>Operation  <br>Workflow</strong>
                            </div>
                        </li>
                        <li class="info4">
                            <div class="box">
                                <i class="icon"></i>
                                <strong>Customized Bio  <br>Logistics Service</strong>
                            </div>
                        </li>
                    </ul>
                </div>





            </div>

            <div class="board-wrap">
                <div class="info-box">
                    <p class="text_center" ">
                        Provision of smooth workflow from base of construction, set-up of technology & IT system, manpower assignment
                    </p>
                </div>
                <div class="board-list">
                    <div class="list-wrap">
                        <ul class="lists type-row biological">
                            <li class="item">
                                <div class="box">
                                    <div class="thumbnail">
                                        <img src="../../../assets/images/img-cont-01.png" alt="">
                                    </div>
                                    <div class="contents">
                                        <strong class="title">Test equipment setting & accreditation</strong>
                                        <p class="content">Provide GC Labs’ knowhow & optimum guideline according to form of construction</p>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class="box">
                                    <div class="thumbnail">
                                        <img src="../../../assets/images/img-cont-02.png" alt="">
                                    </div>
                                    <div class="contents">
                                        <strong class="title">System ( IT ) Setting</strong>
                                        <p class="content">By advising globally advanced LIS (Lab Information System), provide efficient and safe system to both patient and clinicians</p>

                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class="box">
                                    <div class="thumbnail">
                                        <img src="../../../assets/images/img-cont-03.png" alt="">
                                    </div>
                                    <div class="contents">
                                        <strong class="title">Operation Workflow </strong>
                                        <p class="content">Plan manpower assignment proposal accordingly & provide optimum lab operation service by monitoring whole flow of operation</p>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class="box">
                                    <div class="thumbnail">
                                        <img src="../../../assets/images/img-cont-04.png" alt="">
                                    </div>
                                    <div class="contents">
                                        <strong class="title">Customized Bio Logistics Service</strong>
                                        <p class="content">Based on 40 years’ experience, provide customized bio logistics service with the best know-how on temperature, time and safety. </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
