@{
    ViewBag.Title = "health";
}

@{ var meta_sitesec = "GCLabs"; }
@{ var meta_sitename = "GC녹십자의료재단"; }
@{ var meta_title = "Clinical Diagnostics"; }
@{ var meta_Site_image = "http://121.140.143.35:4060/assets/images/gclabs-logo.png"; }
@{ var meta_description = "Provision of advanced testing service to local institutions through GC Labs’ know-how"; }
@{ var meta_page_url = "http://121.140.143.35:4060/eng/business"; }
@{ var meta_keywords = "BUSINESS, Clinical Diagnostics"; }
@{ var meta_twitter_site = ""; }


@section meta {
    <title>@meta_title</title>
    <meta name="description" content="@meta_description" />
    <meta name="keywords" content="@meta_keywords" />
    <meta property="og:title" content="@meta_title" />
    <meta property="og:type" content="웹 사이트" />
    <meta property="og:description" content="@meta_description" />
    <meta property="og:image" content="@meta_Site_image" />
    <meta property="og:url" content="@meta_page_url" />
    <meta property="og:site_name" content="@meta_sitename" />
    <meta name="twitter:card" content="요약" />
    <meta name="twitter:site" content="@meta_twitter_site" />
    <meta name="twitter:title" content="@meta_title" />
    <meta name="twitter:description" content="@meta_description" />
    <meta name="ms.sitename" content="@meta_sitename" />
    <meta name="ms.sitesec" content="@meta_sitesec" />
}
@section script {

    <script type="text/javascript" src="../../assets/lib/jquery-2.2.4.min.js"></script>
    <!-- Live List Layout -->
    <script type="text/javascript" src="../../assets/lib/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="../../assets/lib/slick.min.js"></script>
    <script type="text/javascript" src="../../assets/js/app.js"></script>


}
    <div id="container" class="container gclabs">
        <div class="contents-wrap">
            <div class="contents-inner">

                <div class="breadcrumb">
                    <span><a href="#">Home</a></span>


                    <span><a href="#">BUSINESS</a></span>
                    <!-- <span><a href="#">Business Areas</a></span> -->

                    <span class="current">Clinical Diagnostics</span>
                </div>

                <div class="page-title">
                    <h2 class="title">Clinical Diagnostics</h2>
                    <p class="text">Provision of advanced testing service to local institutions through GC Labs’ know-how</p>
                </div>
                <div class="tabs-wrap">
                    <ul class="tabs wide  ">

                        <li class="tab">
                            <a href="@Url.Action("send", "business", new { Area = "eng"})"><span>Test Send Out</span></a>
                        </li>

                        <li class="tab active">
                            <a href="@Url.Action("health", "business", new { Area = "eng"})"><span>Health  Checkup</span></a>
                        </li>

                    </ul>
                </div>


                <div class="about-wrap">

                    <div class="contents-section">
                        <h3 class="title-logo gcimed"><span class="hidden">GC i-MED</span></h3>
                        <div class="text-area">
                            <span class="head2">“GC i-MED is a functional medicine center that utilizes cutting-edge systems <br>to detect and treat diseases early on for improved quality of life.”</span>
                        </div>
                        <div class="about-gcimed-wrap">
                            <div class="slider-wrap about">
                                <div class="sliders">
                                    <div class="slick-slide">
                                        <img src="../../../assets/images/img-about-gcimed-01-pc.png" class="pc tablet">
                                        <img src="../../../assets/images/img-about-gcimed-01-mo.png" class="mobile">
                                    </div>
                                    <div class="slick-slide">
                                        <img src="../../../assets/images/img-about-gcimed-02-pc.png" class="pc tablet">
                                        <img src="../../../assets/images/img-about-gcimed-02-mo.png" class="mobile">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="title-wrap2">
                            <h3 class="title-h3">Health Checkup Center</h3>
                        </div>
                        <p class="text-info">GC i-MED provides precise health checkup tailored to each patient through cutting-edge medical IT systems and efficient health management programs. We use the systems and programs to create a new paradigm of health checkup services by predicting diseases and providing tailored health management solutions.</p>
                        <ul class="list-style dot">
                            <li class="">
                                The most accurate and reliable analysis in Korea in cooperation with the best clinical lab, GC Labs.


                            </li>
                            <li class="">
                                Certification management on par with international standards.

                            </li>
                            <li class="">
                                Systemic follow-up management and referral

                            </li>
                            <li class="">
                                Cutting-edge checkup equipment  <br>  (ex. 128-channel CT and MRI 3.0 systems, a high-precision PET-CT system)
                            </li>
                        </ul>
                    </div>

                    <div class="about-gcimed-wrap">
                        <div class="slider-wrap about">
                            <div class="sliders">
                                <div class="slick-slide">
                                    <img src="../../../assets/images/img-about-gcimed-03-pc.png" class="pc tablet">
                                    <img src="../../../assets/images/img-about-gcimed-03-mo.png" class="mobile">
                                </div>
                                <div class="slick-slide">
                                    <img src="../../../assets/images/img-about-gcimed-04-pc.png" class="pc tablet">
                                    <img src="../../../assets/images/img-about-gcimed-04-mo.png" class="mobile">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="title-wrap2">
                            <h3 class="title-h3">Integrative Examination Center</h3>
                        </div>
                        <p class="text-info">GC i-MED offers Korea’s first functional medical examination system that goes beyond merely detecting diseases by preventing diseases from occurring in the first place. GC i-MED provides integrative medical treatment. GC i-MED’s examination system provides human-centered integrative treatment that involves changing patients’ lifestyles, regulating their diets (food therapy), providing tailored nutrition therapy, and correcting their postures without relying on drugs and surgeries.</p>
                        <ul class="list-style dot">
                            <li class="">Functional Medicine Clinic
                            <li class="">Chronic Pain Clinic</li>
                            <li class="">Genome Clinic</li>
                            <li class="">Dermatology Clinic</li>
                            <li class="">Immunotherapy Clinic</li>
                            <li class="">Outpatient Center</li>
                        </ul>
                    </div>


                </div>
            </div>

        </div>
    </div>