@using HALLA_PM.Models;
@using HALLA_PM.Util;
@using HALLA_PM.Core;
@{  
    string thisYear = "";
    string thisMonth = "";
    var session = (AdminSession)Session[Define.ADMIN_SESSION_NAME];
    Search search = ViewBag.Search;
    if (!string.IsNullOrEmpty(search.searchYear))
    {
        thisYear = search.searchYear;
    }
    if (!string.IsNullOrEmpty(search.searchText1))
    {
        thisMonth = search.searchText1;
    }
    List<OrgUnion> UnionList = Model.UnionList;
    List<OrgCompany> OrgCpyList = Model.OrgCpyList;
}
<div class="con_box search">
    <div class="bg_gray">
        <div class="style_select" style="width:20%;">
            <label>
                <span></span>
                <select name="searchYear">
                    <option value="">년도</option>
                    @for (int i = 2017; i <= DateTime.Now.Year + 10; i++)
                    {
                        <option value="@i" @(thisYear == i.ToString() ? "selected" : "")>@i</option>
                    }
                </select>
            </label>
        </div>
        <!-- <div class="style_select" style="width:20%;">
             <label>
                 <span></span>
                 <select name="searchText1">
                     <option value="">월</option>
                     @{
                         string mon = "";
                     }
                     @for (int i = 1; i < 13; i++)
                     {
                         if (i < 10)
                         {
                             mon = "0" + i;
                         }
                         else
                         {
                             mon = i.ToString();
                         }
                         <option value="@mon" @(thisMonth == mon ? "selected" : "")>@mon</option>
                     }
                 </select>
             </label>
         </div>-->
        <!-- <div class="style_select" style="width:20%;">
             <label>
                 <span></span>
                     <select name="searchCpyPart">
                     <option value="0">부문</option>
                     @foreach (var item in Define.BUSINESS_PERFORMANCE_TYPE)
                     {
                         <option value="@item.Value" @(ViewBag.Search.searchCpyPart == item.Value ? "selected" : "")>@item.Value</option>
                     }
                 </select>
                 <select name="searchCpyPart" id="searchCpyPart">
                     <option value="">부문</option>
                     @if (UnionList != null)
                     {
                         foreach (var item in UnionList)
                         {
                             <option value="@item.Seq">@item.UnionName</option>
                         }
                     }
                 </select>
             </label>
         </div>-->
       @if (session != null)
       {
           if (session.adminAuth.AuthLevel == Define.AUTH_LEVEL.GetKey("최종 관리자"))
           {
        <div class="style_select" style="width:20%;display:@((OrgCpyList != null) ? "" : "none")">
            <label>
                <span></span>
                <select name="searchCpySeq">
                    <option value="0">회사</option>
                    @if (OrgCpyList != null)
                    {
                        foreach (var item in OrgCpyList)
                        {
                        <option value="@item.Seq" @(ViewBag.Search.searchCpySeq == item.Seq ? "selected" : "")>@item.CompanyName</option>
                        }
                    }
                </select>
            </label>
        </div>
           }
       }
        <a href="javascript: onSearch(document.frmMain);" class="btn small full_green" style="width:9%;">검색</a>
    </div>
</div>
