@using HALLA_PM.Models;
@using HALLA_PM.Util;
@using HALLA_PM.Core;
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_LayoutSiteMng.cshtml";

    ReferenceExp reference = Model.reference;
    Search search = ViewBag.Search;
}


<div id="container">
    <div class="location">
        <span class="home"><i class="fa fa-home"></i></span>
        <span>안내센터</span>
        <strong>공지사항</strong>
    </div>

    <form name="frmMain" method="post">
        <input type="hidden" name="fileInfoSeq" value="" />
        <input type="hidden" name="seq" value="@reference.seq" />
        <input type="hidden" name="inputRegDate" value="@reference.inputRegDate" />
        <input type="hidden" name="PageIndex" value="@(search.PageIndex)" />
        <input type="hidden" name="searchType" value="@(search.searchType)" />
        <input type="hidden" name="searchText" value="@(search.searchText)" />
        <div class="con_box search">
            <h3 class="mt0">공지사항</h3>
            <div class="bg_gray">
                <i class="fa fa-info-circle" aria-hidden="true"></i> 새로운 소식을 확인할 수 있습니다.
            </div>
        </div>
        <!--// con_box -->

        <div class="con_box">

            <table class="tbl th_ver ta_left" border="0" cellpadding="0" cellspacing="0">
                <caption></caption>
                <colgroup>
                    <col width="7%" />
                    <col width="/" />
                    <col width="7%" />
                    <col width="10%" />
                </colgroup>
                <thead>
                    <tr>
                        <th scope="row">제목</th>
                        <td colspan="3">@reference.title</td>
                    </tr>
                    <tr>
                        <th scope="row">등록일</th>
                        <td>@reference.inputRegDate</td>
                        <th scope="row">조회수</th>
                        <td>@reference.viewCnt</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="4">
                            <div class="content_view">
                                @Html.Raw(reference.contents)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">첨부파일</th>
                        <td colspan="3">
                            <div class="file_list">

                                @foreach (var item in reference.fileInfoList)
                                {
                                    <a href="javascript: onFileDownload('@item.seq', document.frmMain)">@item.fileOrgName</a>
                                }
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">이전글</th>
                        <td colspan="3">
                            @if (reference.prevSeq > 0)
                            {
                                @*<a href="view?seq=@reference.prevSeq&inputRegDate=@reference.inputRegDate">@reference.prevTitle</a>*@
                                <a href="javascript:;" onclick="onView(document.frmMain, @reference.inputRegDate, @reference.prevSeq)">@reference.prevTitle</a>
                            }
                            else
                            {
                                <a href="#">이전글이 없습니다.</a>
                            }
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">다음글</th>
                        <td colspan="3">

                            @if (reference.nextSeq > 0)
                            {
                                @*<a href="view?seq=@reference.nextSeq&inputRegDate=@reference.inputRegDate">@reference.nextTitle</a>*@
                                <a href="javascript:;" onclick="onView(document.frmMain, @reference.inputRegDate, @reference.nextSeq)">@reference.nextTitle</a>
                            }
                            else
                            {
                                <a href="#">다음글이 없습니다.</a>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="btn_area">
                <a href="javascript:;" onclick="onList(document.frmMain)" class="btn full_green left">목록</a>
            </div><!--//btn_area-->
        </div>
        <!--// con_box -->
    </form>

</div><!--//container-->


<script>
    function onFileDownload(seq, form) {
        form.fileInfoSeq.value = seq;
        form.action = "/SiteMngHome/Info/Reference/FileDownload";
        form.submit();
    }

    function onList(form) {
        form.action = "/SiteMngHome/Info/Reference/List";
        form.method = "POST";
        form.submit();
    }

    function onView(form, inputRegDate, seq) {
        form.inputRegDate.value = inputRegDate;
        form.seq.value = seq;

        form.action = "/SiteMngHome/Info/Reference/View";
        form.method = "POST";
        form.submit();

    }
</script>