@model GCMaster.Areas.gclabs.Models.networkViewModel
@using GCMaster.Modules;

@{
    bool _editing = Model.IDX > 0;
}

@section Styles {
    <style>
    </style>
}

@section Scripts {
    @*<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cacf973aedb3001da83f956e40e46ba3"></script>*@
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=af4b630dd45db15edd0e4c9d07711779"></script>
    <script>

        function onCreate() {

            if (!onValidation(true))
                return false;

            if (confirm('@Messages.C2')) {
                $('form').attr('action', '@Url.Action("create")').submit();
            }
        }

        function onEdit() {

            if (!onValidation(false))
                return false;

            if ($('form').data('changed') == undefined) {
                alert('@Messages.A5');
                return false;
            }

            if (confirm('@Messages.C4')) {
                $('form').attr('action', '@Url.Action("edit")').submit();
            }
        }

        function onDelete() {
            if (confirm('@Messages.C1')) {
                $('form').attr('action', '@Url.Action("delete")').submit();
            }
        }

        function onCancel() {
            if (confirm("@(_editing ? Messages.C5 : Messages.C3)")) {
                location.href = '@(Url.Action("list"))?@(Html.Raw(Request.QueryString))';
            }
        }

        function onValidation(isCreate) {

            if ($('#BRANCH_NAME').val() == '') {
                alert('@Messages.A4e("지점명")');
                return false;
            }

            @*if ($('#MAP_TAG').val() == '') {
                alert('@Messages.A4e("지도")');
                return false;
            }*@

            if ($('#LATITUDE').val() == '') {
                alert('@Messages.A4e("좌표")');
                return false;
            }

            if ($('#LONGITUDE').val() == '') {
                alert('@Messages.A4e("좌표")');
                return false;
            }

            if ($('#REGION_CODE').val() == '') {
                alert('@Messages.A4s("지역구분")');
                return false;
            }

            if ($('#ADDRESS').val() == '') {
                alert('@Messages.A4e("주소")');
                return false;
            }

            return true;
        }


        var dialogPreview;

        $(document).ready(function () {

            dialogPreview = $("#dialogPreview").dialog({
                width: 'auto',
                height: 'auto',
                autoOpen: false,
                modal: true
            });

            $(".ui-dialog-titlebar").hide();

            $('#btnOpenPreview').click(function () {

                $('#addressBox').text($('#ADDRESS').val());

                dialogPreview.dialog("open");

                let lat = $('#LATITUDE').val();
                let lng = $('#LONGITUDE').val();

                var container = document.getElementById('mapBox');
                var options = {
                    center: new kakao.maps.LatLng(lat, lng),
                    level: 5
                };
                // 위도, 경도는 관리자에서 입력함

                var map = new kakao.maps.Map(container, options);
                // 마커가 표시될 위치입니다
                var markerPosition = new kakao.maps.LatLng(lat, lng);

                // 마커를 생성합니다
                var marker = new kakao.maps.Marker({
                    position: markerPosition,
                });

                // 마커가 지도 위에 표시되도록 설정합니다
                marker.setMap(map);

                

            });

            $('.btnCloseDialog').click(function () {
                dialogPreview.dialog("close");
            });

        });

    </script>

}

<div class="page-title">네트워크</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.IDX)


    <div class="list-box">
        <!-- table -->
        <div class="list-table-box ">
            <table class="normal-wmv-table mb30">
                <colgroup>
                    <col style="width:8%;" />
                    <col style="width:42%" />
                    <col style="width:8%;" />
                    <col style="width:42%" />
                </colgroup>
                <tbody>
                    <tr>
                        <th>조회</th>
                        <td>@Model.VIEW_CNT</td>
                        <th>노출여부 <span>*</span></th>
                        <td>
                            @Html.RadioButtonFor(model => model.VIEW_YN, "Y", new { id = "VIEW_YN_Y" }) <label for="VIEW_YN_Y">YES</label>&nbsp;&nbsp;
                            @Html.RadioButtonFor(model => model.VIEW_YN, "N", new { id = "VIEW_YN_N" }) <label for="VIEW_YN_N">NO</label>&nbsp;&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="txt-r">
                <a href="https://map.kakao.com/" target="_blank" class="gary btn-type mb10">kakaomap</a>&nbsp;&nbsp;
                <a href="#n"  id="btnOpenPreview" class="gary btn-type mb10">미리보기</a>
            </div>
            <table class="normal-wmv-table mb30">
                <colgroup>
                    <col style="width:8%;" />
                    <col />
                </colgroup>
                <tbody>

                    <tr>
                        <th>지점명 <span>*</span></th>
                        <td>
                            @Html.EditorFor(model => model.BRANCH_NAME, new { htmlAttributes = new { @class = "w50p", @placeholder = "지점명을 입력하세요.", @maxlength = "100" } })&nbsp;&nbsp;<span class="wordsize"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>소장명</th>
                        <td>
                            @Html.EditorFor(model => model.MANAGER_NAME, new { htmlAttributes = new { @class = "w50p", @placeholder = "소장명을 입력하세요.", @maxlength = "100" } })&nbsp;&nbsp;<span class="wordsize"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            좌표 <span>*</span>
                            
                        </th>
                        <td>
                            <label for="LATITUDE">Latitude</label>&nbsp;&nbsp; @Html.EditorFor(model => model.LATITUDE, new { htmlAttributes = new { @class = "w100px", @placeholder = "Latitude", @maxlength = "10" } })&nbsp;&nbsp;&nbsp;
                            <label for="LONGITUDE">Longitude</label>&nbsp;&nbsp; @Html.EditorFor(model => model.LONGITUDE, new { htmlAttributes = new { @class = "w100px", @placeholder = "Longitude", @maxlength = "12" } })
                        </td>
                    </tr>
                    <tr>
                        <th>주소 <span>*</span></th>
                        <td>
                            <div class="mb10">
                                @Html.DropDownListFor(m => m.REGION_CODE, Functions.GetSelectListItems(groupCode: "network_lo_cd", useEmptyValue: true, emptyText: "지역구분 선택"))
                            </div>
                            <div>
                                @Html.EditorFor(model => model.ADDRESS, new { htmlAttributes = new { @class = "w50p", @placeholder = "주소를 입력하세요.", @maxlength = "300" } })&nbsp;&nbsp;<span class="wordsize"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>대표번호</th>
                        <td>
                            @Html.EditorFor(model => model.TEL_NO_1, new { htmlAttributes = new { @class = "w100px", @maxlength = "4" } })&nbsp;-&nbsp;
                            @Html.EditorFor(model => model.TEL_NO_2, new { htmlAttributes = new { @class = "w100px", @maxlength = "4" } })&nbsp;-&nbsp;
                            @Html.EditorFor(model => model.TEL_NO_3, new { htmlAttributes = new { @class = "w100px", @maxlength = "4" } })&nbsp;&nbsp;
                            @Html.CheckBoxFor(model => model.TEL_NO_VIEW) <label for="TEL_NO_VIEW">체크시 노출</label>
                        </td>
                    </tr>
                    <tr>
                        <th>팩스번호</th>
                        <td>
                            @Html.EditorFor(model => model.FAX_NO_1, new { htmlAttributes = new { @class = "w100px", @maxlength = "4" } })&nbsp;-&nbsp;
                            @Html.EditorFor(model => model.FAX_NO_2, new { htmlAttributes = new { @class = "w100px", @maxlength = "4" } })&nbsp;-&nbsp;
                            @Html.EditorFor(model => model.FAX_NO_3, new { htmlAttributes = new { @class = "w100px", @maxlength = "4" } })&nbsp;&nbsp;
                            @Html.CheckBoxFor(model => model.FAX_NO_VIEW) <label for="FAX_NO_VIEW">체크시 노출</label>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="normal-wmv-table">
                <colgroup>
                    <col style="width:8%;" />
                    <col style="width:42%" />
                    <col style="width:8%;" />
                    <col style="width:42%" />
                </colgroup>
                <tbody>
                    <tr>
                        <th>등록자</th>
                        <td>@(Model.REGIST_NAME)(@Model.REGIST_ID)</td>
                        <th>등록일시</th>
                        <td>@Model.REGIST_DATE.ToString("yyyy-MM-dd HH:mm")</td>
                    </tr>
                    <tr>
                        <th>수정자</th>
                        <td>@(Model.UPDATE_NAME)(@Model.UPDATE_ID)</td>
                        <th>수정일자</th>
                        <td>@Model.UPDATE_DATE.ToString("yyyy-MM-dd HH:mm")</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--// table -->
        <!-- paging -->
        <div class="pg-btn  mb30">

            <!-- table button -->
            <div class="table-button">
                <div class="btn-box">
                    <button type="button" onclick="onCancel();" class="btn-cancel">취소</button>
                    @if (_editing)
                    {
                        <button type="button" onclick="onDelete();" class="btn-del">삭제</button>
                        <button type="button" onclick="onEdit();" class="btn-save">저장</button>
                    }
                    else
                    {
                        <button type="button" onclick="onCreate();" class="btn-save">등록</button>
                    }
                </div>
            </div>
            <!--// table button -->
        </div>
        <!--// paging -->
    </div>
}



<div id="dialogPreview">
    <!-- content -->
    <!-- popup -->
    <div class="popup-box">
        <div class="popup-open">
            <div class="popup-title">구글지도 미리보기</div>
            <!-- table -->
            <div class="list-table-box">

                <table class="normal-wmv-table mb5">
                    <colgroup>
                        <col style="width:8%;" />
                        <col />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>주소</th>
                            <td id="addressBox">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="" id="mapBox" style="width:100%; min-height:300px;">

                </div>
            </div>
            <!--// table -->
            <!-- paging -->
            <div class="pg-btn ">

                <!-- table button -->
                <div class="table-button">
                    <a href="#" class="gary btn-type btnCloseDialog">닫기</a>
                </div>
                <!--// table button -->
            </div>
        </div>
        <div class="close-btn"><a href="#" class="btnCloseDialog"></a></div>
    </div>
    <!-- popup -->
    <!-- content -->
</div>
