
@model PagedList.IPagedList<GCMaster.Areas.common.Models.userListModel>
@using GCMaster.Modules;
@using PagedList.Mvc;

@section Styles {
    <style>
    </style>
}

@section Scripts {

    <script>

        function onSearch() {
            let dateType = $('#datetype').val();
            let datePick1 = $('#datepick1').val();
            let datePick2 = $('#datepick2').val();
            let datePeriod = $('input[name="dateperiod"]:checked').val();

            let useType = $('input[name="usetype"]:checked').val();
            let authType = $('#authtype').val();
            let keyType = $('#keytype').val();
            let keyWord = $('#keyword').val();

            location.href = '@Url.Action("list")' + '?'
                + 'datetype=' + dateType
                + '&datepick1=' + datePick1
                + '&datepick2=' + datePick2
                + '&dateperiod=' + datePeriod
                + '&usetype=' + useType
                + '&authtype=' + authType
                + '&keytype=' + keyType
                + '&keyword=' + keyWord
                ;
        }

        function onReset() {
            $('#datetype').val('1');
            $('#dateperiodM').click();
            $('#dateperiodA').click();
            $('#usetypeA').click();
            $('#authtype').val('');
            $('#keytype').val('');
            $('#keyword').val('');
        }

        $(document).ready(function () {
            $('input[name="dateperiod"]').change(function () {
                let period = $('input[name="dateperiod"]:checked').val();
                if (period == "Y") {
                    $('#datepick1').val('@DateTime.Today.AddYears(-1).ToString("yyyy-MM-dd")');
                    $('#datepick2').val('@DateTime.Today.ToString("yyyy-MM-dd")');
                }
                else if (period == "Q") {
                    $('#datepick1').val('@DateTime.Today.AddMonths(-3).ToString("yyyy-MM-dd")');
                    $('#datepick2').val('@DateTime.Today.ToString("yyyy-MM-dd")');
                }
                else if (period == "M") {
                    $('#datepick1').val('@DateTime.Today.AddMonths(-1).ToString("yyyy-MM-dd")');
                    $('#datepick2').val('@DateTime.Today.ToString("yyyy-MM-dd")');
                }
            });
        });
    </script>

}

<div class="page-title">관리자관리</div>
<div class="sh-option">
    <dl>
        <dt>사용여부</dt>
        <dd>
            @Html.RadioButton("usetype", "A", new { id = "usetypeA" }) <label for="usetypeA">전체</label>&nbsp;&nbsp;
            @Html.RadioButton("usetype", "Y", new { id = "usetypeY" }) <label for="usetypeY">YES</label>&nbsp;&nbsp;
            @Html.RadioButton("usetype", "N", new { id = "usetypeN" }) <label for="usetypeN">NO</label>&nbsp;&nbsp;&nbsp;&nbsp;
        </dd>
    </dl>
    <dl>
        <dt style="width:72px;">기간조회</dt>
        <dd>
            @Html.DropDownList("datetype",
                                new List<SelectListItem>()
                                {
                                    new SelectListItem() { Value = "1", Text = "등록일" },
                                    new SelectListItem() { Value = "2", Text = "수정일" }
                                },
                                new { @class = "w69px" })
            @Html.TextBox("datepick1", null, new { maxlength = "10", @class = "w100px datepicker" })
            &nbsp;~&nbsp;
            @Html.TextBox("datepick2", null, new { maxlength = "10", @class = "w100px datepicker" })
        </dd>
        <dd>
            @Html.RadioButton("dateperiod", "A", new { id = "dateperiodA" }) <label for="dateperiodA">전체</label>&nbsp;&nbsp;
            @Html.RadioButton("dateperiod", "Y", new { id = "dateperiodY" }) <label for="dateperiodY">1년</label>&nbsp;&nbsp;
            @Html.RadioButton("dateperiod", "Q", new { id = "dateperiodQ" }) <label for="dateperiodQ">3개월</label>&nbsp;&nbsp;
            @Html.RadioButton("dateperiod", "M", new { id = "dateperiodM" }) <label for="dateperiodM">1개월</label>&nbsp;&nbsp;&nbsp;&nbsp;
        </dd>
    </dl>
    <dl>
        <dt>검색구분</dt>
        <dd>
            @Html.DropDownList("authtype", Functions.GetSelectListItems(groupCode: "admin_auth_div", useEmptyValue: true, emptyText: "권한"), new { @class = "w69px" })
            @Html.DropDownList("keytype",
                                new List<SelectListItem>()
                                {
                                    new SelectListItem() { Value = "", Text = "전체" },
                                    new SelectListItem() { Value = "1", Text = "아이디" },
                                    new SelectListItem() { Value = "2", Text = "이름" },
                                    new SelectListItem() { Value = "3", Text = "소속" }
                                },
                                new { @class = "w69px" })
            @Html.TextBox("keyword", null, new { maxlength = "30", placeholder = "검색어" })
            <button type="button" class="sh-btn" onclick="onSearch();">조회</button>
            <button type="button" class="btn-refresh" onclick="onReset();">초기화</button>
        </dd>
    </dl>
</div>
<div class="list-box">
    <!--search info-->
    <div class="search-infomation">
        <div class="search-count">
            총 <strong>@Model.TotalItemCount</strong>건
        </div>
        <div class="paging-select">
            <div>
                <a href="@(Url.Action("view", new { idx = 0 }))?@(Request.QueryString.ToString())" class="sh-btn">등록</a>
            </div>
        </div>
    </div>
    <!--// search info-->
    <!-- table -->
    <div class="list-table-box">
        <table class="normal-list-table">
            <colgroup>
                <col style="width:5%;" />
                <col style="width:10%;" />
                <col style="width:10%;" />
                <col style="width:10%;" />
                <col />
                <col style="width:10%;" />
                <col style="width:5%;" />
                <col style="width:8%;" />
                <col style="width:8%;" />
                <col style="width:8%;" />
                <col style="width:8%;" />
            </colgroup>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>권한</th>
                    <th>소속</th>
                    <th>아이디</th>
                    <th>이름</th>
                    <th>최근접속일</th>
                    <th>사용여부</th>
                    <th>등록자</th>
                    <th>등록자아이디</th>
                    <th>등록일자</th>
                    <th>수정일자</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IDX</td>
                        <td>@item.AUTH_NAME</td>
                        <td>@item.DEPT_NAME</td>
                        <td><a href="@(Url.Action("view", new {idx = item.IDX}))?@(Request.QueryString.ToString())" class="underline">@item.ADM_ID</a></td>
                        <td><a href="@(Url.Action("view", new {idx = item.IDX}))?@(Request.QueryString.ToString())" class="underline">@item.ADM_NAME</a></td>
                        <td>@item.ACCESS_DATE.ToString("yyyy-MM-dd HH:mm")</td>
                        <td>@item.USE_YN</td>
                        <td>@item.REGIST_NAME</td>
                        <td>@item.REGIST_ID</td>
                        <td>@item.REGIST_DATE.ToString("yyyy-MM-dd")</td>
                        <td>@item.UPDATE_DATE.ToString("yyyy-MM-dd")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!--// table -->
    <!-- paging -->
    <div class="pg-btn">
        <div class="paging_wrap">
            <div class="paging">
                @Html.PagingBoardPager(Model, page => Url.Action("list",
                                                        new
                                                        {
                                                            page,
                                                            datetype = ViewBag.datetype,
                                                            datepick1 = ViewBag.datepick1,
                                                            datepick2 = ViewBag.datepick2,
                                                            dateperiod = ViewBag.dateperiod,
                                                            usetype = ViewBag.usetype,
                                                            authtype = ViewBag.authtype,
                                                            keytype = ViewBag.keytype,
                                                            keyword = ViewBag.keyword
                                                        }),
                                                        new PagedListRenderOptions
                                                        {

                                                            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                                            DisplayLinkToLastPage = PagedListDisplayMode.Never,
                                                            MaximumPageNumbersToDisplay = 10,
                                                            LinkToNextPageFormat = "Next",
                                                            LinkToPreviousPageFormat = "Prev"

                                                        })
            </div>
        </div>
    </div>
    <!--// paging -->

</div>