@using HALLA_PM.Models;
@using HALLA_PM.Util;
@using HALLA_PM.Core;
@{
    ViewBag.Title = "Write";
    Layout = "~/Views/Shared/_LayoutSiteMng.cshtml";
    PlanMonthlyInvest planMonthlyInvest = Model.planMonthlyInvest;
    OrgCompany orgCompanyName = Model.orgCompanyName;
    List<OrgBusiness> orgBusinessList = Model.orgBusinessList;
    List<PlanMonthlyInvestBusiness> pBusinessList = Model.pBusinessList;
    Search search = ViewBag.Search;
}

<div id="container">

    <div class="location">
        <span class="home"><i class="fa fa-home"></i></span>
        <span>사업계획</span>
        <strong>월별투자인원계획</strong>
    </div>

    <form name="frmMain" id="frmMain" method="post" enctype="multipart/form-data">
        <input type="hidden" name="message" value="" />
        <input type="hidden" name="Seq" value="@planMonthlyInvest.Seq" />
        <input type="hidden" name="OrgCompanySeq" value="@planMonthlyInvest.OrgCompanySeq" />
        <input type="hidden" name="RegistStatus" value="@planMonthlyInvest.RegistStatus" />
        <input type="hidden" name="afterRegistStatus" value="" />
        <input type="hidden" name="PageIndex" value="@(search.PageIndex)" />
        <input type="hidden" name="searchCpySeq" value="@(search.searchCpySeq)" />
        <input type="hidden" name="searchYear" value="@(search.searchYear)" />

        <div class="con_box search">
            <h3 class="mt0">월별투자인원계획 작성</h3>
            <div class="bg_gray">
                <i class="fa fa-info-circle" aria-hidden="true"></i> 계산하기를 클릭하시면 비율, 합계 등이 계산되어 저장됩니다.<br />
                <i class="fa fa-info-circle" aria-hidden="true"></i> 승인요청, 승인 클릭 시 수정이 불가능하니 신중히 작성해주세요.
            </div>
        </div>
        <!--// con_box -->

        <div class="con_box">
            <table class="tbl th_ver ta_left">
                <caption></caption>
                <colgroup>
                    <col style="width:15%" />
                    <col style="width:auto" />
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">등록연도</th>
                        <td>@(planMonthlyInvest.MonthlyInvestYear)</td>
                    </tr>
                    @*상단 공통*@
                    @{
                        TopFrame Top = new TopFrame();
                        Top.RegistStatus = planMonthlyInvest.RegistStatus;
                        Top.UnionName = orgCompanyName.UnionName;
                        Top.CompanyName = orgCompanyName.CompanyName;
                    }
                    @Html.Partial("~/Views/Shared/_LayoutMngTopFrame.cshtml", Top)
                </tbody>
            </table>

            @foreach (var item in orgBusinessList)
            {
                var query = from p in pBusinessList
                            where p.OrgBusinessSeq == item.Seq
                            select new { p };

                <h3>@item.BusinessName</h3>
                <p class="caption"><span>(단위 : 억원, %)</span></p>
                <table class="tbl th_ver ta_right">
                    <caption></caption>
                    <colgroup>
                        <col style="width:15%" />
                        <col style="width:auto" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row" rowspan="2">구분</th>
                            <th colspan="4">@(Convert.ToInt32(planMonthlyInvest.MonthlyInvestYear) - 1)년</th>
                            <th colspan="4">@(planMonthlyInvest.MonthlyInvestYear)년</th>
                        </tr>
                        <tr>
                            <th>투자</th>
                            <th>인원</th>
                            <th>국내인원</th>
                            <th>해외인원</th>
                            <th>투자</th>
                            <th>인원</th>
                            <th>국내인원</th>
                            <th>해외인원</th>
                        </tr>
                        @foreach (var item2 in query)
                        {
                                <tr>
                                    <th scope="row">
                                        <input type="hidden" name="PlanMonthlyInvestBusinessSeq" value="@item2.p.PlanMonthlyInvestBusinessSeq" />
                                        <label>@(Convert.ToInt32(item2.p.Monthly))월</label>
                                    </th>
                                    <td>@WebUtil.NCommaRound(item2.p.BeforeInvestment, 2)</td>
                                    <td>@WebUtil.NCommaRound(item2.p.BeforePersonnel, 2)</td>
                                    <td>@WebUtil.NCommaRound(item2.p.BeforeDomesticPersonnel, 2)</td>
                                    <td>@WebUtil.NCommaRound(item2.p.BeforeOverseasPersonnel, 2)</td>
                                    <td><input type="text" name="Investment" value="@item2.p.Investment" /></td>
                                    <td><input type="text" name="Personnel" value="@item2.p.Personnel" /></td>
                                    <td><input type="text" name="DomesticPersonnel" value="@item2.p.DomesticPersonnel" /></td>
                                    <td><input type="text" name="OverseasPersonnel" value="@item2.p.OverseasPersonnel" /></td>
                                </tr>
                        }
                    </tbody>
                </table>
            }
            <div class="btn_area align_left_right">
                <button class="btn full_green left" type="button" onclick="onList();">목록</button>
                <button class="btn full_green" type="button" onclick="onReset();">초기화</button>
                <button class="btn full_green" type="button" onclick="onCalculationAction();">계산하기</button>
            </div>
        </div>
        <!--// con_box -->
    </form>
</div>
<script>
    function onCalculationAction() {
        var f = document.frmMain;

        // 값확인
        if (!onCheckMultipleNameDoubleValues("Investment", "투자" + "@Message.MSG_001")) return false;
        if (!onCheckMultipleNameDoubleValues("Personnel", "인원" + "@Message.MSG_001")) return false;
        if (!onCheckMultipleNameDoubleValues("DomesticPersonnel", "국내인원" + "@Message.MSG_001")) return false;
        if (!onCheckMultipleNameDoubleValues("OverseasPersonnel", "해외인원" + "@Message.MSG_001")) return false;

        if (confirm("@Message.MSG_002_Q")) {
            f.message.value = "@Message.MSG_002_A";
            f.action = "Calculation_Action";
            f.submit();
        }
    }

    function onReset() {
        var f = document.frmMain;
        if (confirm("@Message.MSG_003_Q")) {
            f.message.value = "@Message.MSG_003_A";
            f.action = "Write";
            f.submit();
        }
    }

    function onList() {
        var f = document.frmMain;
        f.action = "List";
        f.submit();
    }

    function onDownExcel() {
        var f = document.frmMain;
        f.action = "Excel_Down2";
        f.submit();
    }

    function onRegistStatusChange(afterRegistStatus) {

        var f = document.frmMain;
        f.afterRegistStatus.value = afterRegistStatus;

        var confirmMessage = "";
        if (afterRegistStatus == "@(Define.REGIST_STATUS.GetKey("승인대기"))") {
            confirmMessage = "@Message.MSG_008_Q";
            f.message.value = "@Message.MSG_008_A";
        }
        else if (afterRegistStatus == "@(Define.REGIST_STATUS.GetKey("1차승인"))") {
            confirmMessage = "@Message.MSG_004_Q";
            f.message.value = "@Message.MSG_004_A";
        }
        else if (afterRegistStatus == "@(Define.REGIST_STATUS.GetKey("2차승인"))") {
            confirmMessage = "@Message.MSG_004_Q";
            f.message.value = "@Message.MSG_004_A";
        }
        else if (afterRegistStatus == "@(Define.REGIST_STATUS.GetKey("1차반려"))") {
            confirmMessage = "@Message.MSG_005_Q";
            f.message.value = "@Message.MSG_005_A";
        }
        else if (afterRegistStatus == "@(Define.REGIST_STATUS.GetKey("최종승인"))") {
            confirmMessage = "@Message.MSG_004_Q";
            f.message.value = "@Message.MSG_004_A";
        }
        else if (afterRegistStatus == "@(Define.REGIST_STATUS.GetKey("2차반려"))") {
            confirmMessage = "@Message.MSG_005_Q";
            f.message.value = "@Message.MSG_005_A";
        }
        else if (afterRegistStatus == "@(Define.REGIST_STATUS.GetKey("3차반려"))") {
            confirmMessage = "@Message.MSG_005_Q";
            f.message.value = "@Message.MSG_005_A";
        }

        if (confirm(confirmMessage)) {
            f.action = "Regist_Status_Change";
            f.submit();
        }
    }


    // 2019.01.03 반려사유 추가
    function onRegistStatusChangeReject(afterRegistStatus) {
        onRegistStatusChange(afterRegistStatus);
        //var f = document.frmMain;
        //f.afterRegistStatus.value = afterRegistStatus;
        //MYAPP.layerControl.layerShow($('#layerCommentReject'));
    }

    function onUploadExcel() {
        var f = document.frmMain;

        var excelFilePath = $("#ExcelFile").val();
        var fileLen = excelFilePath.length;
        var lastDot = excelFilePath.lastIndexOf('.');
        var excelFileExt = excelFilePath.substring(lastDot + 1, fileLen).toLowerCase();
        var orgCpyName = "@(orgCompanyName.CompanyName)";
        var excelFileName = excelFilePath.substring(excelFilePath.lastIndexOf('\\') + 1, fileLen).toLowerCase();

        if (excelFileExt == "") {
            alert('업로드할 파일을 첨부하세요.');
            return;
        }

        if (excelFileExt != "xls" && excelFileExt != "xlsx") {
            alert('엑셀 파일만 업로드 가능합니다.');
            $("#ExcelFile").val('');
            return;
        }
        if (excelFileName.indexOf('월별투자인원계획') < 0 || excelFileName.indexOf(orgCpyName.toLowerCase()) < 0) {
            alert('' + orgCpyName + ' - [월별투자인원계획] 파일이 아닙니다. \n파일을 확인해주세요');
            return;
        }

        var formData = new FormData($("#frmMain")[0]);

        $.ajax({
            type: "post",
           // url: "Excel_Upload",
            url: "Excel_Upload2",
            data: formData,
            processData: false,
            contentType: false,
            success: function (res) {
                if (res.success) {
                    alert('업로드되었습니다.');
                    f.action = "Write";
                    f.submit();
                }
                else {
                    $("#ExcelFile").val('');
                    alert(res.resultMsg);
                }
            },
            error: function (request, status, error) {
                alert("code:" + request.status + "\n" + "[" + request.responseText + "]");
            }
        });

    }
</script>

