@{
    ViewBag.Title = "infect";
}
@{ var meta_sitesec = "GCLabs"; }
@{ var meta_sitename = "GC녹십자의료재단"; }
@{ var meta_title = "감염병연구센터"; }
@{ var meta_Site_image = "http://121.140.143.35:4060/assets/images/gclabs-logo.png"; }
@{ var meta_description = "감염병 진단의학 및 역학분야 연구를 수행합니다."; }
@{ var meta_page_url = "http://121.140.143.35:4060/dept/detail"; }
@{ var meta_keywords = "검사부,감염병연구센터"; }
@{ var meta_twitter_site = ""; }
@{
    var list_count = 1;
}
@section meta {
    <title>@meta_title</title>
    <meta name="description" content="@meta_description" />
    <meta name="keywords" content="@meta_keywords" />
    <meta property="og:title" content="@meta_title" />
    <meta property="og:type" content="웹 사이트" />
    <meta property="og:description" content="@meta_description" />
    <meta property="og:image" content="@meta_Site_image" />
    <meta property="og:url" content="@meta_page_url" />
    <meta property="og:site_name" content="@meta_sitename" />
    <meta name="twitter:card" content="요약" />
    <meta name="twitter:site" content="@meta_twitter_site" />
    <meta name="twitter:title" content="@meta_title" />
    <meta name="twitter:description" content="@meta_description" />
    <meta name="ms.sitename" content="@meta_sitename" />
    <meta name="ms.sitesec" content="@meta_sitesec" />
}
@section script {
    <script type="text/javascript" src="../../assets/lib/jquery-2.2.4.min.js"></script>
    <!-- Live List Layout -->
    <script type="text/javascript" src="../../assets/lib/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="../../assets/lib/slick.min.js"></script>
    <script type="text/javascript" src="../../assets/js/app.js"></script>
}
<div id="container" class="container dept">
    <div class="contents-wrap">
        <div class="contents-inner">

            <div class="breadcrumb">
                <span><a href="#">홈</a></span>


                <span><a href="#">검사부</a></span>


                <span class="current">감염병연구센터</span>
            </div>

            <div class="page-title">
                <h2 class="title">감염병연구센터</h2>
                <p class="text">감염병 진단의학 및 역학분야 <br class='mobile'>연구를 수행합니다.</p>
            </div>

            <div class="infect-wrap">
                <div class="img-area">

                    <img src="../../../assets/images/img-infect-pc.png" class="pc tablet" alt="GC Labs 감염병 연구센터, 정책연구, 국제협력사업, 감염병 교육, 역학통계 분석, 진단연구">
                    <img src="../../../assets/images/img-infect-mo.png" class="mobile" alt="GC Labs 감염병 연구센터, 정책연구, 국제협력사업, 감염병 교육, 역학통계 분석, 진단연구">


                </div>
                <div class="info-box">
                    <p class="text">

                        40년 가까이 축적해온 진단의학 전문성을 바탕으로 인류의 건강한 삶에 이바지하고자하는 <br class="pc tablet">재단의 미션을 달성하는데 기여하고자 2021년 감염병연구센터를 신설하였습니다.<br>
                        감염병연구센터에서는 정책연구를 포함한 진단연구, 역학통계 분석 및 감염병 교육, 국제협력사업을 추진하고 있습니다.




                    </p>
                </div>
                <div class="contents-section"></div>
                <div class="contents-section">
                    <div class="title-wrap">
                        <h3 class="title-h3">사업분야</h3>
                    </div>


                    <div class="board-wrap">





                        <div class="board-list ">

                            <div class="list-wrap">
                                <ul class="lists type-row infect">
                                    <li class="item ">




                                        <div class="box">




                                            <div class="thumbnail">
                                                <div class="slider-wrap">
                                                    <div class="sliders">

                                                        <div class="slick-slide">
                                                            <img src="../../../assets/images/img-infect-01-1.png" alt="">
                                                        </div>

                                                        <div class="slick-slide">
                                                            <img src="../../../assets/images/img-infect-01-2.png" alt="">
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                            <div class="contents">



                                                <strong class="title">진단연구</strong>





                                                <div class="content">
                                                    <ul class="list-style dot">

                                                        <li>GC녹십자의료재단의 감염병 분야 진단성과를 바탕으로 주요 감염병에 대한 연구를 수행합니다.</li>

                                                        <li>바이러스성 및 세균성 호흡기 감염병 등 주요 감염병의 발생 동향, 진단 및 역학적 특성을 파악하여 진단, 치료, 백신 및 예방대책의 과학적 근거를 마련합니다. 더불어, 코로나19와 같은 신종감염병의 위기에 대응하기 위한 감시체계, 진단 및 역학분야 연구를 수행합니다.</li>

                                                    </ul>
                                                </div>







                                                <div class="infect-study">
                                                    <span>생물감시체계 구축 연구</span>
                                                    <span>진단제 평가 연구</span>
                                                    <span>감염병 기초 연구</span>
                                                </div>











                                            </div>


                                        </div>




                                    </li>
                                    <li class="item ">




                                        <div class="box">




                                            <div class="thumbnail">
                                                <div class="slider-wrap">
                                                    <div class="sliders">

                                                        <div class="slick-slide">
                                                            <img src="../../../assets/images/img-infect-02.png" alt="">
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                            <div class="contents">



                                                <strong class="title">감염병 교육</strong>





                                                <div class="content">
                                                    <ul class="list-style dot">

                                                        <li>국내외 공공/민간 부문의 교육 수요에 부응하는 감염병 진단 및 역학 교육 프로그램을 개발하고 교육서비스를 제공합니다.</li>

                                                        <li>감염병 역학통계 분석을 활용하여 연구, 교육, 국제협력 분야와 연계하며, 센터 소속의 예방의학 전문의, 박사급 기초연구전문가, 석사급 통계전문가 외 40여명의 재단 각 분야별 전문의들과의 협력을 통해 국내 최고 수준의 감염병 분야 교육서비스 제공을 목표로 합니다.</li>

                                                    </ul>
                                                </div>

















                                            </div>


                                        </div>




                                    </li>
                                    <li class="item ">




                                        <div class="box">




                                            <div class="thumbnail">
                                                <div class="slider-wrap">
                                                    <div class="sliders">

                                                        <div class="slick-slide">
                                                            <img src="../../../assets/images/img-infect-03-1.png" alt="">
                                                        </div>

                                                        <div class="slick-slide">
                                                            <img src="../../../assets/images/img-infect-03-2.png" alt="">
                                                        </div>

                                                        <div class="slick-slide">
                                                            <img src="../../../assets/images/img-infect-03-3.png" alt="">
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                            <div class="contents">



                                                <strong class="title">감염병 분야 국제협력</strong>





                                                <div class="content">
                                                    <ul class="list-style dot">

                                                        <li>코로나 19 팬데믹 상황을 맞으며 어느 때 보다도 감염병 대응에 있어서 연대와 협력의 중요성이 강조되고 있습니다. 재단은 감염병연구센터를 신설하며 국제협력을 통해 진단역량 및 보건인력 인적 역량 강화 측면의  파트너국가들의 감염병대응력 강화에 기여하고자 합니다.</li>

                                                        <li>재단은 과거 스리랑카 나왈로카병원 진단센터구축 컨설팅사업을 수행한 경험을 가지고 있으며, 2021년 부터는 이종욱펠로우십 프로그램의 일환으로 추진되는 감염병대응전문가(결핵) 연수 과정을 위탁받아 실험실 보건인력 전문가들의 초청연수를 추진하는 등 감염병분야 국제협력 사업도 확대해나가고 있습니다.</li>

                                                    </ul>
                                                </div>

















                                            </div>


                                        </div>




                                    </li>


                                </ul>
                            </div>

                        </div>

                    </div>
                </div>


            </div>


        </div>
    </div>
</div>
