@{
    ViewBag.Title = "pathology";
}

@{ var meta_sitesec = "GCLabs"; }
@{ var meta_sitename = "GC녹십자의료재단"; }
@{ var meta_title = "Pathology"; }
@{ var meta_Site_image = "http://121.140.143.35:4060/assets/images/gclabs-logo.png"; }
@{ var meta_description = "We are the first laboratory in Korea to establish an automated clinical testing system."; }
@{ var meta_page_url = "http://121.140.143.35:4060/eng/test"; }
@{ var meta_keywords = "test, Pathology"; }
@{ var meta_twitter_site = ""; }


@section meta {
    <title>@meta_title</title>
    <meta name="description" content="@meta_description" />
    <meta name="keywords" content="@meta_keywords" />
    <meta property="og:title" content="@meta_title" />
    <meta property="og:type" content="웹 사이트" />
    <meta property="og:description" content="@meta_description" />
    <meta property="og:image" content="@meta_Site_image" />
    <meta property="og:url" content="@meta_page_url" />
    <meta property="og:site_name" content="@meta_sitename" />
    <meta name="twitter:card" content="요약" />
    <meta name="twitter:site" content="@meta_twitter_site" />
    <meta name="twitter:title" content="@meta_title" />
    <meta name="twitter:description" content="@meta_description" />
    <meta name="ms.sitename" content="@meta_sitename" />
    <meta name="ms.sitesec" content="@meta_sitesec" />
}
@section script {

    <script type="text/javascript" src="../../assets/lib/jquery-2.2.4.min.js"></script>
    <!-- Live List Layout -->
    <script type="text/javascript" src="../../assets/lib/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="../../assets/lib/slick.min.js"></script>
    <script type="text/javascript" src="../../assets/js/app.js"></script>


}
<div id="container" class="container gclabs">
    <div class="contents-wrap">
        <div class="contents-inner">

            <div class="breadcrumb">
                <span><a href="#">Home</a></span>


                <span><a href="#">TEST</a></span>
                <!-- <span><a href="#">Business Areas</a></span> -->

                <span class="current">Pathology</span>
            </div>

            <div class="page-title">
                <h2 class="title">Pathology</h2>
                <p class="text">We are the first laboratory in Korea to establish an automated clinical testing system.</p>
            </div>


            <div class="tab-content test-diagnosis-content">

                <div class="section-tab blood-wrap2 active">
                    <!-- 1 -->
                    <div class="section">
                        <div class="img-area">
                            <img src="../../../assets/images/img-ph-01-pc.png" class="pc tablet" alt="">
                            <img src="../../../assets/images/img-ph-01-mo.png" class="mobile" alt="">
                        </div>
                        <ul class="list-style">
                            <li class="text-info">
                                We are holding the highest number of immunofluorescent antibody stains as their data among all clinical labs in Korea and performs various types of Immunohistochemical stains.<br>
                                Not only that, but currently they are proceeding joint development of diagnostic support using AI algorithm to often consult on some illegible cases for our customers.




                            </li>
                        </ul>
                    </div>

                    <div class="contents-section">
                        <div class="title-wrap">
                            <h3 class="title-h3">Test information</h3>
                        </div>
                        <div class="scroll-table">
                            <div class="table-wrap section border-left">
                                <div class="table-inner">
                                    <table class="table tb-sm2">


                                        <colgroup>

                                            <col class="" width="25%">

                                            <col class="" width="25%">

                                            <col class="" width="25%">

                                            <col class="" width="25%">


                                        </colgroup>


                                        <thead>
                                            <tr>
                                                <th class="" colspan="4">
                                                    Immunohistochemical stains

                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class=""><td class="">	Bcl-2	</td><td class="">	CD79a	</td><td class="">	E-cadherin	</td><td class="">	MPO	</td>	</tr>
                                            <tr class=""><td class="">	Bcl-6	</td><td class="">	CD 138	</td><td class="">	EGFR	</td><td class="">	MSH2	</td>	</tr>
                                            <tr class=""><td class="">	Calponin	</td><td class="">	CEA	</td><td class="">	EMA	</td><td class="">	MSH6	</td>	</tr>
                                            <tr class=""><td class="">	Calretinin	</td><td class="">	Chromogranin A	</td><td class="">	Galectin 3	</td><td class="">	P16	</td>	</tr>
                                            <tr class=""><td class="">	CD3	</td><td class="">	CK(AE1/AE3)	</td><td class="">	HBME-1	</td><td class="">	PD-L1	</td>	</tr>
                                            <tr class=""><td class="">	CD5	</td><td class="">	CK19	</td><td class="">	HER2(C-erb B2)	</td><td class="">	PS045	</td>	</tr>
                                            <tr class=""><td class="">	CD10	</td><td class="">	CK20	</td><td class="">	HMB45	</td><td class="">	P53	</td>	</tr>
                                            <tr class=""><td class="">	CD15	</td><td class="">	CK5/6	</td><td class="">	HMW-CK	</td><td class="">	P57	</td>	</tr>
                                            <tr class=""><td class="">	CD20	</td><td class="">	CKZ	</td><td class="">	HSV	</td><td class="">	P63	</td>	</tr>
                                            <tr class=""><td class="">	CD30	</td><td class="">	c-Kit(CD117)	</td><td class="">	Kappa	</td><td class="">	S-100	</td>	</tr>
                                            <tr class=""><td class="">	CD34	</td><td class="">	CMV	</td><td class="">	Ki-67	</td><td class="">	SMA	</td>	</tr>
                                            <tr class=""><td class="">	CD45/LCA	</td><td class="">	Cyclin D1	</td><td class="">	Lambda	</td><td class="">	Synaptophysin	</td>	</tr>
                                            <tr class=""><td class="">	CD56	</td><td class="">	D2-40	</td><td class="">	Melan-A	</td><td class="">	TTF-1	</td>	</tr>
                                            <tr class=""><td class="">	CD68	</td><td class="">	Desmin	</td><td class="">	MLH1	</td><td class="">	Vimentin	</td>	</tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section">
                        <div class="title-wrap">
                            <h3 class="title-h3">Joint development of diagnostic support solution using AI </h3>
                        </div>
                        <div class="flex-box2">
                            <div class="img-area">
                                <img src="../../../assets/images/img-ph-03.png" alt="">
                            </div>
                            <ul class="list-style2 dot">
                                <li class="none-dot strong ">Gastric cancer pathological reading solution</li>
                                <li>Indications: Gastritis, Gastric adenoma, Gastric Cancer, Lymph node metastasis, Gastric lymphoma </li>
                                <li>Advancement algorithms through manifold studies</li>
                                <li>Selected as a project commercialization-linked business (July ‘19)<br>(* Under development)</li>
                            </ul>

                        </div>
                    </div>

                </div><!-- 1 -->

            </div>

        </div>


    </div>
</div>

