
@{
    ViewBag.Title = "figures";
}

@{ var meta_sitesec = "GCLabs"; }
@{ var meta_sitename = "GC녹십자의료재단"; }
@{ var meta_title = "Key Facts and Figures"; }
@{ var meta_Site_image = "http://121.140.143.35:4060/assets/images/gclabs-logo.png"; }
@{ var meta_description = "We introduce the GC Labs and its efforts to defend its customers' happiness and health."; }
@{ var meta_page_url = "http://121.140.143.35:4060/eng/about"; }
@{ var meta_keywords = "ABOUT, Key Facts and Figures"; }
@{ var meta_twitter_site = ""; }


@section meta {
    <title>@meta_title</title>
    <meta name="description" content="@meta_description" />
    <meta name="keywords" content="@meta_keywords" />
    <meta property="og:title" content="@meta_title" />
    <meta property="og:type" content="웹 사이트" />
    <meta property="og:description" content="@meta_description" />
    <meta property="og:image" content="@meta_Site_image" />
    <meta property="og:url" content="@meta_page_url" />
    <meta property="og:site_name" content="@meta_sitename" />
    <meta name="twitter:card" content="요약" />
    <meta name="twitter:site" content="@meta_twitter_site" />
    <meta name="twitter:title" content="@meta_title" />
    <meta name="twitter:description" content="@meta_description" />
    <meta name="ms.sitename" content="@meta_sitename" />
    <meta name="ms.sitesec" content="@meta_sitesec" />
}
@section script {

    <script type="text/javascript" src="../../assets/lib/jquery-2.2.4.min.js"></script>
    <!-- Live List Layout -->
    <script type="text/javascript" src="../../assets/lib/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="../../assets/lib/slick.min.js"></script>
    <script type="text/javascript" src="../../assets/js/app.js"></script>


}
<div id="container" class="container gclabs">
    <div class="contents-wrap">
        <div class="contents-inner">

            <div class="breadcrumb">
                <span><a href="#">Home</a></span>

                <span class="current">ABOUT</span>

                <span class="current">Key Facts and Figures</span>
            </div>

            <div class="page-title">
                <h2 class="title">Key Facts and Figures</h2>
                <p class="text">We introduce the GC Labs and its efforts to defend its customers' happiness and health.</p>
            </div>

            <div class="about-wrap">
                <div class="contents-section">

                    <div class="about-gclabs-wrap">
                        <ul class="about-gclabs">
                            <li class="about-01">
                                <strong class="text">Provide services to&nbsp;&nbsp;<em>3,300</em></strong>
                                <span class="desc">medical institute(Clinic, General Hospital,Tertiary Hospital)</span>
                            </li>

                            <li class="about-02">
                                <strong class="text">Korea’s&nbsp;&nbsp;<em>1</em>&nbsp;&nbsp;st</strong>
                                <span class="desc">clinical and anatomic pathology reference laboratory</span>
                            </li>
                            <li class="about-03">
                                <strong class="text"><em>43</em></strong>
                                <span class="desc">Medical doctors specialized in Laboratory medicine and Pathology</span>
                            </li>

                            <li class="about-04">
                                <strong class="text"><em>5,000</em></strong>
                                <span class="desc">clinical assays</span>
                            </li>
                            <li class="about-05">
                                <strong class="text"><em>24/7,365</em>&nbsp;&nbsp;days</strong>
                                <span class="desc">Operates 24/7 to serve test results with best quality</span>
                            </li>

                            <li class="about-06">
                                <strong class="text">Since&nbsp;&nbsp;<em>1982</em></strong>
                                <span class="desc">more than 40 years of history</span>
                            </li>

                            <li class="about-07">
                                <strong class="text">Revenue of&nbsp;&nbsp;&nbsp;<em>436</em><br>million US dollars in 2021</strong>
                                <span class="desc">The largest and fastest growing reference laboratory in Korea</span>
                            </li>
                            <li class="about-08">
                                <strong class="text"><em>2,500</em>&nbsp;&nbsp;tests/hour</strong>
                                <span class="desc">Total Laboratory Automation allows for high-speed testing</span>
                            </li>
                            <li class="about-09">
                                <strong class="text"><em>50</em></strong>
                                <span class="desc">branch offices nationwide</span>
                            </li>
                            <li class="about-10">
                                <strong class="text"><em>80</em>&nbsp;&nbsp;million tests per annum</strong>
                                <span class="desc">are performed in GC Labs</span>
                            </li>

                            <li class="about-11">
                                <strong class="text">The&nbsp;&nbsp;<em>1st</em>&nbsp;&nbsp;laboratory</strong>
                                <span class="desc">in Korea to participate in the CAP program</span>
                            </li>
                            <li class="about-12">
                                <strong class="text">About &nbsp;<em>800</em></strong>
                                <span class="desc">employees</span>
                            </li>
                        </ul>
                    </div>
                    <div class="text-area">
                        <span class="head">GC Labs is a Korea’s leading clinical laboratory which provides clinical and anatomic pathology reference testing. </span>
                        <p class="text">
                            GC Labs has enabled patients to receive accurate diagnosis and right treatment with unrivaled quality of routine and special clinical tests. Around 800 employees at GC Labs offer more than 5,000 tests and test combinations, ranging from routine tests to highly esoteric molecular and genetic assays.
                            <br><br>
                            We continue to acquire the latest technology and machines for clinical testing with strong and open partnerships with world-class laboratories and institutions. We also focus on developing complex clinical testing areas by investing in human resources and introducing state-of-the-art equipment.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
