@{
    ViewBag.Title = "history";
}

@{ var meta_sitesec = "GCLabs"; }
@{ var meta_sitename = "GC녹십자의료재단"; }
@{ var meta_title = "History"; }
@{ var meta_Site_image = "http://121.140.143.35:4060/assets/images/gclabs-logo.png"; }
@{ var meta_description = "More than 40 years of history, and new challenges beyond: GC Labs"; }
@{ var meta_page_url = "http://121.140.143.35:4060/eng/about"; }
@{ var meta_keywords = "ABOUT, History"; }
@{ var meta_twitter_site = ""; }


@section meta {
    <title>@meta_title</title>
    <meta name="description" content="@meta_description" />
    <meta name="keywords" content="@meta_keywords" />
    <meta property="og:title" content="@meta_title" />
    <meta property="og:type" content="웹 사이트" />
    <meta property="og:description" content="@meta_description" />
    <meta property="og:image" content="@meta_Site_image" />
    <meta property="og:url" content="@meta_page_url" />
    <meta property="og:site_name" content="@meta_sitename" />
    <meta name="twitter:card" content="요약" />
    <meta name="twitter:site" content="@meta_twitter_site" />
    <meta name="twitter:title" content="@meta_title" />
    <meta name="twitter:description" content="@meta_description" />
    <meta name="ms.sitename" content="@meta_sitename" />
    <meta name="ms.sitesec" content="@meta_sitesec" />
}
@section script {

    <script type="text/javascript" src="../../assets/lib/jquery-2.2.4.min.js"></script>
    <!-- Live List Layout -->
    <script type="text/javascript" src="../../assets/lib/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="../../assets/lib/slick.min.js"></script>
    <script type="text/javascript" src="../../assets/js/app.js"></script>

}
<div id="container" class="container gclabs">
    <div class="contents-wrap">
        <div class="contents-inner">

            <div class="breadcrumb">
                <span><a href="#">Home</a></span>


                <span><a href="#">재단소개</a></span>


                <span class="current">History</span>
            </div>

            <div class="page-title">
                <h2 class="title">History</h2>
                <p class="text">More than 40 years of history, and new challenges beyond: GC Labs</p>
            </div>

            <div class="history-wrap tabcontrol-wrap">
                <div class="sub-visual">

                    <img src="../../../assets/images/visual-history-en-pc.png" class="sub-visual-pc" alt="GC녹십자 국민의 건강과 행복을 위해 달려온 GC녹십자의료재단의 순간">
                    <img src="../../../assets/images/visual-history-en-mo.png" class="sub-visual-mo" alt="GC녹십자 국민의 건강과 행복을 위해 달려온 GC녹십자의료재단의 순간">


                </div>

                <div class="tabs-wrap">
                    <ul class="tabs wide  ">

                        <li class="tab active">
                            <a href="#n"><span>2020’s</span></a>
                        </li>

                        <li class="tab ">
                            <a href="#n"><span>2010’s</span></a>
                        </li>

                        <li class="tab ">
                            <a href="#n"><span>2000’s</span></a>
                        </li>

                        <li class="tab ">
                            <a href="#n"><span>1980’s~90’s</span></a>
                        </li>

                    </ul>
                </div>




                <div class="tab-content history-content">
                    <div class="section-tab list-wrap active">
                        <p class="top-text"><!-- 글로벌 기업으로 도약하는 GC녹십자의료재단 --></p>
                        <ol class="lists">
                            <li class="item">
                                <strong class="year">2022</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">03</span>
                                            <div class="text">

                                                <p>Designated as a special health examination provider organization </p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">02</span>
                                            <div class="text">

                                                <p> Lab service agreement signed with ‘Bio Lab’, Bahrain for diagnostic test services</p>

                                                <p> Lab service agreement signed with ‘Biotrust’, Cambodia for diagnostic test services</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">01</span>
                                            <div class="text">

                                                <p> Lab service agreement signed with ‘Precision Medical Laboratory’, Jordan for diagnostic test services</p>

                                                <p> Lab service agreement extended with ‘Life Dx.’, UAE for diagnostic test services</p>

                                                <!-- <p>Changed to the infectious disease research center</p> -->

                                            </div>
                                        </div>
                                        <span class="img"><img src="../../../assets/images/history/2022.png" alt=""></span>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">2021</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">12</span>
                                            <div class="text">

                                                <p>MOU signed with 'MBD' for organoid solution-based chemo-responsiveness testing for carcinostatic materials</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">11</span>
                                            <div class="text">

                                                <p>MOU signed for COVID-19 diagnostic test support program consignment organization, operation of temporary selection clinics (7 clinics nationwide) </p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">10</span>
                                            <div class="text">

                                                <p>Operation of Korea Foundation for International Healthcare's government invitational training program ("Dr LEE Jong-wook Fellowship Program (Tuberculosis)") via government consignment</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">08</span>
                                            <div class="text">

                                                <p>Designated as a general health checkup provider</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">07</span>
                                            <div class="text">

                                                <p>MOU signed with 'KNCV Tuberculosis Foundation', an international non-profit organization specializing in tuberculosis, for cooperation in tuberculosis eradication work</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">06</span>
                                            <div class="text">

                                                <p>MOU signed with 'Qiagen Manchester Limited' for Day-one Lab readiness program</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">04</span>
                                            <div class="text">

                                                <p>Infectious Disease Research Center established</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">03</span>
                                            <div class="text">

                                                <p>Lab service agreement signed with ‘Alfa Lab’, Saudi Arabia for diagnostic test services</p>

                                                <p>Lab service agreement signed with ‘Hanoi Medical University Hospital’, Vietnam for diagnostic test services</p>

                                            </div>
                                        </div>
                                        <span class="img"><img src="../../../assets/images/history/2021.png" alt=""></span>

                                    </li>



                                    <!-- <li class="item2">
                                        <div class="inner">
                                            <span class="month">02</span>
                                            <div class="text">

                                                <p>Approval obtained as a COVID-19 testing institution</p>

                                            </div>
                                        </div>
                                        <span class="img"><img src="../../../assets/images/history/2021.png" alt=""></span>
                                    </li> -->


                                </ul>
                            </li>

                            <li class="item">
                                <strong class="year">2020</strong>
                                <ul class="list-detail">


                                    <!-- <li class="item2">
                                        <div class="inner">
                                            <span class="month">09</span>
                                            <div class="text">

                                                <p>MOU signed with UAE Life Diagnostics for diagnostic test services</p>

                                            </div>
                                        </div>
                                    </li> -->



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">08</span>
                                            <div class="text">

                                                <p>Eun-Hee Lee, M.D., Ph.D., MBA appointed as the Chairman of GC Labs</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">05</span>
                                            <div class="text">

                                                <p>Designated as the '1st Clinical performance testing institution' for in-vitro medical devices</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">02</span>
                                            <div class="text">

                                                <p>Certified as COVID-19 testing laboratory</p>

                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </li>
                        </ol>
                    </div><!--  // 2020 ~ -->
                    <div class="section-tab list-wrap">
                        <p class="top-text"><!-- 임상검사 분야의 새로운 미래와 비전을 준비 --></p>
                        <ol class="lists">
                            <li class="item">
                                <strong class="year">2019</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">07</span>
                                            <div class="text">

                                                <p>Lab service agreement signed with ‘PT INNOLAB SAINS INTERNASIONAL’, Indonesia for diagnostic test services</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">06</span>
                                            <div class="text">

                                                <p>Hosted ‘2019 GC Labs Symposium [Central Lab for the Clinical Trials in Precision Medicine Era]’</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">03</span>
                                            <div class="text">

                                                <p>Lab service agreement signed with ‘LEO Healthcare INTERNATIONAL CO.,LTD’, Myanmar based on diagnostic test services</p>

                                                <p>Acquisition of ISO 15189 Medical laboratories – Requirements for quality and competence</p>

                                            </div>
                                        </div>
                                        <span class="img"><img src="../../../assets/images/history/2019-2.png" alt=""></span>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">2018</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">10</span>
                                            <div class="text">

                                                <p>MOU agreement signed with 'LEO Healthcare International CO., Ltd', Myanmar for diagnostic test services</p>

                                                <p>Joined Global Diagnostics Network (GDN) as a Founding Member</p>

                                            </div>
                                        </div>

                                        <span class="img"><img src="../../../assets/images/history/2018-2.png" alt=""></span>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">06</span>
                                            <div class="text">

                                                <p>MOU agreement signed with 'Seoul National University Hospital (SNUH)' for joint research</p>

                                            </div>
                                        </div>
                                    </li>



                                    <!-- <li class="item2">
                                        <div class="inner">
                                            <span class="month">04</span>
                                            <div class="text">

                                                <p>Be selected as ‘Service pioneer promoting company in 2018’ (Export Voucher Program) governed by Ministry of Trade, Industry and Energy (MOTIE)</p>

                                            </div>
                                        </div>
                                        <span class="img"><img src="../../../assets/images/history/2018.png" alt=""></span>
                                    </li> -->


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">2017</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">11</span>
                                            <div class="text">

                                                <p>Lab service agreement signed with 'Futurelab', Saudi Arabia for diagnostic test service</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">10</span>
                                            <div class="text">

                                                <p>MOU signed with 'Thonburi Healthcare Group', Thailand</p>

                                                <p>MOU signed with 'Sudan Central Lab', Africa</p>

                                            </div>
                                        </div>
                                    </li>



                                    <!-- <li class="item2">
                                        <div class="inner">
                                            <span class="month">06</span>
                                            <div class="text">

                                                <p>Organic Metabolic Function Test (OAP) 5th generation reference constructed</p>

                                            </div>
                                        </div>
                                    </li> -->



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">04</span>
                                            <div class="text">

                                                <p>Joint operation of clinical laboratory with 'Nawaloka Hospital', Sri Lanka</p>

                                                <!-- <p>MOU signed with Dankook University Hospital for joint clinical trial</p> -->

                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">2016</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">08</span>
                                            <div class="text">

                                                <!-- <p>Green Cross Lab in Jeju (branch office) established</p> -->
                                                <p>Certified as Infectious disease & genetic test laboratory (by Ministry of Health and Welfare)</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">04</span>
                                            <div class="text">

                                                <p>Visited Iran as economic mission of South Korean entrepreneurs</p>

                                            </div>
                                        </div>
                                    </li>



                                    <!-- <li class="item2">
                                        <div class="inner">
                                            <span class="month">03</span>
                                            <div class="text">

                                                <p>Conducted of ‘Molecular Diagnostic Test’ in Gwang-Ju Green Cross Laboratories.</p>

                                            </div>
                                        </div>
                                    </li> -->



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">01</span>
                                            <div class="text">

                                                <p>Participated in ‘Arab Health 2016’, Dubai</p>

                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">2015</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">10</span>
                                            <div class="text">

                                                <p>Awarded '2015 KOREA ICT Innovation Awards' by minister in Ministry of Science, ICT and Future Planning</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">05</span>
                                            <div class="text">

                                                <p>Hold Ceremony of the 5th anniversary of opening & expansion of GwangJu Green Cross Laboratories.</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">03</span>
                                            <div class="text">

                                                <p>MOU signed with 'UAE Genetic Diseases Association (UAEGDA)', UAE</p>

                                                <p>MOU signed with 'IBV Inc.', Saudi Arabia</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">01</span>
                                            <div class="text">

                                                <p>Participated in ‘Arab Health 2015’, Dubai</p>

                                            </div>
                                        </div>
                                        <span class="img"><img src="../../../assets/images/history/2015.png" alt=""></span>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">2014</strong>
                                <ul class="list-detail">


                                    <!-- <li class="item2">
                                        <div class="inner">
                                            <span class="month">11</span>
                                            <div class="text">

                                                <p>Complex cultural space Open </p>

                                                <p>G-HR system Open</p>

                                            </div>
                                        </div>
                                    </li> -->
                                    <!-- <li class="item2">
                                        <div class="inner">
                                            <span class="month">10</span>
                                            <div class="text">

                                                <p>English Homepage Open</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">08</span>
                                            <div class="text">

                                                <p>Mobile Site Renewal</p>

                                            </div>
                                        </div>
                                    </li> -->



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">07</span>
                                            <div class="text">

                                                <p>Designated as health examination center for special health check-up</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">06</span>
                                            <div class="text">

                                                <p>Re-certified for ISO 9001:2000/14001:2004 (Quality/environmental management system)</p>

                                                <!-- <p>Korean official website renewal open</p> -->

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">05</span>
                                            <div class="text">

                                                <p>Expansion of Bio-bank</p>

                                            </div>
                                        </div>
                                    </li>

                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">04</span>
                                            <div class="text">

                                                <p>Awarded as the Best Asia Medical Service Award in Clinical Testing from 'Medical Asia 2014'</p>

                                                <!-- <p>Held the Donation Ceremony for the University-Industry Cooperation with Ewha Woman’s University</p> -->

                                                <p>Promote SOP (Standard Operating Procedure) campaign</p>

                                                <!-- <p>Promoting an establishment of an G-HR system</p> -->



                                            </div>
                                        </div>
                                    </li>

                                    <!-- <li class="item2">
                                        <div class="inner">
                                            <span class="month">03</span>
                                            <div class="text">

                                               <p>Promoting an establishment of an SAP FI system</p>

                                            </div>
                                        </div>
                                    </li> -->










                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">02</span>
                                            <div class="text">

                                                <p>Introduced 'Emergency specimen processing system' for Seoul metropolitan area</p>

                                                <p>Eun-Hee Lee, M.D., Ph.D. appointed as the Vice-chairperson of HOG (Harmonization Oversight Group) at ICHCLR (International Consortium for Harmonization of Clinical Laboratory Result), an affiliate organization to AACC (American Association for Clinical Chemistry)</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">01</span>
                                            <div class="text">

                                                <!-- <p>Signed employment-linked scholarship support agreement with Eulji University</p>

                                                <p>GC Labs & GC Lab Cell Customer Center launched</p> -->

                                                <p>Introduced OCR (Optical Character Recognition) system</p>

                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">2013</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">12</span>
                                            <div class="text">

                                                <p>Bio-Bank established</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">11</span>
                                            <div class="text">

                                                <p>Establishment of  'GLIS' - the next generation integrative lab system</p>
                                                <!-- <p>New Groupware System 'G-Net' introduced</p> -->

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">07</span>
                                            <div class="text">

                                                <p>MOU agreement signed with 'Bioneer Co., Ltd.' for Molecular diagnosis</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">06</span>
                                            <div class="text">

                                                <p>Appointed as a “demonstration agency for workplace drug testing standard plan”</p>

                                            </div>
                                        </div>
                                    </li>



                                    <!-- <li class="item2">
                                        <div class="inner">
                                            <span class="month">05</span>
                                            <div class="text">

                                                <p>Collaborative agreement signed with Ewha University’s Academy of Integrated Brain Science</p>

                                            </div>
                                        </div>
                                    </li> -->
                                    <!-- <li class="item2">
                                        <div class="inner">
                                            <span class="month">04</span>
                                            <div class="text">

                                                <p>Commencement of regular volunteer activity at “John’s House,” a rehabilitation institution for handicapped people</p>

                                            </div>
                                        </div>
                                    </li> -->



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">02</span>
                                            <div class="text">

                                                <p>Accredited ISBER(International Society for Biological and Environmental Repositories)</p>
                                                <!-- <p>Hosted a proclamation ceremony for innovation</p> -->

                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">2012</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">06</span>
                                            <div class="text">

                                                <p>Celebrated 30th anniversary hosting academic lecture and ceremony</p>

                                                <!-- <p>New CI (BI) & Vision proclaimed, GC Labs Brand launching</p>

                                                <p>Won the contract for studying urban cohort from Korea Centers for Disease Control and Prevention Urban Cohort, inspection/national affairs team created</p> -->

                                                <p>Agreement signed with 'Roche' for molecular pathology cancer testing'</p>

                                            </div>
                                        </div>

                                        <span class="img"><img src="../../../assets/images/history/2012.png" alt=""></span>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">2011</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">10</span>
                                            <div class="text">

                                                <p>Exclusive agreement signed with 'GeneMatrix Inc'. for highly esoteric molecular assays</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">08</span>
                                            <div class="text">

                                                <p>Awarded for 'Commendation in Clinical Testing' from 'Korea Health Industry Awards'</p>

                                                <p>Business expansion of Therapy CBB (Cord Blood Bank)</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">05</span>
                                            <div class="text">

                                                <p>Hosted 'International IFM (Integrated Functional Medicine) Seminar'</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">02</span>
                                            <div class="text">

                                                <p>Introduced new 'Total Laboratory Automation(TLA) system' for clinical testing</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">01</span>
                                            <div class="text">

                                                <p>Accredited G-EQUAS</p>

                                                <!-- <p>Business office constructed and expanded (Paju, Yongin, Mokpo, Gangreung, Gumi)</p> -->

                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">2010</strong>
                                <ul class="list-detail">


                                    <!-- <li class="item2">
                                        <div class="inner">
                                            <span class="month">12</span>
                                            <div class="text">

                                                <p>Awarded appreciation plaque for informationalization collaboration from Health Insurance Review & Assessment Service</p>

                                            </div>
                                        </div>
                                    </li> -->



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">09</span>
                                            <div class="text">

                                                <p>Green Cross Medical Genome Lab inaugurated</p>

                                            </div>
                                        </div>
                                    </li>



                                    <!-- <li class="item2">
                                        <div class="inner">
                                            <span class="month">07</span>
                                            <div class="text">

                                                <p>Extension on 4th floor of main office completed</p>

                                            </div>
                                        </div>
                                    </li> -->
                                    <!-- <li class="item2">
                                        <div class="inner">
                                            <span class="month">05</span>
                                            <div class="text">

                                                <p>Green Cross Lab in Gwangju (branch office) established</p>

                                            </div>
                                        </div>
                                    </li> -->

                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">02</span>
                                            <div class="text">

                                                <p>Strategic agreement signed with 'MetaMetrix Inc.' for Laboratory for integrated functional medicine</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">01</span>
                                            <div class="text">

                                                <p>Participated in ‘Arab Health 2010’, Dubai</p>

                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </li>
                        </ol>
                    </div> <!-- // 2010s-->
                    <div class="section-tab list-wrap">
                        <p class="top-text"><!-- 최상의 의료서비스로 임상검사의 발전과 국민보건향상에 기여 --></p>
                        <ol class="lists">
                            <li class="item">
                                <strong class="year">2009</strong>
                                <ul class="list-detail">


                                    <!-- <li class="item2">
                                        <div class="inner">
                                            <span class="month">09</span>
                                            <div class="text">

                                                <p>Web-based New GC-Labs system constructed</p>

                                            </div>
                                        </div>
                                    </li> -->



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">01</span>
                                            <div class="text">

                                                <p>Strategic agreement signed with 'C&R Research Inc.' a leading CRO in Korea</p>

                                                <p>Certified as bioequivalence test laboratory</p>

                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">2008</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">07</span>
                                            <div class="text">

                                                <p>Agreement signed with 'SRL Inc.', Japan</p>

                                                <p>Accredited ISO 9001 : 2008 (quality management system)</p>

                                                <p>Accredited ISO 14001 : 2004 (environmental management system)</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">05</span>
                                            <div class="text">

                                                <p>Accredited NGSP Level Ⅰ</p>

                                            </div>
                                        </div>
                                        <span class="img"><img src="../../../assets/images/history/2008.png" alt=""></span>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">2007</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">05</span>
                                            <div class="text">

                                                <p>Yi-Hyeok Kwon appointed as Chairman</p>

                                                <p>Eun-Hee Lee, M.D., Ph.D. appointed as President of GC Labs</p>

                                            </div>
                                        </div>
                                    </li>



                                    <!-- <li class="item2">
                                        <div class="inner">
                                            <span class="month">03</span>
                                            <div class="text">

                                                <p>Relocation and expansion of metabolic medical lab into the 3rd floor</p>

                                            </div>
                                        </div>
                                    </li> -->


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">2006</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">02</span>
                                            <div class="text">

                                                <p>The 1st to obtain patent of 'A method for analyzing tandem-mass data for clinical diagnosis' - extensive inherited metabolic disorder test for newborns</p>

                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">2005</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">12</span>
                                            <div class="text">

                                                <p>Accredited CAP certificate</p>

                                            </div>
                                        </div>

                                        <span class="img"><img src="../../../assets/images/history/2005.png" alt=""></span>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">11</span>
                                            <div class="text">

                                                <!-- <p>Hosted seminar for 1-year anniversary of the relocation of Green Cross Reference Lab - Suji lab</p> -->

                                                <p>Conducted quantitative tests on medulla incubation for hemodialysis and quantitative endotoxin test (Toxinometer, WACO, Japan)</p>

                                                <p>Conducted quantitative tests on physical stone analysis (FT-IR Spectrum, Perkin Elmer, USA)</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">09</span>
                                            <div class="text">

                                                <p>Introduced 'Flow cytometer FC 500' (Beckman Coulter, USA)</p>

                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">2004</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">11</span>
                                            <div class="text">

                                                <p>Lab expansion equipped with cutting edge facility </p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">10</span>
                                            <div class="text">

                                                <p>Introduced 'Total Laboratory Automation System' (GC LabCell, Bayer, USA)</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">09</span>
                                            <div class="text">

                                                <p>Introduced 'Automated fluorescence immunoassay equipment' (PhD, Bio-Rad, USA)</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">04</span>
                                            <div class="text">

                                                <p>Introduced latest cytology equipment 'ThinPrep system' </p>

                                            </div>
                                        </div>
                                        <span class="img"><img src="../../../assets/images/history/2004.png" alt=""></span>
                                    </li>


                                </ul>
                            </li>

                            <li class="item">
                                <strong class="year">2003</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">09</span>
                                            <div class="text">

                                                <p>Established Lifeline (family cord blood preservation and public cord blood bank)</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">06</span>
                                            <div class="text">

                                                <p>Exclusive business agreement signed with 'Quest Diagnostics Inc.', US</p>

                                                <!-- <p>Central Lab (clinical testing research) in business</p> -->

                                            </div>
                                        </div>
                                        <span class="img"><img src="../../../assets/images/history/2003.png" alt=""></span>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">2002</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">11</span>
                                            <div class="text">

                                                <p>The 1st to introduce 'Clustering computer system' in the field of clinical pathology</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">07</span>
                                            <div class="text">

                                                <p>Joined CDC (Centers for Disease Control and Prevention) as the 1st Korean medical institution</p>

                                                <!-- <p>Hae-ran Moon appointed as chairman</p> -->

                                            </div>
                                        </div>
                                        <span class="img"><img src="../../../assets/images/history/2002.png" alt=""></span>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">2001</strong>
                                <ul class="list-detail">


                                    <!-- <li class="item2">
                                        <div class="inner">
                                            <span class="month">06</span>
                                            <div class="text">

                                                <p>Conducted domestic extensive inherited metabolic disorder testing</p>

                                            </div>
                                        </div>
                                    </li> -->



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">02</span>
                                            <div class="text">

                                                <p>Received commendation from the Minister of Health and Welfare (for contributing to the development of organ transplants)</p>

                                                <p>Agreement signed with 'Neogen Corp.', US for collaboration and transfer of inherited metabolic disorder testing technology</p>

                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">2000</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">02</span>
                                            <div class="text">

                                                <p>Commissioned as national organ transplant management center and central lab for sample isolation and transportation</p>

                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </li>
                        </ol>
                    </div><!-- // 2000s-->
                    <div class="section-tab list-wrap">
                        <p class="top-text"><!-- 30년이상의 역사의 시작, 그리고 새로운 도전 --></p>
                        <ol class="lists">
                            <li class="item">
                                <strong class="year">1999</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">12</span>
                                            <div class="text">

                                                <p>Accredited ISO 9001 as the 1st Korean medical institution</p>

                                            </div>
                                        </div>
                                        <span class="img"><img src="../../../assets/images/history/1999.png" alt=""></span>
                                    </li>



                                    <!-- <li class="item2">
                                        <div class="inner">
                                            <span class="month">11</span>
                                            <div class="text">

                                                <p>Green Cross Health Care Center relocated</p>

                                            </div>
                                        </div>
                                    </li> -->

                                </ul>
                            </li>
                            <!-- <li class="item">
                                <strong class="year">1998</strong>
                                <ul class="list-detail"> -->
                            <!-- <li class="item2">
                                <div class="inner">
                                    <span class="month">06</span>
                                    <div class="text">

                                        <p>New computer system introduced</p>

                                    </div>
                                </div>
                            </li> -->
                            <!-- <li class="item2">
                                <div class="inner">
                                    <span class="month">05</span>
                                    <div class="text">

                                        <p>Yi-Hyeok Kwon appointed as chairman</p>

                                    </div>
                                </div>
                            </li> -->
                            <!-- </ul>
                            </li> -->
                            <li class="item">
                                <strong class="year">1997</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">09</span>
                                            <div class="text">

                                                <p>Established Genetic testing Lab (affiliated with Green Cross Reference Lab) </p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">08</span>
                                            <div class="text">

                                                <p>Designated as a participating organization in 'G7 project'</p>

                                            </div>
                                        </div>
                                    </li>



                                    <!-- <li class="item2">
                                        <div class="inner">
                                            <span class="month">07</span>
                                            <div class="text">

                                                <p>Sang-In Kim appointed as chairman</p>

                                            </div>
                                        </div>
                                    </li> -->



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">03</span>
                                            <div class="text">

                                                <p>Designated as the primary testing laboratory for inherited metabolic disorder</p>

                                            </div>
                                        </div>
                                    </li>



                                    <!-- <li class="item2">
                                        <div class="inner">
                                            <span class="month">01</span>
                                            <div class="text">

                                                <p>Jeju, Jinju, and Haenam branches established</p>

                                            </div>
                                        </div>
                                    </li> -->


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">1996</strong>
                                <ul class="list-detail">


                                    <!-- <li class="item2">
                                        <div class="inner">
                                            <span class="month">11</span>
                                            <div class="text">

                                                <p>Cheonan branch established</p>

                                            </div>
                                        </div>
                                    </li> -->



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">10</span>
                                            <div class="text">

                                                <p>Agreement signed with 'Seoul National University Hospital' for reference laboratory and local patient blood collection</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">02</span>
                                            <div class="text">

                                                <p>Technical cooperation with 'BML Inc.', Japan</p>

                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">1995</strong>
                                <ul class="list-detail">


                                    <!-- <li class="item2">
                                                                                       <div class="inner">
                                                                                           <span class="month">12</span>
                                                                                           <div class="text">

                                                                                               <p>Gyeongju, Suncheon branches established</p>

                                                                                           </div>
                                                                                       </div>
                                    </li> -->



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">05</span>
                                            <div class="text">

                                                <p>Recognized as an medical institution for health prevention program</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">01</span>
                                            <div class="text">

                                                <p>Conducted quality control for CAP (College of American Pathologists) survey</p>

                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">1994</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">02</span>
                                            <div class="text">

                                                <p>Designated as a certified medical institution for Drug testing for police officers (development and relocation of doping, heavy metals, and occupational disease testing)</p>

                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">1993</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">10</span>
                                            <div class="text">

                                                <p>Industry-University-Institute Collaboration research agreement signed with 'Korea Institute of Science and Technology (KIST)' and 'Seoul National University Hospital' </p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">05</span>
                                            <div class="text">

                                                <p>Technology cooperation with 'Archen Medical School', Germany</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">03</span>
                                            <div class="text">

                                                <p>"Joined National Committee for Clinical Laboratory Standard (NCCLS) as a formal member [currently called Clinical and Laboratory Standards Institute (CLSI)]"</p>

                                            </div>
                                        </div>
                                        <span class="img"><img src="../../../assets/images/history/1993.png" alt=""></span>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">1992</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">06</span>
                                            <div class="text">

                                                <p>Technology cooperation with 'Mayo Clinic', US</p>

                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">1991</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">07</span>
                                            <div class="text">

                                                <p>Technology cooperation with 'Mogam Biotechnology Research Institute' (genetic engineering technology)</p>

                                                <!-- <p>Human Testing Center (affiliated with Green Cross Reference Lab) established</p> -->

                                                <p>Established Green Cross Reference Lab </p>

                                                <!-- <p>Nam-Seob Heo appointed as chairman</p> -->

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">04</span>
                                            <div class="text">

                                                <p>Technology cooperation with 'MetPath Clinic', US</p>

                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">1990</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">06</span>
                                            <div class="text">

                                                <p>Introduced large-scale computers 'Prime 9650, 532, and etc.' </p>

                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">1989</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">05</span>
                                            <div class="text">

                                                <p>Designated as a research institution for psychotropic drugs by Korea National Institute of Health</p>

                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">1988</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">05</span>
                                            <div class="text">

                                                <p>Technology cooperation with 'Boehringer Mannheim', Germany for quality control</p>

                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">1987</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">11</span>
                                            <div class="text">

                                                <p>Designated as heavy metal testing institution by 'Avon Products Inc.', US</p>

                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">1986</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">08</span>
                                            <div class="text">

                                                <p>Introduced various computer systems for report of test results (established nationwide network)</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">07</span>
                                            <div class="text">

                                                <!-- <p>Busan, Daegu, Gwangju, Daejeon, Jeonju, Wonju, Masan, Yeosu, Pohang branches established</p> -->

                                                <p>Renamed as Green Cross Reference Lab (separated from Green Cross Corp.)</p>

                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">1985</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">05</span>
                                            <div class="text">

                                                <p>Established sisterhood relationship with 'Fusimoto Lab', Japan for testing technology </p>

                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">1984</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">11</span>
                                            <div class="text">

                                                <p>Designated for blood and drug testing in Korean Olympic Committee team members</p>

                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">1983</strong>
                                <ul class="list-detail">


                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">01</span>
                                            <div class="text">

                                                <p>Joined 'Korean Association of External Quality Assessment Service (KEQAS)'</p>

                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </li>
                            <li class="item">
                                <strong class="year">1982</strong>
                                <ul class="list-detail">


                                    <!-- <li class="item2">
                                        <div class="inner">
                                            <span class="month">12</span>
                                            <div class="text">

                                                <p>Received clearance for radioactive isotopes</p>

                                            </div>
                                        </div>
                                    </li> -->



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">10</span>
                                            <div class="text">

                                                <p>Recognized as a Reference laboratory</p>

                                            </div>
                                        </div>
                                    </li>



                                    <li class="item2">
                                        <div class="inner">
                                            <span class="month">07</span>
                                            <div class="text">

                                                <p>Green Cross Bio Science Lab established (1st commercial lab in Korea)</p>

                                            </div>
                                        </div>
                                        <span class="img"><img src="../../../assets/images/history/1982.png" alt=""></span>
                                    </li>


                                </ul>
                            </li>
                        </ol>
                    </div><!-- // ~ 1990s -->
                </div>

            </div>

        </div>
    </div>
</div>
