@{
    ViewBag.Title = "locations";
}

@{ var meta_sitesec = "GCLabs"; }
@{ var meta_sitename = "GC녹십자의료재단"; }
@{ var meta_title = "Loactions"; }
@{ var meta_Site_image = "http://121.140.143.35:4060/assets/images/gclabs-logo.png"; }
@{ var meta_description = "We at GC Labs thank you for your patronage."; }
@{ var meta_page_url = "http://121.140.143.35:4060/eng/about"; }
@{ var meta_keywords = "ABOUT, Loactions"; }
@{ var meta_twitter_site = ""; }


@section meta {
    <title>@meta_title</title>
    <meta name="description" content="@meta_description" />
    <meta name="keywords" content="@meta_keywords" />
    <meta property="og:title" content="@meta_title" />
    <meta property="og:type" content="웹 사이트" />
    <meta property="og:description" content="@meta_description" />
    <meta property="og:image" content="@meta_Site_image" />
    <meta property="og:url" content="@meta_page_url" />
    <meta property="og:site_name" content="@meta_sitename" />
    <meta name="twitter:card" content="요약" />
    <meta name="twitter:site" content="@meta_twitter_site" />
    <meta name="twitter:title" content="@meta_title" />
    <meta name="twitter:description" content="@meta_description" />
    <meta name="ms.sitename" content="@meta_sitename" />
    <meta name="ms.sitesec" content="@meta_sitesec" />
}
@section script {

    <script type="text/javascript" src="../../assets/lib/jquery-2.2.4.min.js"></script>
    <!-- Live List Layout -->
    <script type="text/javascript" src="../../assets/lib/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="../../assets/lib/slick.min.js"></script>
    <script type="text/javascript" src="../../assets/js/app.js"></script>


}

    <div id="container" class="container gclabs">
        <div class="contents-wrap">
            <div class="contents-inner">

                <div class="breadcrumb">
                    <span><a href="#">Home</a></span>


                    <span><a href="#">About</a></span>


                    <span class="current">Locations</span>
                </div>

                <div class="page-title">
                    <h2 class="title">Locations</h2>
                    <p class="text">We at GC Labs thank you for your patronage.</p>
                </div>


                <div class="tabs-wrap">
                    <ul class="tabs  wide type2 ">
                        <li class="tab active">
                            <a href="#n"><span>HQ</span></a><!-- 1 -->
                        </li>
                        <li class="tab ">
                            <a href="#n"><span>Gwangju Center</span></a>
                        </li>
                        <li class="tab ">
                            <a href="#n"><span>Jeju Center</span></a>
                        </li>
                        <li class="tab ">
                            <a href="#n"><span>GC i-MED</span></a>
                        </li>
                        <li class="tab ">
                            <a href="#n"><span>GC LabTech</span></a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content ">
                    <div class="section-tab  active">
                        <!-- 1 -->
                        <div class="section">
                            <div class=" location-wrap">
                                <!-- Central Laboratory -->
                                <div class="location-map">
                                    <div class="map-wrap">
                                        <div class="map-area">
                                            <img src="../../../assets/images/dummy/eng_map01_pc.png" class="img-map_pc" alt="">
                                            <img src="../../../assets/images/dummy/eng_map01_mo.png" class="img-map_mo" alt="">
                                        </div>
                                    </div>
                                    <div class="map-info">
                                        <span class="name"><em>HQ</em></span>
                                        <ul class="info dot-wrap">
                                            <li>
                                                <dl>
                                                    <dt>Address</dt>
                                                    <dd>107, Ihyeonro 30beon-gil, Giheung-gu, Yongin-si, Gyeonggi-do, South Korea(R.O.K)</dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl>
                                                    <dt>contact</dt>
                                                    <dd>
                                                        <span><em>Tel</em> +82-31-280-9908</span>
                                                        <span><em>Fax</em> +82-31-260-9232</span><br>
                                                        <span><em>E-mail</em> gclabsob@gclabs.co.kr</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- 1 -->

                    <div class="section-tab">
                        <!-- 2 -->
                        <div class="section">
                            <div class=" location-wrap">
                                <!-- Gwangju -->
                                <div class="location-map">
                                    <div class="map-wrap">
                                        <div class="map-area">
                                            <img src="../../../assets/images/dummy/eng_map02_pc.png" class="img-map_pc" alt="">
                                            <img src="../../../assets/images/dummy/eng_map02_mo.png" class="img-map_mo" alt="">
                                        </div>
                                    </div>
                                    <div class="map-info">
                                        <span class="name"><em>Gwangju Center</em></span>
                                        <ul class="info dot-wrap">
                                            <li>
                                                <dl>
                                                    <dt>Address</dt>
                                                    <dd>117, Bungmun-daero, Buk-gu, Gwangju, South Korea(R.O.K)</dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl>
                                                    <dt>contact</dt>
                                                    <dd>
                                                        <span><em>Tel</em> +82-62-511-3740</span>
                                                        <span><em>Fax</em> +82-70-8668-0301</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- 2 -->

                    <div class="section-tab">
                        <!-- 3 -->
                        <div class="section">
                            <div class=" location-wrap">
                                <!-- Jeju -->
                                <div class="location-map">
                                    <div class="map-wrap">
                                        <div class="map-area">
                                            <img src="../../../assets/images/dummy/eng_map03_pc.png" class="img-map_pc" alt="">
                                            <img src="../../../assets/images/dummy/eng_map03_mo.png" class="img-map_mo" alt="">
                                        </div>
                                    </div>
                                    <div class="map-info">
                                        <span class="name"><em>Jeju Center</em></span>
                                        <ul class="info dot-wrap">
                                            <li>
                                                <dl>
                                                    <dt>Address</dt>
                                                    <dd> 5, Gojeon-gil, Jeju-si, Jeju-do, South Korea(R.O.K)</dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl>
                                                    <dt>contact</dt>
                                                    <dd>
                                                        <span><em>Tel</em> +82-64-900-9227</span>
                                                        <span><em>Fax</em> +82-70-4369-0920</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- 3 -->

                    <div class="section-tab">
                        <!-- 4 -->
                        <div class="section">
                            <div class=" location-wrap">
                                <!-- GC i-MED -->
                                <div class="location-map">
                                    <div class="map-wrap">
                                        <div class="map-area">
                                            <img src="../../../assets/images/dummy/eng_map04_pc.png" class="img-map_pc" alt="">
                                            <img src="../../../assets/images/dummy/eng_map04_mo.png" class="img-map_mo" alt="">
                                        </div>
                                    </div>
                                    <div class="map-info">
                                        <span class="name"><em>GC i-MED</em></span>
                                        <ul class="info dot-wrap">
                                            <li>
                                                <dl>
                                                    <dt>Address</dt>
                                                    <dd> 4F~5F, 12, Seocho-daero 38-gil, Seocho-gu, Seoul, South Korea(R.O.K)</dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl>
                                                    <dt>contact</dt>
                                                    <dd>
                                                        <span><em>Fax</em> +82-2-3472-0677</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl>
                                                    <dt>Address</dt>
                                                    <dd> East Bldg, 170, Eulji-ro, Jung-gu, Seoul, South Korea(R.O.K)</dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl>
                                                    <dt>contact</dt>
                                                    <dd>
                                                        <span><em>Fax</em> +82-2-6711-8799</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- 4 -->

                    <div class="section-tab">
                        <!-- 5 -->
                        <div class="section">
                            <div class=" location-wrap">
                                <!-- GC Labtech -->
                                <div class="location-map">
                                    <div class="map-wrap">
                                        <div class="map-area">
                                            <img src="../../../assets/images/dummy/eng_map05_pc.png" class="img-map_pc" alt="">
                                            <img src="../../../assets/images/dummy/eng_map05_mo.png" class="img-map_mo" alt="">
                                        </div>
                                    </div>
                                    <div class="map-info">
                                        <span class="name"><em>GC LabTech</em></span>
                                        <ul class="info dot-wrap">
                                            <li>
                                                <dl>
                                                    <dt>Address</dt>
                                                    <dd> 485 Spencer Lane San Antonio TX 78201</dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl>
                                                    <dt>contact</dt>
                                                    <dd>
                                                        <span><em>Tel</em> (210) 405-GCLT (4258)</span>
                                                        <span><em>E-mail</em> info@gclabt.com</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- 5 -->

                </div>

            </div>
        </div>
    </div>